20180306/XSD_Inbound/PTX_Common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 rel. 3 sp1 (x64) (http://www.altova.com) by YI JIE WU (International Integrated Systems, Inc. (IISI)) -->
<xs:schema xmlns="http://ptx.transportdata.tw/standard/schema/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ptx.transportdata.tw/standard/schema/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="ptx_1stlayer">
	<xs:include schemaLocation="Air/PTX_Air.xsd"/>
	<xs:include schemaLocation="Bike/PTX_Bike.xsd"/>
	<xs:include schemaLocation="Bus/PTX_Bus.xsd"/>
	<xs:include schemaLocation="Rail/PTX_Rail.xsd"/>
	<!--=======[1st Layer Common Type]=======-->
	<xs:complexType name="OperatorType">
		<xs:annotation>
			<xs:documentation>營運業者資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OperatorID" type="xs:string">
				<xs:annotation>
					<xs:documentation>營運業者代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatorCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>營運業者簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatorName" type="NameType">
				<xs:annotation>
					<xs:documentation>營運業者名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatorPhone" type="xs:string">
				<xs:annotation>
					<xs:documentation>營運業者連絡電話</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatorEmail" type="xs:string">
				<xs:annotation>
					<xs:documentation>營運業者電子信箱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatorURL" type="xs:anyURI">
				<xs:annotation>
					<xs:documentation>營運業者網址鏈結</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FareURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>營運業者票價相關網站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReservationURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>營運業者訂票網站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReservationPhone" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>營運業者訂票電話</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatorLogoURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>營運業者Logo網址</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuthorityType">
		<xs:annotation>
			<xs:documentation>業管機關資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AuthorityID" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityName" type="NameType">
				<xs:annotation>
					<xs:documentation>業管機關名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityPhone" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關連絡電話</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityEmail" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關電子信箱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityURL" type="xs:anyURI">
				<xs:annotation>
					<xs:documentation>業管機關網址鏈結</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NetworkMapURLType">
		<xs:annotation>
			<xs:documentation>路網圖網址URL型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MapName" type="xs:string">
				<xs:annotation>
					<xs:documentation>路網圖名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Zh_tw" type="xs:anyURI">
				<xs:annotation>
					<xs:documentation>路網圖網址URL(中文版)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="En" type="xs:anyURI">
				<xs:annotation>
					<xs:documentation>路網圖網址URL(英文版)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProviderType">
		<xs:annotation>
			<xs:documentation>資料提供平台資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ProviderID" type="xs:string">
				<xs:annotation>
					<xs:documentation>資料提供平台代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProviderName" type="NameType">
				<xs:annotation>
					<xs:documentation>資料提供平台名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProviderPhone" type="xs:string">
				<xs:annotation>
					<xs:documentation>資料提供平台連絡電話</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProviderEmail" type="xs:string">
				<xs:annotation>
					<xs:documentation>資料提供平台電子信箱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProviderURL" type="xs:anyURI">
				<xs:annotation>
					<xs:documentation>資料提供平台網址鏈結</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameType">
		<xs:annotation>
			<xs:documentation>名稱資料型別(primary-code ISO 639)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Zh_tw" type="xs:string" minOccurs="1">
				<xs:annotation>
					<xs:documentation>中文繁體名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="En" type="xs:string">
				<xs:annotation>
					<xs:documentation>英文名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Zh_cn" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>中文簡體名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ja" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>日文名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ko" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>韓文名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PointType">
		<xs:annotation>
			<xs:documentation>座標資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PositionLat">
				<xs:annotation>
					<xs:documentation>位置緯度(WGS84)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:double">
						<xs:pattern value="[0-9]*(.[0-9]{5})"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PositionLon">
				<xs:annotation>
					<xs:documentation>位置ˋ經度(WGS84)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:double">
						<xs:pattern value="[0-9]*(.[0-9]{5})"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FareType">
		<xs:annotation>
			<xs:documentation>票價物件資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TicketType" type="TicketTypeEnum">
				<xs:annotation>
					<xs:documentation>票種類型(例如:一般票、來回票、電子票證、回數票、定期票等)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FareClass" type="FareClassEnum">
				<xs:annotation>
					<xs:documentation>費率等級(例如:成人、學生、孩童、敬老等)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CabinClass" type="xs:integer">
				<xs:annotation>
					<xs:documentation>艙等</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Price" type="xs:integer">
				<xs:annotation>
					<xs:documentation>收費價格(新台幣)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceDayType">
		<xs:annotation>
			<xs:documentation>週內營運日資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ServiceTag" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>營運日標籤，例如:平日，假日，國定假日等自訂標籤名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Monday" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>星期一營運與否</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tuesday" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>星期二營運與否</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Wednesday" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>星期三營運與否</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Thursday" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>星期四營運與否</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Friday" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>星期五營運與否</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Saturday" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>星期六營運與否</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sunday" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>星期日營運與否</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NationalHolidays" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>國定假日營運與否</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DayBeforeHoliday" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>假日前一日營運與否</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DayAfterHoliday" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>假日後一日營運與否</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TyphoonDay" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>颱風停止上班上課期間營運與否</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SpecialDayType">
		<xs:annotation>
			<xs:documentation>特殊營運日資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Dates">
				<xs:annotation>
					<xs:documentation>不連續特殊日期</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Date" type="xs:date" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DatePeriod">
				<xs:annotation>
					<xs:documentation>連續特殊日期</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StartDate" type="xs:date">
							<xs:annotation>
								<xs:documentation>開始日期</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="EndDate" type="xs:date">
							<xs:annotation>
								<xs:documentation>結束日期</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ServiceStatus" type="RailServiceStatusEnum">
				<xs:annotation>
					<xs:documentation>營運服務狀態代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Descricption" type="xs:string">
				<xs:annotation>
					<xs:documentation>特殊營運描述</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HeadwayType">
		<xs:annotation>
			<xs:documentation>營運班距資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StartTime" type="xs:string">
				<xs:annotation>
					<xs:documentation>開始時間HH:mm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndTime" type="xs:string">
				<xs:annotation>
					<xs:documentation>結束時間HH:mm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaxHeadwayMins" type="xs:integer">
				<xs:annotation>
					<xs:documentation>最大班距時間(分鐘)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MinHeadwayMins" type="xs:integer">
				<xs:annotation>
					<xs:documentation>最小班距時間(分鐘)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PeakFlag" type="PeakFlagEnum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>尖/離峰狀態</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=======[ModeTransfer]========-->
	<xs:complexType name="ModeTransferType">
		<xs:annotation>
			<xs:documentation>跨運具轉乘資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ExitID" type="xs:string">
				<xs:annotation>
					<xs:documentation>出口代號</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExitName" type="NameType">
				<xs:annotation>
					<xs:documentation>出口名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RailTransfers">
				<xs:annotation>
					<xs:documentation>軌道跨運具轉乘</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RailTransfer" type="RailTransferType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BusTransfers">
				<xs:annotation>
					<xs:documentation>公車跨運具轉乘</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BusTransfer" type="BusTransferType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BikeTransfers">
				<xs:annotation>
					<xs:documentation>自行車跨運具轉乘</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BikeTransfer" type="BikeTransferType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AirportTransfers">
				<xs:annotation>
					<xs:documentation>機場跨運具轉乘</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AirportTransfer" type="AirportTransferType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TaxiTransfers">
				<xs:annotation>
					<xs:documentation>計程車跨運具轉乘</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TaxiTransfer" type="TaxiTransferType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ParkingTransfers">
				<xs:annotation>
					<xs:documentation>停車場跨運具轉乘</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ParkingTransfer" type="ParkingTransferType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FerryTransfers">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FerryTransfer" type="FerryTransferType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailTransferType">
		<xs:annotation>
			<xs:documentation>軌道運具轉乘資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Mode" type="ModeEnum">
				<xs:annotation>
					<xs:documentation>轉乘運具種類</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatorCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>營運業者簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatorName" type="xs:string">
				<xs:annotation>
					<xs:documentation>營運業者名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationID" type="xs:string">
				<xs:annotation>
					<xs:documentation>營運業者名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationName" type="xs:string">
				<xs:annotation>
					<xs:documentation>營運業者名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransferTime" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>轉乘耗時(分鐘為單位)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FloorLevel" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>樓層</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RailTransferDescription" type="xs:string">
				<xs:annotation>
					<xs:documentation>相關輔助性文字描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsOnSiteTransfer" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>站內轉乘與否(0=站外,1=站內)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailTransferListType">
		<xs:annotation>
			<xs:documentation>軌道運具轉乘資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RailTransfers">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RailTransfer" type="RailTransferType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BikeTransferType">
		<xs:annotation>
			<xs:documentation>公共自行車轉乘資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Mode" type="ModeEnum">
				<xs:annotation>
					<xs:documentation>轉乘運具種類</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Operator" type="OperatorType">
				<xs:annotation>
					<xs:documentation>營運單位</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BikeStation" type="BikeStationType">
				<xs:annotation>
					<xs:documentation>自行車車站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransferTime" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>轉乘耗時(分鐘為單位)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FloorLevel" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>樓層</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BikeTransferDescription" type="xs:string">
				<xs:annotation>
					<xs:documentation>相關輔助性文字描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsOnSiteTransfer" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>站內轉乘與否(0=站外,1=站內)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BikeTransferListType">
		<xs:annotation>
			<xs:documentation>公共自行車轉乘資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BikeTransfers">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BikeTransfer" type="BikeTransferType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AirportTransferType">
		<xs:annotation>
			<xs:documentation>機場轉乘資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Mode" type="ModeEnum">
				<xs:annotation>
					<xs:documentation>轉乘運具種類</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Operator" type="OperatorType">
				<xs:annotation>
					<xs:documentation>營運單位</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Airport" type="AirportType">
				<xs:annotation>
					<xs:documentation>航空機場</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransferTime" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>轉乘耗時(分鐘為單位)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FloorLevel" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>樓層</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirportTransferDescription" type="xs:string">
				<xs:annotation>
					<xs:documentation>相關輔助性文字描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsOnSiteTransfer" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>站內轉乘與否(0=站外,1=站內)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AirportTransferListType">
		<xs:annotation>
			<xs:documentation>機場轉乘資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AirportTransfers">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AirportTransfer" type="AirportTransferType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BusTransferType">
		<xs:annotation>
			<xs:documentation>公車轉乘資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Mode" type="ModeEnum">
				<xs:annotation>
					<xs:documentation>轉乘運具種類</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Authority" type="AuthorityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>業管單位</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Operator" type="OperatorType">
				<xs:annotation>
					<xs:documentation>營運單位</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BusRoute" type="BusRouteType">
				<xs:annotation>
					<xs:documentation>公車路線</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BusStop" type="BusStopType">
				<xs:annotation>
					<xs:documentation>公車站牌</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransferTime" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>轉乘耗時(分鐘為單位)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FloorLevel" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>樓層</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BusTransferDescription" type="xs:string">
				<xs:annotation>
					<xs:documentation>相關輔助性文字描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsOnSiteTransfer" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>站內轉乘與否(0=站外,1=站內)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Platform" minOccurs="0">
				<xs:annotation>
					<xs:documentation>月台</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BusTransferListType">
		<xs:annotation>
			<xs:documentation>公車轉乘資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BusTransfers">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BusTransfer" type="BusTransferType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ParkingTransferType">
		<xs:annotation>
			<xs:documentation>停車場站點</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CarParkUID" type="xs:string">
				<xs:annotation>
					<xs:documentation>PTX停車場獨一代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CarParkStationID" type="xs:string">
				<xs:annotation>
					<xs:documentation>地區既用中之停車場代號</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Operator" type="OperatorType">
				<xs:annotation>
					<xs:documentation>營運業者資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CarParkStationName" type="NameType">
				<xs:annotation>
					<xs:documentation>停車場名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CarParkPosition" type="PointType">
				<xs:annotation>
					<xs:documentation>停車場位置</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CarParkAddress" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>停車場地址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CarParkDescription" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>停車場詳細說明描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransferTime" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>轉乘耗時(分鐘為單位)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FloorLevel" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>樓層</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ParkingTransfeDescription" type="xs:string">
				<xs:annotation>
					<xs:documentation>相關輔助性文字描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsOnSiteTransfer" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>站內轉乘與否(0=站外,1=站內)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ParkingTransferListType">
		<xs:annotation>
			<xs:documentation>停車場站點資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ParkingTransfers">
				<xs:annotation>
					<xs:documentation>停車場站點</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ParkingTransfer" type="ParkingTransferType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxiTransferType">
		<xs:annotation>
			<xs:documentation>計程車招呼站</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StationUID" type="xs:string">
				<xs:annotation>
					<xs:documentation>PTX站點獨一代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationID" type="xs:string">
				<xs:annotation>
					<xs:documentation>地區既用中之站點代號</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationName" type="NameType">
				<xs:annotation>
					<xs:documentation>站點名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationPosition" type="PointType">
				<xs:annotation>
					<xs:documentation>站點位置</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationAddress" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>站點地址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationDescription" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>站點詳細說明描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransferTime" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>轉乘耗時(分鐘為單位)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FloorLevel" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>樓層</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxiTransferDescription" type="xs:string">
				<xs:annotation>
					<xs:documentation>相關輔助性文字描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsOnSiteTransfer" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>站內轉乘與否(0=站外,1=站內)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxiTransferListType">
		<xs:annotation>
			<xs:documentation>計程車招呼站資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TaxiTransfers">
				<xs:annotation>
					<xs:documentation>計程車招呼站</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TaxiTransfer" type="TaxiTransferType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FerryTransferType">
		<xs:annotation>
			<xs:documentation>航運站點基本資料</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Mode" type="ModeEnum">
				<xs:annotation>
					<xs:documentation>轉乘運具種類</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatorCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>營運業者代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatorName" type="NameType">
				<xs:annotation>
					<xs:documentation>營運業者名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FerryStationID">
				<xs:annotation>
					<xs:documentation>航運站ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FerryStationName">
				<xs:annotation>
					<xs:documentation>航運站名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransferTime" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>轉乘耗時(分鐘為單位)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FloorLevel" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>樓層</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FerryTransferDescription" type="xs:string">
				<xs:annotation>
					<xs:documentation>相關輔助性文字描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsOnSiteTransfer" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>站內轉乘與否(0=站外,1=站內)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=======[Route Type Group]========-->
	<xs:simpleType name="ModeEnum">
		<xs:annotation>
			<xs:documentation>[運具型別分類代碼] Air=航空 Bus=公路 Rail=軌道   Bike=公共自行車 Parking=停車場 Taxi=計程車招呼站</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Air"/>
			<xs:enumeration value="Bus"/>
			<xs:enumeration value="Rail"/>
			<xs:enumeration value="Bike"/>
			<xs:enumeration value="Parking"/>
			<xs:enumeration value="Taxi"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AirFlightTypeEnum">
		<xs:annotation>
			<xs:documentation>[航空運具航班種類分類代碼]
			========
			Air:01-09     
			01國際 
			02國內 
			03兩岸 
			04國際包機 
			05國內包機 
			06兩岸包機
			07貨機 
			08-09特殊(保留)
 </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-0][1-9]"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="-2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RailRouteTypeEnum">
		<xs:annotation>
			<xs:documentation>[軌道運具路線種類分類代碼]
			=======
			Rail:31-49
			 31傳統鐵路(Inter Regional Rail)
			32高速鐵路(High Speed Rail)
			33都市捷運(MRT)
			34機場捷運(Airport-Link MRT)
			35城市輕軌(Light Rail)
			36登山鐵路(Funicular)
			40-49 特殊(保留)
 </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[3-4][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BusRouteTypeEnum">
		<xs:annotation>
			<xs:documentation>[公車路線種類主要分類代碼]
			========
			Bus:11-29
			11市區公車 
			12公路客運 
			13國道客運 
 </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BusSubRouteTypeEnum">
		<xs:annotation>
			<xs:documentation>[公車路線種類次要分類代碼]
			========
			Bus:14-29
			14台灣好行 
			15高鐵接駁 
			16BRT 
			17機場客運 
			18地標接駁 
			19遊覽車 
			20免費公車
			21醫療公車
			22-29特殊(保留)
 </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="18"/>
			<xs:enumeration value="19"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="23"/>
			<xs:enumeration value="24"/>
			<xs:enumeration value="25"/>
			<xs:enumeration value="26"/>
			<xs:enumeration value="27"/>
			<xs:enumeration value="28"/>
			<xs:enumeration value="29"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=======[ Enum Type Group]=======-->
	<xs:simpleType name="StopLocationTypeEnum">
		<xs:annotation>
			<xs:documentation>[站牌與站位型態]
			blank = Stop,
			0= Stop, 
			1=Station
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DirectionEnum">
		<xs:annotation>
			<xs:documentation>[方向]
			公車運具:0=去程, 1=返程,2=迴圈
			軌道運具:0=去程, 1=返程,2=雙向
			高鐵運具:0=南下, 1=北上,2=雙向
			台鐵運具:0=順行, 1=逆行,2=雙向
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FarePricingTypeEnum">
		<xs:annotation>
			<xs:documentation>[公車收費型態]
			SectionFare=段次收費,ODFares=里程收費,StageFares=區間收費</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="SectionFare"/>
			<xs:enumeration value="ODFares"/>
			<xs:enumeration value="StageFares"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PeakFlagEnum">
		<xs:annotation>
			<xs:documentation>[尖離峰代碼]
			0=離峰,1=尖峰</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean">
			<xs:pattern value="0"/>
			<xs:pattern value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HolidayFlagEnum">
		<xs:annotation>
			<xs:documentation>[平日例假日代碼]
			0=平日,1=例假日</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean">
			<xs:pattern value="0"/>
			<xs:pattern value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServiceTypeEnum">
		<xs:annotation>
			<xs:documentation>[例外營運作業方式代碼]
			0=正常,1=取消/停駛,2=加班</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TicketTypeEnum">
		<xs:annotation>
			<xs:documentation>[票種類型代碼]
			1:一般票(Regular Ticket) 
			2:來回票(Round Trip Ticket)
			3:電子票證(Electronic Ticket)
			4:回數票(Multi-Ride Ticket)
			5:早鳥票(Early Bird Ticket)
			6:定期票(Periodic Ticket)
			7:定期票30天(Periodic Ticket in 30 Days)
			8:定期票60天(Periodic Ticket in 60 Days)
			9:飯店套票(Hotel Package)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FareClassEnum">
		<xs:annotation>
			<xs:documentation>[費率等級代碼]
			1:成人(Adult) 
			2:學生(Student)
			3:孩童(Child)
			4:敬老(Senior)
			5:愛心(Disabled)
			6:愛心孩童(Disabled Child)
			7:愛心優待/愛心陪伴(Disabled Concession)
			8:團體(Group)
			9:軍警(Military/Policy)			
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlertLevelEnum">
		<xs:annotation>
			<xs:documentation>[動態事件影響等級代碼]
			1=重度,2=中度,3=輕度</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LanguageEnum">
		<xs:annotation>
			<xs:documentation>[語系]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Zh_tw"/>
			<xs:enumeration value="En"/>
			<xs:enumeration value="Zh_cn"/>
			<xs:enumeration value="Ja"/>
			<xs:enumeration value="Ko"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NewsCategoryEnum">
		<xs:annotation>
			<xs:documentation>[消息類別]
				1:最新消息(預設)
				2:新聞稿
				3:營運資訊
				4:轉乘資訊
				5:活動訊息
				6:系統公告
				7:其他
</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BearingEnum">
		<xs:annotation>
			<xs:documentation>[方位代碼]
			N：北向
			NE：東北向
			E：東向
			SE：東南向
			S：南向
			SW：西南向
			W：西向
			NW：西北向</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="N"/>
			<xs:enumeration value="NE"/>
			<xs:enumeration value="E"/>
			<xs:enumeration value="SE"/>
			<xs:enumeration value="W"/>
			<xs:enumeration value="SW"/>
			<xs:enumeration value="S"/>
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	<!--=======[ Pattern Data Type]=======-->
	<xs:simpleType name="PhoneType">
		<xs:annotation>
			<xs:documentation>[電話格式]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0][0-9]{1,2}-[0-9]{6,8}#?([0-9]*)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EmailType">
		<xs:annotation>
			<xs:documentation>[電子信箱格式]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value=".*@.*[.].*"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=======[ Common Data List Type]=======-->
	<xs:complexType name="ProviderListType">
		<xs:annotation>
			<xs:documentation>資料提供平台資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Providers">
				<xs:annotation>
					<xs:documentation>資料提供平台</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Provider" type="ProviderType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>資料提供平台</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuthorityListType">
		<xs:annotation>
			<xs:documentation>業管機關資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Authorities">
				<xs:annotation>
					<xs:documentation>業管機關</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Authority" type="AuthorityType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OperatorListType">
		<xs:annotation>
			<xs:documentation>營運業者資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Operators">
				<xs:annotation>
					<xs:documentation>營運業者</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Operator" type="OperatorType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>營運業者</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
