20180306/XSD/Air/PTX_Air.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 rel. 3 sp1 (x64) (http://www.altova.com) by YI JIE WU (International Integrated Systems, Inc. (IISI)) -->
<xs:schema xmlns="http://ptx.transportdata.tw/standard/schema/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ptx.transportdata.tw/standard/schema/" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="2.0" id="PTX_Air">
	<!-- ===Dependencies ======================================= -->
	<xs:include schemaLocation="../PTX_Common.xsd"/>
	<xs:include schemaLocation="PTX_Air_Code.xsd"/>
	<!--=======[2nd Layer AirData Type]=======-->
	<xs:complexType name="AirportType">
		<xs:annotation>
			<xs:documentation>航空機場資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AirportID" type="xs:string">
				<xs:annotation>
					<xs:documentation>機場代碼(IATA)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirportName" type="NameType">
				<xs:annotation>
					<xs:documentation>機場名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirportIATA" type="AirportCodeEnum_IATA">
				<xs:annotation>
					<xs:documentation>機場IATA國際代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirportICAO" type="AirportCodeEnum_ICAO">
				<xs:annotation>
					<xs:documentation>機場ICAO國際代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirportNationality" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>機場國籍</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirportPosition" type="PointType">
				<xs:annotation>
					<xs:documentation>機場位置</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirportCityName" type="NameType">
				<xs:annotation>
					<xs:documentation>機場所屬城市</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirportAddress" type="xs:string" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>機場地址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirportPhone" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>機場聯繫電話</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AirlineType">
		<xs:annotation>
			<xs:documentation>航空公司資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="AirlineID" type="xs:string">
				<xs:annotation>
					<xs:documentation>航空公司代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirlineName" type="NameType">
				<xs:annotation>
					<xs:documentation>航空公司名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirlineNameAlias" type="NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>航空公司簡稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirlineIATA" type="AirlineCodeEnum_IATA">
				<xs:annotation>
					<xs:documentation>航空公司IATA國際代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirlineICAO" type="AirlineCodeEnum_ICAO">
				<xs:annotation>
					<xs:documentation>航空公司ICAO國際代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirlineEmail" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>航空公司電子信箱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirlineAddress" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>航空公司地址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirlinePhone" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>航空公司聯繫電話</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirlineNationality" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>航空公司國籍</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirlineURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>航空公司網址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirlineLogoURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>航空公司Logo網址</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AirRouteType">
		<xs:annotation>
			<xs:documentation>航空航線資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="AirRouteID" type="xs:string">
				<xs:annotation>
					<xs:documentation>航線代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirRouteName" type="NameType">
				<xs:annotation>
					<xs:documentation>航線名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirRouteDescription" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>航線描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Airline" type="AirlineType">
				<xs:annotation>
					<xs:documentation>航空公司資訊</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsCodeSharing" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>是否為聯營航線(0:否,1:是)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartAirport" type="AirportType">
				<xs:annotation>
					<xs:documentation>出境航線機場</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndAirport" type="AirportType">
				<xs:annotation>
					<xs:documentation>離境航線機場</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirFlightType" type="AirFlightTypeEnum">
				<xs:annotation>
					<xs:documentation>航班種類，1:國際, 2:國內, 3:兩岸, 4:國際包機, 5:國內包機, 6:兩岸包機,-2:特殊</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirRouteMapURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>航線路線圖網址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RouteDistance" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>飛行哩程(哩)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AirFlightLegOfRouteType">
		<xs:annotation>
			<xs:documentation>航空航線航段資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FlightLegID" type="xs:string">
				<xs:annotation>
					<xs:documentation>航線航段代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlightLegName" type="NameType">
				<xs:annotation>
					<xs:documentation>航線航段名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FromAirport" type="AirportType">
				<xs:annotation>
					<xs:documentation>航線航段起點機場</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ToAirport" type="AirportType">
				<xs:annotation>
					<xs:documentation>航線航段迄點機場</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlightDistance" type="xs:double">
				<xs:annotation>
					<xs:documentation>航線航段飛航哩程</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FIDSType">
		<xs:annotation>
			<xs:documentation>航空航班顯示資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Airport" type="AirportType">
				<xs:annotation>
					<xs:documentation>機場代碼(IATA)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FIDSDepartures">
				<xs:annotation>
					<xs:documentation>出發航班顯示資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FIDSDeparture" type="FIDSDepartureType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>出發航班顯示資料</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FIDSArrivals">
				<xs:annotation>
					<xs:documentation>抵達航班顯示資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FIDSArrival" type="FIDSArrivalType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>抵達航班顯示資料</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新日期時間</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FIDSDepartureType">
		<xs:annotation>
			<xs:documentation>航空出發航班顯示資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FlightDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>航班日期(ISO8601格式:yyyy-MM-dd)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlightNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>航機班號</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirFlightType" type="AirFlightTypeEnum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>航班種類(目前民航局與桃機的FIDS系統都尚未提供此欄位資料) = [&apos;1: 國際&apos; or &apos;2: 國內&apos; or &apos;3: 兩岸&apos; or &apos;4: 國際包機&apos; or &apos;5: 國內包機&apos; or &apos;6: 兩岸包機&apos; or &apos;-2: 特殊&apos;],</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Airline" type="AirlineType">
				<xs:annotation>
					<xs:documentation>航空公司資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepartureAirport" type="AirportType">
				<xs:annotation>
					<xs:documentation>起點機場(City+Airport)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArrivalAirport" type="AirportType">
				<xs:annotation>
					<xs:documentation>目的地機場(City+Airport)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScheduleDepartureTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>表訂出發時間(ISO8601格式:yyyy-MM-ddTHH:mm)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EstimatedDepartureTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>預估出發時間(ISO8601格式:yyyy-MM-ddTHH:mm)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActualDepartureTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>實際出發時間(ISO8601格式:yyyy-MM-ddTHH:mm)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepartureRemark" type="xs:string">
				<xs:annotation>
					<xs:documentation>航班屬性狀態,為該機場觀點的狀態</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlightStatusPC" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>航班運行狀態百分比(國內線)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlightStatus" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>航班運行狀態,以航班的角度的狀態</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Terminal" type="xs:string">
				<xs:annotation>
					<xs:documentation>航廈</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gate" type="xs:string">
				<xs:annotation>
					<xs:documentation>登機門</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CodeShares">
				<xs:annotation>
					<xs:documentation>航班共用班號</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FlightNumber" type="xs:string" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="IsCargo" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>是否為貨機</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AircraftType" type="xs:string">
				<xs:annotation>
					<xs:documentation>航空器型號</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CheckInCounter" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>報到櫃檯</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FIDSArrivalType">
		<xs:annotation>
			<xs:documentation>航空抵達航班顯示資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FlightDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>航班日期(ISO8601格式:yyyy-MM-dd)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlightNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>航機班號</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirFlightType" type="AirFlightTypeEnum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>航班種類(目前民航局與桃機的FIDS系統都尚未提供此欄位資料) = [&apos;1: 國際&apos; or &apos;2: 國內&apos; or &apos;3: 兩岸&apos; or &apos;4: 國際包機&apos; or &apos;5: 國內包機&apos; or &apos;6: 兩岸包機&apos; or &apos;-2: 特殊&apos;],</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Airline" type="AirlineType">
				<xs:annotation>
					<xs:documentation>航空公司資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepartureAirport" type="AirportType">
				<xs:annotation>
					<xs:documentation>起點機場(City+Airport)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArrivalAirport" type="AirportType">
				<xs:annotation>
					<xs:documentation>目的機場(City+Airport)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScheduleArrivalTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>表訂抵達時間(ISO8601格式:yyyy-MM-ddTHH:mm)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EstimatedArrivalTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>預估抵達時間(ISO8601格式:yyyy-MM-ddTHH:mm) ,</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActualArrivalTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>實際抵達時間(ISO8601格式:yyyy-MM-ddTHH:mm)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArrivalRemark" type="xs:string">
				<xs:annotation>
					<xs:documentation>航班屬性狀態,為該機場觀點的狀態</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlightStatusPC" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>航班運行狀態百分比(國內線)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlightStatus" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>航班運行狀態,以航班的角度的狀態</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Terminal" type="xs:string">
				<xs:annotation>
					<xs:documentation>航廈</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gate" type="xs:string">
				<xs:annotation>
					<xs:documentation>停機門</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CodeShares">
				<xs:annotation>
					<xs:documentation>航班共用班號</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FlightNumber" type="xs:string" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="IsCargo" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>是否為貨機</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AircraftType" type="xs:string">
				<xs:annotation>
					<xs:documentation>航空器型號</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BaggageClaim" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>行李轉盤</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FIDSFlightType">
		<xs:annotation>
			<xs:documentation>航空班機航班顯示資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FlightDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>航班日期(ISO8601格式:yyyy-MM-dd)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlightNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>航機班號</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirFlightType" type="AirFlightTypeEnum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>航機班號</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Airline" type="AirlineType">
				<xs:annotation>
					<xs:documentation>航空公司資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepartureAirport" type="AirportType">
				<xs:annotation>
					<xs:documentation>起點機場(City+Airport)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArrivalAirport" type="AirportType">
				<xs:annotation>
					<xs:documentation>目的地機場(City+Airport)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScheduleDepartureTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>表訂出發時間(ISO8601格式:yyyy-MM-ddTHH:mm)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EstimatedDepartureTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>預估出發時間(ISO8601格式:yyyy-MM-ddTHH:mm)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActualDepartureTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>實際出發時間(ISO8601格式:yyyy-MM-ddTHH:mm)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScheduleArrivalTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>表訂抵達時間(ISO8601格式:yyyy-MM-ddTHH:mm)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EstimatedArrivalTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>預估抵達時間(ISO8601格式:yyyy-MM-ddTHH:mm)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActualArrivalTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>實際抵達時間(ISO8601格式:yyyy-MM-ddTHH:mm)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeparrtureRemark" type="xs:string">
				<xs:annotation>
					<xs:documentation>航班屬性狀態,為第三方觀點的狀態(資料來源:民航局)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArrivalRemark" type="xs:string">
				<xs:annotation>
					<xs:documentation>航班屬性狀態,為該機場觀點的狀態</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlightStatusPC" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>航班運行狀態百分比(國內線)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlightStatus" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>航班運行狀態,以航班的角度的狀態</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepartureTerminal" type="xs:string">
				<xs:annotation>
					<xs:documentation>出發航廈</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArrivalTerminal" type="xs:string">
				<xs:annotation>
					<xs:documentation>抵達航廈</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepartureGate" type="xs:string">
				<xs:annotation>
					<xs:documentation>出發登機門</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArrivalGate" type="xs:string">
				<xs:annotation>
					<xs:documentation>抵達登機門</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CodeShares">
				<xs:annotation>
					<xs:documentation>航班共用班號</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FlightNumber" type="xs:string" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="IsCargo" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>是否為貨機</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AircraftType" type="xs:string">
				<xs:annotation>
					<xs:documentation>航空器型號</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CheckInCounter" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>報到櫃檯</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BaggageClaim" type="xs:string" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>行李轉盤</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeneralFlightScheduleType">
		<xs:annotation>
			<xs:documentation>航空定期班表資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Airline" type="AirlineType">
				<xs:annotation>
					<xs:documentation>航空公司</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScheduleStartDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>班表開始日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScheduleEndDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>班表結束日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlightNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>班機號碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepartureAirport" type="AirportType">
				<xs:annotation>
					<xs:documentation>起點機場</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepartureTime" type="xs:time">
				<xs:annotation>
					<xs:documentation>起飛時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransitAirports" minOccurs="0">
				<xs:annotation>
					<xs:documentation>中繼機場資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TransitAirport" type="AirTransitType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AircraftType" type="xs:string">
				<xs:annotation>
					<xs:documentation>主要機型代號</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SecondaryAircraftTypes">
				<xs:annotation>
					<xs:documentation>次要機型資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SecondaryAircraftType" type="AircraftType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CodeShares">
				<xs:annotation>
					<xs:documentation>航班共用班號</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FlightNumber" type="xs:string" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ArrivalAirport" type="AirportType">
				<xs:annotation>
					<xs:documentation>終點機場</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArrivalTime" type="xs:time">
				<xs:annotation>
					<xs:documentation>抵達終點機場時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Monday" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>週一飛行與否</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tuesday" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>週二飛行與否</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Wednesday" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>週三飛行與否</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Thursday" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>週四飛行與否</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Friday" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>週五飛行與否</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Saturday" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>週六飛行與否</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sunday" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>週日飛行與否</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlightRemark" type="FlightRemarkEnum">
				<xs:annotation>
					<xs:documentation>班次註記</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirFlightType" type="AirFlightTypeEnum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>航班種類(目前民航局與桃機的FIDS系統都尚未提供此欄位資料) = 1: 國際; 2: 國內; 3: 兩岸; 4: 國際包機; 5: 國內包機; ;6: 兩岸包機; -2: 特殊],</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsCargo" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>是否為全貨機</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SeatCapacity" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>可售最大座位數</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LoadCapacity" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>負載容量噸數</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MonthlyFlightScheduleType">
		<xs:annotation>
			<xs:documentation>航空月飛行班表資料型別</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="GeneralFlightScheduleType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WeeklyFlightScheduleType">
		<xs:annotation>
			<xs:documentation>航空週飛行班表資料型別</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="GeneralFlightScheduleType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DailyFlightScheduleType">
		<xs:annotation>
			<xs:documentation>航空日飛行班表資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Airline" type="AirlineType">
				<xs:annotation>
					<xs:documentation>航空公司資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlightNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>班機號碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepartureAirport" type="AirportType">
				<xs:annotation>
					<xs:documentation>起始機場</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepartureTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>出發日期時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransitDatas" minOccurs="0">
				<xs:annotation>
					<xs:documentation>中繼資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TransitData" type="AirTransitType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AircraftType" type="xs:string">
				<xs:annotation>
					<xs:documentation>主要機型代號</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SecondaryAircraftTypes">
				<xs:annotation>
					<xs:documentation>次要機型資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SecondaryAircraftType" type="AircraftType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CodeShares">
				<xs:annotation>
					<xs:documentation>航班共用班號</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FlightNumber" type="xs:string" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ArrivalAirport" type="AirportType">
				<xs:annotation>
					<xs:documentation>終點機場</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArrivalTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>抵達日期時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlightRemark" type="FlightRemarkEnum">
				<xs:annotation>
					<xs:documentation>班次註記</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirFlightType" type="AirFlightTypeEnum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>航班種類(目前民航局與桃機的FIDS系統都尚未提供此欄位資料) = 1: 國際; 2: 國內; 3: 兩岸; 4: 國際包機; 5: 國內包機; ;6: 兩岸包機; -2: 特殊],</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsCargo" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>是否為全貨機</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SeatCapacity" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>可售最大座位數</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LoadCapacity" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>負載容量噸數(噸)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlightDistance" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>航線航段飛航哩程(哩)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AirTransitType">
		<xs:annotation>
			<xs:documentation>航空中繼資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TransitSequence" type="xs:int">
				<xs:annotation>
					<xs:documentation>中繼資料次序(由1開始)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransitAirport" type="AirportType">
				<xs:annotation>
					<xs:documentation>中繼機場</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransitCause" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>中繼原因</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArrivalTime" type="xs:string">
				<xs:annotation>
					<xs:documentation>中繼機場到場時間HH:mm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepartureTime" type="xs:string">
				<xs:annotation>
					<xs:documentation>中繼機場離場時間HH:mm</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AircraftType">
		<xs:annotation>
			<xs:documentation>航空服務機型資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Priority" type="xs:int">
				<xs:annotation>
					<xs:documentation>優先次序，由0開始代表主要機型，依序為次要優先順序</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AircraftType" type="xs:string">
				<xs:annotation>
					<xs:documentation>IATA機型代號</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AirAlertType">
		<xs:annotation>
			<xs:documentation>航空營運通阻資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AlertUID" type="xs:string">
				<xs:annotation>
					<xs:documentation>通阻事件統一代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlertID" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>通阻事件源單位發布代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Title" type="xs:string">
				<xs:annotation>
					<xs:documentation>通阻標題</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="xs:string">
				<xs:annotation>
					<xs:documentation>內容描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="xs:int">
				<xs:annotation>
					<xs:documentation>營運狀況</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Scope" type="AirAlertScopeType">
				<xs:annotation>
					<xs:documentation>通阻影響範圍</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Level" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>影響等級程度</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Effect" type="xs:string">
				<xs:annotation>
					<xs:documentation>影響說明</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Reason" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>影響原因</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlertURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>相關網站連結URL</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PublishTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>通阻發布時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>開始時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>結束時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>消息更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AirNewsType">
		<xs:annotation>
			<xs:documentation>航空最新消息資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NewsUID" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>最新消息統一代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NewsID" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>最新消息原單位發布代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Language" type="LanguageEnum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>語系</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Department" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>發布單位</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Title" type="xs:string">
				<xs:annotation>
					<xs:documentation>通阻標題</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NewsCategory" type="NewsCategoryEnum">
				<xs:annotation>
					<xs:documentation>消息標題</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="xs:string">
				<xs:annotation>
					<xs:documentation>內容描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NewsURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>相關網站連結</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AttachmentURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>相關附件網址連結</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PublishTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>發布時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>開始時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>結束時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>消息更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AirAlertScopeType">
		<xs:annotation>
			<xs:documentation>航空營運通阻範圍資料型別</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Airports" minOccurs="0">
				<xs:annotation>
					<xs:documentation>機場</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Airport" type="AirportType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AirRoutes" minOccurs="0">
				<xs:annotation>
					<xs:documentation>航線</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AirRoute" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="AirRouteID">
										<xs:annotation>
											<xs:documentation>營運航線代碼</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="AirRouteName">
										<xs:annotation>
											<xs:documentation>營運航線名稱</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AirLines" minOccurs="0">
				<xs:annotation>
					<xs:documentation>航空公司</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AirLine" type="AirlineType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Flights" minOccurs="0">
				<xs:annotation>
					<xs:documentation>機型</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Flight" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="FlightNo" type="xs:string">
										<xs:annotation>
											<xs:documentation>航班號碼</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="AirLineID" type="xs:string">
										<xs:annotation>
											<xs:documentation>航空公司代碼</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="AirOperatorType">
		<xs:annotation>
			<xs:documentation>航空營運業者資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OperatorCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>營運業者簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatorName" type="NameType">
				<xs:annotation>
					<xs:documentation>營運業者名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatorPhone">
				<xs:annotation>
					<xs:documentation>營運業者連絡電話</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0][0-9]{1,2}-[0-9]{6,8}#?([0-9]*)?"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OperatorEmail">
				<xs:annotation>
					<xs:documentation>營運業者電子信箱</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value=".*@.*[.].*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OperatorURL" type="xs:anyURI">
				<xs:annotation>
					<xs:documentation>營運業者網址鏈結</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReservationURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>營運業者訂票網站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReservationPhone" minOccurs="0">
				<xs:annotation>
					<xs:documentation>營運業者訂票電話</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0][0-9]{1,2}-[0-9]{6,8}#?([0-9]*)?"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FareURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>票價查詢網站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatorLogoURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>營運業者Logo網址</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=======[Air Data List Type]=======-->
	<xs:complexType name="AirportListType">
		<xs:annotation>
			<xs:documentation>航空機場資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Airports">
				<xs:annotation>
					<xs:documentation>機場資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Airport" type="AirportType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>航空機場</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AirlineListType">
		<xs:annotation>
			<xs:documentation>航空公司資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Airlines">
				<xs:annotation>
					<xs:documentation>航空公司</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Airline" type="AirlineType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>航空公司</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AirRouteListType">
		<xs:annotation>
			<xs:documentation>航空航線資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>XML更新日期時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffectiveDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>有效日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpireDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>結束日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirRoutes">
				<xs:annotation>
					<xs:documentation>航線資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AirRoute" type="AirRouteType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AirRouteNetworkListType">
		<xs:annotation>
			<xs:documentation>航空航線網路拓撲資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>XML更新日期時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirRouteNetworks">
				<xs:annotation>
					<xs:documentation>航線網路拓撲資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AirRouteNetwork" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="AirRoute" type="AirRouteType">
										<xs:annotation>
											<xs:documentation>航線</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FlightLegOfRoutes">
										<xs:annotation>
											<xs:documentation>航線航段資訊</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="FlightLegOfRoute" type="AirFlightLegOfRouteType" maxOccurs="unbounded"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeneralFlightScheduleListType">
		<xs:annotation>
			<xs:documentation>航空定期班表資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffectiveDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>有效日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpireDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>結束日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GeneralFlightSchedules">
				<xs:annotation>
					<xs:documentation>航空定期班表</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="GeneralFlightSchedule" type="GeneralFlightScheduleType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DailyFlightScheduleListType">
		<xs:annotation>
			<xs:documentation>航空日飛行班表資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlightDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>飛行日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DailyFlightSchedules">
				<xs:annotation>
					<xs:documentation>航空日飛行班表</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DailyFlightSchedule" type="DailyFlightScheduleType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WeeklyFlightScheduleListType">
		<xs:annotation>
			<xs:documentation>航空週飛行班表資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffectiveDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>有效日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpireDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>結束日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WeeklyFlightSchedules">
				<xs:annotation>
					<xs:documentation>航空週飛行班表</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="WeeklyFlightSchedule" type="WeeklyFlightScheduleType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MonthlyFlightScheduleListType">
		<xs:annotation>
			<xs:documentation>航空月飛行班表資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffectiveDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>有效日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpireDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>結束日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MonthlyFlightSchedules">
				<xs:annotation>
					<xs:documentation>航空月飛行班表</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="MonthlyFlightSchedule" type="MonthlyFlightScheduleType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FIDSAirportListType">
		<xs:annotation>
			<xs:documentation>航空站別航班顯示資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Airports">
				<xs:annotation>
					<xs:documentation>航空站別航班顯示資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Airport" type="FIDSType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FIDSFlightlListType">
		<xs:annotation>
			<xs:documentation>航空班機航班顯示資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Flights">
				<xs:annotation>
					<xs:documentation>航空班機航班顯示資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Flight" type="FIDSFlightType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AirAlertlListType">
		<xs:annotation>
			<xs:documentation>航空營運通阻資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirAlerts">
				<xs:annotation>
					<xs:documentation>航空營運通阻資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AirAlert" type="AirAlertType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AirNewsListType">
		<xs:annotation>
			<xs:documentation>航空最新消息資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirNewses">
				<xs:annotation>
					<xs:documentation>航空最新消息資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AirNews" type="AirNewsType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AirOperatorListType">
		<xs:annotation>
			<xs:documentation>航空營運業者資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新日期時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Operators">
				<xs:annotation>
					<xs:documentation>營運業者</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Operator" type="AirOperatorType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>營運業者</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=======[ Element Group]=======-->
	<xs:element name="AirAllDataList">
		<xs:annotation>
			<xs:documentation>航空運具資料集清單</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AirportList" type="AirportListType">
					<xs:annotation>
						<xs:documentation>機場資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="AirlineList" type="AirlineListType">
					<xs:annotation>
						<xs:documentation>航空公司資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="AirRouteList" type="AirRouteListType">
					<xs:annotation>
						<xs:documentation>航空公司資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="AirRouteNetworkList" type="AirRouteNetworkListType">
					<xs:annotation>
						<xs:documentation>航空公司資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="GeneralFlightScheduleList" type="GeneralFlightScheduleListType">
					<xs:annotation>
						<xs:documentation>定期飛行班表資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="MonthlyFlightScheduleList" type="MonthlyFlightScheduleListType">
					<xs:annotation>
						<xs:documentation>月飛行班表資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="WeeklyFlightScheduleList" type="WeeklyFlightScheduleListType">
					<xs:annotation>
						<xs:documentation>週飛行班表資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DailyFlightScheduleListList" type="DailyFlightScheduleListType">
					<xs:annotation>
						<xs:documentation>日飛行班表資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="FIDSAirportList" type="FIDSAirportListType">
					<xs:annotation>
						<xs:documentation>站別航班顯示資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="FIDSFlightlList" type="FIDSFlightlListType">
					<xs:annotation>
						<xs:documentation>班機航班顯示資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="AlertList" type="AirAlertlListType">
					<xs:annotation>
						<xs:documentation>航空營運通阻資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="NewsList" type="AirNewsListType">
					<xs:annotation>
						<xs:documentation>航空最新新消息資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="OperatorList" type="AirOperatorListType">
					<xs:annotation>
						<xs:documentation>營運業者資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="FeedInfo" type="FeedInfoType">
					<xs:annotation>
						<xs:documentation>資料版本說明</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
