20180306/XSD_Inbound/Ferry/PTX_Ferry.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 rel. 3 sp1 (x64) (http://www.altova.com) by YI JIE WU (International Integrated Systems, Inc. (IISI)) -->
<xs:schema xmlns="http://ptx.transportdata.tw/standard/schema/" xmlns:editix="http://ptx.transportdata.tw/standards/schema/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ptx.transportdata.tw/standard/schema/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="PTX_Ferry">
	<xs:include schemaLocation="PTX_Ferry_Codes.xsd"/>
	<xs:include schemaLocation="../PTX_Common.xsd"/>
	<!--=======[Inbound ]=======-->
	<xs:complexType name="FerryPortType">
		<xs:annotation>
			<xs:documentation>航運港口資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PortID" type="xs:string">
				<xs:annotation>
					<xs:documentation>港口代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PortCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>港口簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PortName" type="NameType">
				<xs:annotation>
					<xs:documentation>港口簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PortPosition" type="PointType">
				<xs:annotation>
					<xs:documentation>港口位置</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PortAddress" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>港口地址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PortPhone" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>港口聯繫電話</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="City" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>港口所屬城市</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Country" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>港口所屬國家</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PortURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>港口官網網址</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FerryOperatorType">
		<xs:annotation>
			<xs:documentation>航運營運業者資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OperatorID" type="xs:string">
				<xs:annotation>
					<xs:documentation>營運業者代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatorName" type="NameType">
				<xs:annotation>
					<xs:documentation>營運業者名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatorPhone" type="xs:string">
				<xs:annotation>
					<xs:documentation>營運業者連絡電話</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatorEmail" type="xs:string">
				<xs:annotation>
					<xs:documentation>營運業者電子信箱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatorURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>營運業者網址鏈結</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FareURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>營運業者票價相關網站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReservationURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>營運業者訂票網站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReservationPhone" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>營運業者訂票電話</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatorLogoURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>營運業者Logo網址</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FerryRouteType">
		<xs:annotation>
			<xs:documentation>航運航線資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RouteID" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>航線代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RouteName" type="NameType">
				<xs:annotation>
					<xs:documentation>航線中文名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="xs:string">
				<xs:annotation>
					<xs:documentation>航線描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatorID" type="xs:string">
				<xs:annotation>
					<xs:documentation>營運業者代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartPortID" type="xs:string">
				<xs:annotation>
					<xs:documentation>航線起點港口代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartPortName" type="NameType">
				<xs:annotation>
					<xs:documentation>航線起點港口名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndPortID" type="xs:string">
				<xs:annotation>
					<xs:documentation>航線迄點港口代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndPortName" type="NameType">
				<xs:annotation>
					<xs:documentation>航線迄點港口名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TicketPriceDescription" type="NameType">
				<xs:annotation>
					<xs:documentation>票價描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RouteType" type="FerryRouteTypeEnum">
				<xs:annotation>
					<xs:documentation>航線種類 1:國際; 2:國內; 3:兩岸; 4:遊輪; 5:其他</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RouteMapURL" type="xs:anyURI">
				<xs:annotation>
					<xs:documentation>航運路線簡圖網址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RouteDistance" type="xs:double">
				<xs:annotation>
					<xs:documentation>航線哩程(以哩為單位)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FerryVesselType">
		<xs:annotation>
			<xs:documentation>航運船舶資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="VesselID" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>船舶代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VesselName" type="NameType">
				<xs:annotation>
					<xs:documentation>船舶名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nationality" type="xs:string">
				<xs:annotation>
					<xs:documentation>船舶所屬國籍</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatorID" type="xs:string">
				<xs:annotation>
					<xs:documentation>船舶所屬營運業者代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FerryRouteFareType">
		<xs:annotation>
			<xs:documentation>航運航線票價資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RouteID" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>航線代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RouteName" type="NameType">
				<xs:annotation>
					<xs:documentation>航線名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FareID" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>票價代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginPort">
				<xs:annotation>
					<xs:documentation>起始港口 資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PortID" type="xs:string">
							<xs:annotation>
								<xs:documentation>港口代碼ˇ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PortName" type="NameType">
							<xs:annotation>
								<xs:documentation>港口中文名稱</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DestinationPort">
				<xs:annotation>
					<xs:documentation>迄點港口 資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PortID" type="xs:string">
							<xs:annotation>
								<xs:documentation>港口代碼ˇ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PortName" type="NameType">
							<xs:annotation>
								<xs:documentation>港口中文名稱</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Fares">
				<xs:annotation>
					<xs:documentation>迄點港口 資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Fare">
							<xs:annotation>
								<xs:documentation>港口代碼</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="FareName" type="xs:string">
										<xs:annotation>
											<xs:documentation>票價名稱</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="TicketType" type="TicketTypeEnum">
										<xs:annotation>
											<xs:documentation>票種類型(例如:一般票、來回票、電子票證、回數票、定期票等)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FareClass" type="FareClassEnum">
										<xs:annotation>
											<xs:documentation>費率等級(例如:成人、學生、孩童、敬老等)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CabinClass" type="xs:integer">
										<xs:annotation>
											<xs:documentation>艙等1.標準座車廂
2.商務座車廂
3.自由座車廂</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Price" type="xs:integer">
										<xs:annotation>
											<xs:documentation>收費價格(新台幣)</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FerryGeneralFerryScheduleType">
		<xs:annotation>
			<xs:documentation>航運定期班表資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ScheduleStartDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>班表開始日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScheduleEndDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>班表結束日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatorID" type="xs:string">
				<xs:annotation>
					<xs:documentation>營運業者代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VesselID" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>船舶代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VesselName" type="xs:string">
				<xs:annotation>
					<xs:documentation>船舶中文名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeparturePort">
				<xs:annotation>
					<xs:documentation>起點港口資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PortID">
							<xs:annotation>
								<xs:documentation>港口代碼</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PortName" type="NameType">
							<xs:annotation>
								<xs:documentation>港口名稱</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DepartureTime" type="xs:string">
				<xs:annotation>
					<xs:documentation>離港時間HH:mm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransitPorts" minOccurs="0">
				<xs:annotation>
					<xs:documentation>中繼港口資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TransitPort">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="TransitSequence" type="xs:int">
										<xs:annotation>
											<xs:documentation>中繼港口次序</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="TransitPortID" type="xs:string">
										<xs:annotation>
											<xs:documentation>中繼港口代碼</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="TransitCause" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>中繼原因</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ArrivalTime" type="xs:string">
										<xs:annotation>
											<xs:documentation>中繼港口進港時間HH:mm</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DepartureTime" type="xs:string">
										<xs:annotation>
											<xs:documentation>中繼港口離港時間HH:mm</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ArrivalPort">
				<xs:annotation>
					<xs:documentation>目的地港口資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PortID" type="xs:string">
							<xs:annotation>
								<xs:documentation>港口代碼</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PortName" type="NameType">
							<xs:annotation>
								<xs:documentation>港口名稱</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ArrivalTime" type="xs:string">
				<xs:annotation>
					<xs:documentation>抵達目的地進港時間HH:mm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Monday" type="BooleanType">
				<xs:annotation>
					<xs:documentation>周一飛行與否(0=否,1=是)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tuesday" type="BooleanType">
				<xs:annotation>
					<xs:documentation>周二飛行與否(0=否,1=是)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Wednesday" type="BooleanType">
				<xs:annotation>
					<xs:documentation>周三飛行與否(0=否,1=是)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Thursday" type="BooleanType">
				<xs:annotation>
					<xs:documentation>周四飛行與否(0=否,1=是)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Friday" type="BooleanType">
				<xs:annotation>
					<xs:documentation>周五飛行與否(0=否,1=是)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Saturday" type="BooleanType">
				<xs:annotation>
					<xs:documentation>周六飛行與否(0=否,1=是)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sunday" type="BooleanType">
				<xs:annotation>
					<xs:documentation>周日飛行與否(0=否,1=是)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RouteType" type="FerryRouteTypeEnum">
				<xs:annotation>
					<xs:documentation>航線種類(1:國際, 2:國內, 3:兩岸, 4:其他)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FerryDailyFerryScheduleType">
		<xs:annotation>
			<xs:documentation>航運日航行班表資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OperatorID" type="xs:string">
				<xs:annotation>
					<xs:documentation>營運業者代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VesselID" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>船舶代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VesselName" type="xs:string">
				<xs:annotation>
					<xs:documentation>船舶中文名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeparturePort">
				<xs:annotation>
					<xs:documentation>起點港口資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PortID">
							<xs:annotation>
								<xs:documentation>港口代碼</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PortName" type="NameType">
							<xs:annotation>
								<xs:documentation>港口名稱</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DepartureTime" type="xs:time">
				<xs:annotation>
					<xs:documentation>離港時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransitPorts" minOccurs="0">
				<xs:annotation>
					<xs:documentation>中繼港口資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TransitPort">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="TransitSequence" type="xs:int">
										<xs:annotation>
											<xs:documentation>中繼港口次序</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="TransitPortID" type="xs:string">
										<xs:annotation>
											<xs:documentation>中繼港口代碼</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="TransitCause" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>中繼原因</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ArrivalTime" type="xs:string">
										<xs:annotation>
											<xs:documentation>中繼港口進港時間HH:mm</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DepartureTime" type="xs:string">
										<xs:annotation>
											<xs:documentation>中繼港口離港時間HH:mm</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ArrivalPort">
				<xs:annotation>
					<xs:documentation>目的地港口資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PortID" type="xs:string">
							<xs:annotation>
								<xs:documentation>港口代碼</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PortName" type="NameType">
							<xs:annotation>
								<xs:documentation>港口名稱</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ArrivalTime" type="xs:string">
				<xs:annotation>
					<xs:documentation>抵達目的地進港時間HH:mm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RouteType" type="FerryRouteTypeEnum">
				<xs:annotation>
					<xs:documentation>航線種類(1:國際, 2:國內, 3:兩岸, 4:其他)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=======[Bus Data List Type]=======-->
	<xs:complexType name="FerryPortLisyType">
		<xs:annotation>
			<xs:documentation>航運港口資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>更新日期時間yyyy-MM-ddTHH:mm:sszzz</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:string">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ports">
				<xs:annotation>
					<xs:documentation>港口資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Port" type="FerryPortType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FerryOperatorListType">
		<xs:annotation>
			<xs:documentation>航運營運業者資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>更新日期時間yyyy-MM-ddTHH:mm:sszzz</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:string">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Operators">
				<xs:annotation>
					<xs:documentation>營運業者資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Operator" type="FerryOperatorType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FerryRouteListType">
		<xs:annotation>
			<xs:documentation>航運航線資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>更新日期時間yyyy-MM-ddTHH:mm:sszzz</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:string">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Routes">
				<xs:annotation>
					<xs:documentation>航線資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Route" type="FerryRouteType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FerryVesselListType">
		<xs:annotation>
			<xs:documentation>航運船舶資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>更新日期時間yyyy-MM-ddTHH:mm:sszzz</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:string">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Vessels">
				<xs:annotation>
					<xs:documentation>船舶資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Vessel" type="FerryVesselType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FerryRouteFareListType">
		<xs:annotation>
			<xs:documentation>航運航線票價資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>更新日期時間yyyy-MM-ddTHH:mm:sszzz</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:string">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RouteFares">
				<xs:annotation>
					<xs:documentation>航線票價資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RouteFare" type="FerryRouteFareType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FerryGeneralFerryScheduleListType">
		<xs:annotation>
			<xs:documentation>航運定期班表資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>更新日期時間yyyy-MM-ddTHH:mm:sszzz</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:string">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffectiveDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>有效起始日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpireDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>有效終止日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GeneralFerrySchedules">
				<xs:annotation>
					<xs:documentation>航線定期班表資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="GeneralFerrySchedule" type="FerryGeneralFerryScheduleType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FerryDailyFerryScheduleListType">
		<xs:annotation>
			<xs:documentation>航運日航行班表資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>更新日期時間yyyy-MM-ddTHH:mm:sszzz</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:string">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Date" type="xs:date">
				<xs:annotation>
					<xs:documentation>飛行日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DailyFerrySchedules">
				<xs:annotation>
					<xs:documentation>航線日航飛行班表資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DailyFerrySchedule" type="FerryDailyFerryScheduleType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FerryNewsListType">
		<xs:annotation>
			<xs:documentation>航運最新消息資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>更新日期時間yyyy-MM-ddTHH:mm:sszzz</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:string">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Newses">
				<xs:annotation>
					<xs:documentation>最新消息資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="News" type="NewsType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=======[ Element Group]=======-->
	<xs:element name="FerryAllDataList">
		<xs:annotation>
			<xs:documentation>航運運具資料集清單</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FerryPortList"/>
				<xs:element ref="FerryOperatorList"/>
				<xs:element ref="FerryRouteList"/>
				<xs:element ref="FerryVesselList"/>
				<xs:element ref="FerryRouteFareList"/>
				<xs:element ref="FerryGeneralFerryScheduleList"/>
				<xs:element ref="FerryDailyFerryScheduleList"/>
				<xs:element ref="FerryNewsList"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FerryNewsList" type="FerryNewsListType">
		<xs:annotation>
			<xs:documentation>航運最新消息資料清單型別</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FerryDailyFerryScheduleList" type="FerryDailyFerryScheduleListType">
		<xs:annotation>
			<xs:documentation>航運日航行班表資料清單型別</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FerryGeneralFerryScheduleList" type="FerryGeneralFerryScheduleListType">
		<xs:annotation>
			<xs:documentation>航運定期班表資料清單型別</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FerryRouteFareList" type="FerryRouteFareListType">
		<xs:annotation>
			<xs:documentation>航運航線票價資料清單型別</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FerryVesselList" type="FerryVesselListType">
		<xs:annotation>
			<xs:documentation>航運船舶資料清單型別</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FerryRouteList" type="FerryRouteListType">
		<xs:annotation>
			<xs:documentation>航運航線資料清單型別</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FerryOperatorList" type="FerryOperatorListType">
		<xs:annotation>
			<xs:documentation>航運營運業者資料清單型別</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FerryPortList" type="FerryPortLisyType">
		<xs:annotation>
			<xs:documentation>航運港口資料清單型別</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
