20180306/XSD_Inbound/Rail/PTX_Rail.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 rel. 3 sp1 (x64) (http://www.altova.com) by YI JIE WU (International Integrated Systems, Inc. (IISI)) -->
<xs:schema xmlns="http://ptx.transportdata.tw/standard/schema/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ptx.transportdata.tw/standard/schema/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="PTX_Rail">
	<!--=======[Dependencies]=======-->
	<xs:include schemaLocation="../PTX_Common.xsd"/>
	<xs:include schemaLocation="PTX_Rail_Codes.xsd"/>
	<xs:include schemaLocation="TRA/PTX_TRA.xsd"/>
	<xs:include schemaLocation="../Bike/PTX_Bike.xsd"/>
	<xs:import/>
	<!--=======[路網資料]=======-->
	<xs:complexType name="RailNetworkListType">
		<xs:annotation>
			<xs:documentation>軌道網路資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Network" type="RailNetworkType">
				<xs:annotation>
					<xs:documentation>網路</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailNetworkType">
		<xs:annotation>
			<xs:documentation>軌道路網資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NetworkID" type="xs:string">
				<xs:annotation>
					<xs:documentation>路網代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetworkName" type="NameType">
				<xs:annotation>
					<xs:documentation>路網名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatorCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>營運業者簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatorName" type="NameType">
				<xs:annotation>
					<xs:documentation>營運業者名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetworkMapURL" type="NetworkMapURLType">
				<xs:annotation>
					<xs:documentation>路網圖網址URL</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Lines">
				<xs:annotation>
					<xs:documentation>實體路線</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Line" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="LineNo" type="xs:int" minOccurs="0">
										<xs:annotation>
											<xs:documentation>實體路線編號</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="LineID" type="xs:string">
										<xs:annotation>
											<xs:documentation>實體路線代號</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailLineNetworkListType">
		<xs:annotation>
			<xs:documentation>軌道路線支線資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LineNetworks">
				<xs:annotation>
					<xs:documentation>路網路線資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LineNetwork" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>路網路線資料</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="LineNo" type="xs:string">
										<xs:annotation>
											<xs:documentation>實體路線編號</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="LineName" type="NameType">
										<xs:annotation>
											<xs:documentation>實體路線名稱</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="LineSegments">
										<xs:annotation>
											<xs:documentation>路線站點間線段</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="LineSegment" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation>路線站點間線段</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="LineSegmentID" type="xs:string">
																<xs:annotation>
																	<xs:documentation>線段代碼</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="LineSegmentName" type="NameType">
																<xs:annotation>
																	<xs:documentation>線段名稱</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="FromStationID" type="xs:string">
																<xs:annotation>
																	<xs:documentation>線段起點車站代碼</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ToStationID" type="xs:string">
																<xs:annotation>
																	<xs:documentation>線段迄點車站代碼</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="SegmentType" type="RailSegmentTypeEnum">
																<xs:annotation>
																	<xs:documentation>線段種類</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Distance" type="xs:int">
																<xs:annotation>
																	<xs:documentation>線段距離</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=======[出入口資料 ]======-->
	<xs:complexType name="RailStationExitListType">
		<xs:annotation>
			<xs:documentation>軌道車站出入口資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationExits">
				<xs:annotation>
					<xs:documentation>車站出入口</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StationExit" type="RailStationExitType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailStationExitType">
		<xs:annotation>
			<xs:documentation>軌道車站出入口資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StationID" type="xs:string">
				<xs:annotation>
					<xs:documentation>車站代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationName" type="NameType">
				<xs:annotation>
					<xs:documentation>車站代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Exits">
				<xs:annotation>
					<xs:documentation>出入口資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Exit" block="extension" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="RailExitType">
										<xs:sequence>
											<xs:element name="ExitMapURLs">
												<xs:annotation>
													<xs:documentation>車站出入口簡圖網址連結資訊
</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="ExitMapURL" maxOccurs="unbounded">
															<xs:annotation>
																<xs:documentation>車站出入口簡圖網址連結資訊
</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="MapName" type="NameType">
																		<xs:annotation>
																			<xs:documentation>車站出入口簡圖名稱
</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="MapURL" type="xs:string">
																		<xs:annotation>
																			<xs:documentation>車站出入口簡圖網址
</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="FloodLevel" type="xs:string">
																		<xs:annotation>
																			<xs:documentation>樓層
</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailExitType">
		<xs:annotation>
			<xs:documentation>軌道出入口資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ExitID" type="xs:string">
				<xs:annotation>
					<xs:documentation>出口代號</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExitName" type="NameType">
				<xs:annotation>
					<xs:documentation>出口名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExitPosition" type="PointType">
				<xs:annotation>
					<xs:documentation>出口坐標位置</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LocationDescription" type="xs:string">
				<xs:annotation>
					<xs:documentation>出口位置文字描述(例如地址,地標,交叉路口等)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Stair" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>是否有樓梯</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Escalator" type="xs:int">
				<xs:annotation>
					<xs:documentation>是否有電扶梯(0:沒有,1:雙向皆有,2:出站有,3入站有)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Elevator" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>是否有電梯</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RoadName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>路段名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Bearing" type="BearingEnum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>出入口所在道路務段方位角</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=======[設施資料 ]======-->
	<xs:complexType name="RailStationFacilityListType">
		<xs:annotation>
			<xs:documentation>軌道車站設施資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationFacilities">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StationFacility" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="RailStationFacilityType"/>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailStationFacilityType">
		<xs:annotation>
			<xs:documentation>軌道車站設施資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StationID" type="xs:string">
				<xs:annotation>
					<xs:documentation>車站代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationName" type="NameType">
				<xs:annotation>
					<xs:documentation>車站名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FacilityMapURLs">
				<xs:annotation>
					<xs:documentation>車站設施簡圖網址連結資訊
</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FacilityMapURL" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="MapName" type="NameType">
										<xs:annotation>
											<xs:documentation>車站設施簡圖名稱
</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="MapURL" type="xs:string">
										<xs:annotation>
											<xs:documentation>車站設施簡圖網址
</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FloorLevel" type="xs:string">
										<xs:annotation>
											<xs:documentation>樓層
</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Elevators" minOccurs="0">
				<xs:annotation>
					<xs:documentation>廁所資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Elevator" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Description">
										<xs:annotation>
											<xs:documentation>文字描述</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FloorLevel" minOccurs="0">
										<xs:annotation>
											<xs:documentation>所在樓層(一樓以上以1F,2F,…,#F；地下一樓以下者以“B”+數字，例如：B1,B2,…,B#)</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="InformationSpots" minOccurs="0">
				<xs:annotation>
					<xs:documentation>諮詢站資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="InfomationSpot" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Description" type="xs:string">
										<xs:annotation>
											<xs:documentation>文字描述</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FloorLevel" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>所在樓層(一樓以上以1F,2F,…,#F；地下一樓以下者以“B”+數字，例如：B1,B2,…,B#)</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DrinkingFountains" minOccurs="0">
				<xs:annotation>
					<xs:documentation>飲水機資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DrinkingFountain" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Description" type="xs:string">
										<xs:annotation>
											<xs:documentation>文字描述</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FloorLevel" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>所在樓層(一樓以上以1F,2F,…,#F；地下一樓以下者以“B”+數字，例如：B1,B2,…,B#)</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Toilets" minOccurs="0">
				<xs:annotation>
					<xs:documentation>廁所資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Toilet" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Description" type="xs:string">
										<xs:annotation>
											<xs:documentation>文字描述</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FloorLevel" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>所在樓層(一樓以上以1F,2F,…,#F；地下一樓以下者以“B”+數字，例如：B1,B2,…,B#)</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Lockers" minOccurs="0">
				<xs:annotation>
					<xs:documentation>寄物櫃位置資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Locker" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Description" type="xs:string">
										<xs:annotation>
											<xs:documentation>文字描述</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FloorLevel" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>所在樓層(一樓以上以1F,2F,…,#F；地下一樓以下者以“B”+數字，例如：B1,B2,…,B#)</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="NursingRooms" minOccurs="0">
				<xs:annotation>
					<xs:documentation>哺乳室位置資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="NursingRoom" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Description" type="xs:string">
										<xs:annotation>
											<xs:documentation>文字描述</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FloorLevel" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>所在樓層(一樓以上以1F,2F,…,#F；地下一樓以下者以“B”+數字，例如：B1,B2,…,B#)</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=======[路線資料 ]======-->
	<xs:complexType name="RailRouteListType">
		<xs:annotation>
			<xs:documentation>軌道營運路線資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Routes">
				<xs:annotation>
					<xs:documentation>營運路線資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Route" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="LineNo" type="xs:int" minOccurs="0">
										<xs:annotation>
											<xs:documentation>實體路線編號</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="LineID" type="xs:string">
										<xs:annotation>
											<xs:documentation>實體路線代號</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="RouteID" type="xs:string">
										<xs:annotation>
											<xs:documentation>營運路線代碼</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="OperatorCode" type="xs:string">
										<xs:annotation>
											<xs:documentation>營運業者簡碼</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="RouteName" type="NameType">
										<xs:annotation>
											<xs:documentation>路線名稱</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="RouteType" type="RailRouteTypeEnum">
										<xs:annotation>
											<xs:documentation>路線類別代碼</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="StartStationID" type="xs:string">
										<xs:annotation>
											<xs:documentation>車站代碼</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="StartStationName" type="NameType">
										<xs:annotation>
											<xs:documentation>車站名稱</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="EndStationID" type="xs:string">
										<xs:annotation>
											<xs:documentation>車站代碼</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="EndStationName" type="NameType">
										<xs:annotation>
											<xs:documentation>車站名稱</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="RouteURL" type="xs:anyURI" minOccurs="0">
										<xs:annotation>
											<xs:documentation>車站名稱</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="RouteDistance" type="xs:double" minOccurs="0">
										<xs:annotation>
											<xs:documentation>公車營運路線長度(單位:公里)</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailStationOfLineListType">
		<xs:annotation>
			<xs:documentation>軌道實體路線站序資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationOfLines">
				<xs:annotation>
					<xs:documentation>實體路線站序</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StationOfLine" type="RailStationOfLineType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailStationOfLineType">
		<xs:annotation>
			<xs:documentation>軌道實體路線站序資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LineNo" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>實體路線</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LineID" type="xs:string">
				<xs:annotation>
					<xs:documentation>路段代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Stations" type="RailStationSequenceType">
				<xs:annotation>
					<xs:documentation>實體路線站序</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailStationSequenceType">
		<xs:annotation>
			<xs:documentation>軌道站序描述資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Sequence" type="xs:int">
				<xs:annotation>
					<xs:documentation>站序描述(從1開始，整數遞增)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationID" type="xs:string">
				<xs:annotation>
					<xs:documentation>車站代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationName" type="NameType">
				<xs:annotation>
					<xs:documentation>車站名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CumulativeDistance" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>累積距離(由首站累積，單位為公里)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailStationOfRouteListType">
		<xs:annotation>
			<xs:documentation>軌道營運路線站序資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationOfRoutes">
				<xs:annotation>
					<xs:documentation>營運路線站序</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StationOfRoute" type="RailStationOfRouteType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailStationOfRouteType">
		<xs:annotation>
			<xs:documentation>軌道營運路線站序資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LineNo" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>實體路線</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LineID" type="xs:string" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>實體路線</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RouteID" type="xs:string">
				<xs:annotation>
					<xs:documentation>營運路線代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RouteName" type="NameType">
				<xs:annotation>
					<xs:documentation>路線名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Direction" type="DirectionEnum">
				<xs:annotation>
					<xs:documentation>營運路線方向</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Stations" type="RailStationSequenceType">
				<xs:annotation>
					<xs:documentation>營運路線站序</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=======[列車種類 ]======-->
	<xs:complexType name="RailTrainTypeListType">
		<xs:annotation>
			<xs:documentation>軌道列車種類資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainTypes">
				<xs:annotation>
					<xs:documentation>列車種類資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TrainType" type="RailTrainTypeType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailTrainTypeType">
		<xs:annotation>
			<xs:documentation>軌道列車種類資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TrainTypeID" type="xs:string">
				<xs:annotation>
					<xs:documentation>車種代號</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainTypeCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>車種代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainTypeName" type="NameType">
				<xs:annotation>
					<xs:documentation>車種名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=======[起迄站收費資料 ]======-->
	<xs:complexType name="RailODFareListType">
		<xs:annotation>
			<xs:documentation>軌道起訖站票價資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffectiveDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>有效日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpireDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>結束日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Version" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>資料版本</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ODFares">
				<xs:annotation>
					<xs:documentation>起訖站票價資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ODFare" type="RailODFareType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailODFareType">
		<xs:annotation>
			<xs:documentation>軌道起迄站收費資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OriginStationID" type="xs:string">
				<xs:annotation>
					<xs:documentation>車站代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginStationName" type="NameType">
				<xs:annotation>
					<xs:documentation>車站名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DestinationStationID" type="xs:string">
				<xs:annotation>
					<xs:documentation>車站代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DestinationStationName" type="NameType">
				<xs:annotation>
					<xs:documentation>車站名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Direction" type="DirectionEnum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>方向性描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Fares">
				<xs:annotation>
					<xs:documentation>票價收費資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Fare" type="RailFareType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailFareType">
		<xs:annotation>
			<xs:documentation>軌道收費描述資料型別</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="FareType"/>
		</xs:complexContent>
	</xs:complexType>
	<!--=======[Rail TimeTable Data Type ]======-->
	<xs:complexType name="RailGeneralTrainTimeTableListType">
		<xs:annotation>
			<xs:documentation>軌道定期車次時刻表資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffectiveDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>有效日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpireDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>結束日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValidityDesciption" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>時刻表適用情形說明</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Version" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>資料版本</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimeTableName" type="NameType">
				<xs:annotation>
					<xs:documentation>定期車次時刻表名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainTimeTables">
				<xs:annotation>
					<xs:documentation>定期車次時刻表資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TrainTimeTable" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="TrainInfo" type="RailTrainInfoType">
										<xs:annotation>
											<xs:documentation>車次資料</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="StopTimes" type="RailStopTimeListType">
										<xs:annotation>
											<xs:documentation>停靠元素</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ServiceDay" type="ServiceDayType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>週內營運日</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailSpecificTrainTimeTableListType">
		<xs:annotation>
			<xs:documentation>軌道特殊車次時刻表資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffectiveDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>有效日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpireDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>結束日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValidityDesciption" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>時刻表適用情形說明</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Version" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>資料版本</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimeTableName" type="NameType">
				<xs:annotation>
					<xs:documentation>特殊車次時刻表名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainTimeTables">
				<xs:annotation>
					<xs:documentation>特殊車次時刻表名稱</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TrainTimeTable" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="TrainInfo" type="RailTrainInfoType">
										<xs:annotation>
											<xs:documentation>車次資料</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="StopTimes" type="RailStopTimeListType">
										<xs:annotation>
											<xs:documentation>停靠元素</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="SpecialDays" minOccurs="0">
										<xs:annotation>
											<xs:documentation>例外營運日</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SpecialDay" type="SpecialDayType" minOccurs="0" maxOccurs="unbounded"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailTrainInfoType">
		<xs:annotation>
			<xs:documentation>軌道車次資料型別 </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TrainNo" type="xs:string">
				<xs:annotation>
					<xs:documentation>車次代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RouteID" type="xs:string">
				<xs:annotation>
					<xs:documentation>營運路線代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Direction" type="DirectionEnum">
				<xs:annotation>
					<xs:documentation>方向性描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TripHeadsign" type="xs:string">
				<xs:annotation>
					<xs:documentation>車次車頭文字描述(通用以"往"+ 迄站中文站名")</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartingStaionID" type="xs:string">
				<xs:annotation>
					<xs:documentation>車站代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartingStaionName" type="NameType">
				<xs:annotation>
					<xs:documentation>車站名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndingStaionID" type="xs:string">
				<xs:annotation>
					<xs:documentation>車站代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndingStaionIDName" type="NameType">
				<xs:annotation>
					<xs:documentation>車站名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailStopTimeListType">
		<xs:annotation>
			<xs:documentation>軌道停靠元素資料清單型別(不放更新時間)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StopTime" type="RailStopTimeType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailStopTimeType">
		<xs:annotation>
			<xs:documentation>軌道停靠元素資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StopSequence" type="xs:integer">
				<xs:annotation>
					<xs:documentation>停靠站序(由1開始)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationID" type="xs:string">
				<xs:annotation>
					<xs:documentation>車站代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationName" type="NameType">
				<xs:annotation>
					<xs:documentation>車站名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArrivalTime" type="xs:string">
				<xs:annotation>
					<xs:documentation>到站時間HH:mm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepartureTime" type="xs:string">
				<xs:annotation>
					<xs:documentation>離站時間HH:mm</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailGeneralStationTimeTableListType">
		<xs:annotation>
			<xs:documentation>軌道定期站別時刻表資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffectiveDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>有效日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpireDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>結束日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValidityDesciption" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>時刻表適用情形說明</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Version" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>資料版本</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimeTableName" type="NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>定期站別時刻表</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationTimeTables" type="RailStationTimeTableType">
				<xs:annotation>
					<xs:documentation>站別時刻表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailStationLiveBoardListType">
		<xs:annotation>
			<xs:documentation>軌道車站即時到離站資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationLiveBoards">
				<xs:annotation>
					<xs:documentation>站別角度</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StationLiveBoard" type="RailStationLiveBoardType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailStationLiveBoardType">
		<xs:annotation>
			<xs:documentation>軌道站別即時到離站資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StationID" type="xs:string">
				<xs:annotation>
					<xs:documentation>車站資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationName" type="NameType">
				<xs:annotation>
					<xs:documentation>車站資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainNo" type="xs:string">
				<xs:annotation>
					<xs:documentation>車次代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Direction" type="DirectionEnum">
				<xs:annotation>
					<xs:documentation>方向性描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndingStationID" type="xs:string">
				<xs:annotation>
					<xs:documentation>終點車站資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndingStationName" type="NameType">
				<xs:annotation>
					<xs:documentation>終點車站資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Platform" type="xs:string">
				<xs:annotation>
					<xs:documentation>停靠月台</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScheduledArrivalTime" type="xs:string">
				<xs:annotation>
					<xs:documentation>表訂到站時刻HH:mm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScheduledDepartureTime" type="xs:string">
				<xs:annotation>
					<xs:documentation>表訂離站時刻HH:mm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DelayTime" type="xs:integer">
				<xs:annotation>
					<xs:documentation>延誤分鐘</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RunningStatus" type="RailRunningStatusEnum">
				<xs:annotation>
					<xs:documentation>列車狀態</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>訊息更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailTrainLiveBoardListType">
		<xs:annotation>
			<xs:documentation>軌道列車即時到離站資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainLiveBoards">
				<xs:annotation>
					<xs:documentation>列車角度</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TrainLiveBoard" type="RailTrainLiveBoardType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailTrainLiveBoardType">
		<xs:annotation>
			<xs:documentation>軌道列車即時到離站資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TrainNo" type="xs:string">
				<xs:annotation>
					<xs:documentation>車次代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationID" type="xs:string">
				<xs:annotation>
					<xs:documentation>車站代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationName" type="NameType">
				<xs:annotation>
					<xs:documentation>車站名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainStationStatus" type="TrainStationStatusEnum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>列車目前所在之車站狀態(0:進站中; 1:在站上; 2:已離站)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DelayTime" type="xs:int">
				<xs:annotation>
					<xs:documentation>延誤分鐘</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailDailyTrainTimeTableListType">
		<xs:annotation>
			<xs:documentation>軌道每日車次時刻表資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>營運日說明</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainTimeTables">
				<xs:annotation>
					<xs:documentation>列車角度</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TrainTimeTable" type="RailDailyTrainTimeTableType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailDailyTrainTimeTableType">
		<xs:annotation>
			<xs:documentation>軌道每日車次時刻表資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TrainInfo" type="RailTrainInfoType">
				<xs:annotation>
					<xs:documentation>車次資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StopTimes" type="RailStopTimeListType">
				<xs:annotation>
					<xs:documentation>停靠元素</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailDailyStationTimeTableListType">
		<xs:annotation>
			<xs:documentation>軌道每日站別時刻表資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>營運日說明</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationTimeTables">
				<xs:annotation>
					<xs:documentation>站別時刻表資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StationTimeTable" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="RouteID" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>營運路線</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="StationID" type="xs:string">
										<xs:annotation>
											<xs:documentation>查詢車站</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="StationName" type="NameType">
										<xs:annotation>
											<xs:documentation>查詢車站</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Direction" type="DirectionEnum">
										<xs:annotation>
											<xs:documentation>方向性描述</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DestinationStaionID" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>目的地車站</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DestinationStationName" type="NameType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>目的地車站</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Timetables">
										<xs:annotation>
											<xs:documentation>車站發車時刻資訊</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Timetable" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Sequence" type="xs:int">
																<xs:annotation>
																	<xs:documentation>發車順序</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="TrainNo">
																<xs:annotation>
																	<xs:documentation>車次資料</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ArrivalTime" type="xs:string">
																<xs:annotation>
																	<xs:documentation>到站時刻HH:mm</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="DepartureTime" type="xs:string">
																<xs:annotation>
																	<xs:documentation>發車時刻HH:mm</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailStationTimeTableType">
		<xs:annotation>
			<xs:documentation>軌道站別時刻表資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StationTimeTable" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RouteID" type="xs:string">
							<xs:annotation>
								<xs:documentation>營運路線</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="StationID" type="xs:string">
							<xs:annotation>
								<xs:documentation>查詢車站</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="StationName" type="NameType">
							<xs:annotation>
								<xs:documentation>查詢車站</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Direction" type="DirectionEnum">
							<xs:annotation>
								<xs:documentation>方向性描述</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DestinationStaionID" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>目的地車站</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DestinationStationName" type="NameType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>目的地車站</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Timetables">
							<xs:annotation>
								<xs:documentation>車站發車時刻資訊</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Timetable" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Sequence" type="xs:int">
													<xs:annotation>
														<xs:documentation>發車順序</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="TrainNo">
													<xs:annotation>
														<xs:documentation>車次資料</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ArrivalTime" type="xs:string">
													<xs:annotation>
														<xs:documentation>到站時刻</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="DepartureTime" type="xs:string">
													<xs:annotation>
														<xs:documentation>發車時刻</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ServiceDay" type="ServiceDayType">
							<xs:annotation>
								<xs:documentation>車站發車時刻資訊</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=======[轉乘資料 ]======-->
	<xs:complexType name="RailLineTransferListType">
		<xs:annotation>
			<xs:documentation>軌道內部路線轉乘資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LineTransfers">
				<xs:annotation>
					<xs:documentation>內部路線轉乘資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LineTransfer" type="RailLineTransferType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailLineTransferType">
		<xs:annotation>
			<xs:documentation>軌道內部路線轉乘資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FromLineID" type="xs:string">
				<xs:annotation>
					<xs:documentation>路線間轉乘(起)之實體路線</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FromStationID" type="xs:string">
				<xs:annotation>
					<xs:documentation>車站代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FromStatioinName" type="NameType">
				<xs:annotation>
					<xs:documentation>車站名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ToLineID" type="xs:string">
				<xs:annotation>
					<xs:documentation>路線間轉乘(迄)之實體路線</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ToStationID" type="xs:string">
				<xs:annotation>
					<xs:documentation>車站代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ToStationName" type="NameType">
				<xs:annotation>
					<xs:documentation>車站名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransferTime" type="xs:double">
				<xs:annotation>
					<xs:documentation>轉乘耗時，以分鐘為單位</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransferDescription" type="xs:string">
				<xs:annotation>
					<xs:documentation>轉乘方式文字描述</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailStationTransferListType">
		<xs:annotation>
			<xs:documentation>軌道車站跨運具轉乘資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationTransfers">
				<xs:annotation>
					<xs:documentation>車站跨運具轉乘</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StationTransfer" type="RailStationTransferType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailStationTransferType">
		<xs:annotation>
			<xs:documentation>軌道車站跨運具轉乘資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StationID" type="xs:string">
				<xs:annotation>
					<xs:documentation>車站代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationName" type="NameType">
				<xs:annotation>
					<xs:documentation>車站名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransferDescription" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>文字性轉乘描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InteriorMapURLs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>車站內部地圖簡圖連結</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="InteriorMapURL" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="MapName" type="NameType">
										<xs:annotation>
											<xs:documentation>地圖名稱</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="MapURL" type="xs:anyURI">
										<xs:annotation>
											<xs:documentation>連結網址</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FloorLevel" type="xs:string">
										<xs:annotation>
											<xs:documentation>樓層說明</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ExteriorMapURLs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>車站外部地圖簡圖連結</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ExteriorMapURL" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="MapName" type="NameType">
										<xs:annotation>
											<xs:documentation>地圖名稱</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="MapURL" type="xs:anyURI">
										<xs:annotation>
											<xs:documentation>連結網址</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FloorLevel" type="xs:string">
										<xs:annotation>
											<xs:documentation>樓層說明</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Transfers">
				<xs:annotation>
					<xs:documentation>跨運具轉乘</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Transfer" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ExitID" type="xs:string">
										<xs:annotation>
											<xs:documentation>出口代號</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ExitName" type="NameType">
										<xs:annotation>
											<xs:documentation>出口名稱</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="RailTransfers">
										<xs:annotation>
											<xs:documentation>軌道跨運具轉乘</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="RailTransfer" minOccurs="0" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Mode" type="ModeEnum">
																<xs:annotation>
																	<xs:documentation>轉乘運具種類</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="OperatorCode" type="xs:string">
																<xs:annotation>
																	<xs:documentation>營運業者代碼</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="OperatorName" type="NameType">
																<xs:annotation>
																	<xs:documentation>營運業者名稱</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="StationID" type="xs:string">
																<xs:annotation>
																	<xs:documentation>車站代碼</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="StationName" type="NameType">
																<xs:annotation>
																	<xs:documentation>車站名稱</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="TransferTime" type="xs:double" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>轉乘耗時(分鐘為單位)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="FloorLevel" type="xs:string" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>樓層</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Description" type="xs:string">
																<xs:annotation>
																	<xs:documentation>相關輔助性文字描述</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="IsOnSiteTransfer" type="xs:boolean" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>站內轉乘與否(0=站外,1=站內)</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="BusTransfers">
										<xs:annotation>
											<xs:documentation>公車跨運具轉乘</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="BusTransfer" minOccurs="0" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Mode" type="ModeEnum">
																<xs:annotation>
																	<xs:documentation>轉乘運具種類</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="OperatorCode" type="xs:string">
																<xs:annotation>
																	<xs:documentation>營運業者代碼</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="OperatorName" type="NameType">
																<xs:annotation>
																	<xs:documentation>營運業者名稱</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="RouteID" type="xs:string" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>公車站線代碼</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="RouteName" type="NameType" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>公車站線名稱</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="StopID" type="xs:string">
																<xs:annotation>
																	<xs:documentation>公車站牌代碼</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="StopName" type="NameType">
																<xs:annotation>
																	<xs:documentation>公車站牌名稱</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Destination" type="xs:string">
																<xs:annotation>
																	<xs:documentation>轉乘公車開往方向</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="TransferTime" type="xs:double" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>轉乘耗時(分鐘為單位)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="FloorLevel" type="xs:string" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>樓層</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Description" type="xs:string">
																<xs:annotation>
																	<xs:documentation>相關輔助性文字描述</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="IsOnSiteTransfer" type="xs:boolean" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>站內轉乘與否(0=站外,1=站內)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Platform" type="xs:string" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>月台</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="AirportTransfers">
										<xs:annotation>
											<xs:documentation>機場跨運具轉乘</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="AirportTransfer" minOccurs="0" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Mode" type="ModeEnum">
																<xs:annotation>
																	<xs:documentation>轉乘運具種類</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="OperatorCode" type="xs:string">
																<xs:annotation>
																	<xs:documentation>營運業者代碼</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="OperatorName" type="NameType">
																<xs:annotation>
																	<xs:documentation>營運業者名稱</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="AirportID" type="xs:string">
																<xs:annotation>
																	<xs:documentation>機場代碼</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="AirportName" type="NameType">
																<xs:annotation>
																	<xs:documentation>車站名稱</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="TransferTime" type="xs:double" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>轉乘耗時(分鐘為單位)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="FloorLevel" type="xs:string" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>樓層</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Description" type="xs:string">
																<xs:annotation>
																	<xs:documentation>相關輔助性文字描述</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="IsOnSiteTransfer" type="xs:boolean" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>站內轉乘與否(0=站外,1=站內)</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="BikeTransfers">
										<xs:annotation>
											<xs:documentation>自行車跨運具轉乘</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="BikeTransfer" minOccurs="0" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Mode" type="ModeEnum">
																<xs:annotation>
																	<xs:documentation>轉乘運具種類</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="OperatorCode" type="xs:string">
																<xs:annotation>
																	<xs:documentation>營運業者代碼</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="OperatorName" type="NameType">
																<xs:annotation>
																	<xs:documentation>營運業者名稱</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="StationID" type="xs:string">
																<xs:annotation>
																	<xs:documentation>車站代碼</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="StationName" type="NameType">
																<xs:annotation>
																	<xs:documentation>車站名稱</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="TransferTime" type="xs:double" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>轉乘耗時(分鐘為單位)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="FloorLevel" type="xs:string" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>樓層</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Description" type="xs:string">
																<xs:annotation>
																	<xs:documentation>相關輔助性文字描述</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="IsOnSiteTransfer" type="xs:boolean" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>站內轉乘與否(0=站外,1=站內)</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ParkingTransfers">
										<xs:annotation>
											<xs:documentation>停車場跨運具轉乘</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ParkingTransfer" minOccurs="0" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Mode" type="ModeEnum">
																<xs:annotation>
																	<xs:documentation>轉乘運具種類</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="CarParkID" type="xs:string">
																<xs:annotation>
																	<xs:documentation>營運業者代碼</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="CarParkName" type="NameType">
																<xs:annotation>
																	<xs:documentation>營運業者名稱</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="TransferTime" type="xs:double" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>轉乘耗時(分鐘為單位)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="FloorLevel" type="xs:string" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>樓層</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Description" type="xs:string">
																<xs:annotation>
																	<xs:documentation>相關輔助性文字描述</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="IsOnSiteTransfer" type="xs:boolean" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>站內轉乘與否(0=站外,1=站內)</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="TaxiTransfers">
										<xs:annotation>
											<xs:documentation>計程車跨運具轉乘</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="TaxiTransfer" minOccurs="0" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Mode" type="ModeEnum">
																<xs:annotation>
																	<xs:documentation>轉乘運具種類</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="TaxiStopID" type="xs:string">
																<xs:annotation>
																	<xs:documentation>營運業者代碼</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="TaxiStopName" type="NameType">
																<xs:annotation>
																	<xs:documentation>營運業者名稱</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="TransferTime" type="xs:double" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>轉乘耗時(分鐘為單位)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="FloorLevel" type="xs:string" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>樓層</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Description" type="xs:string">
																<xs:annotation>
																	<xs:documentation>相關輔助性文字描述</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="IsOnSiteTransfer" type="xs:boolean" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>站內轉乘與否(0=站外,1=站內)</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="FerryTransfers">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="FerryTransfer" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Mode" type="ModeEnum">
																<xs:annotation>
																	<xs:documentation>轉乘運具種類</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="OperatorCode" type="xs:string">
																<xs:annotation>
																	<xs:documentation>營運業者代碼</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="OperatorName" type="NameType">
																<xs:annotation>
																	<xs:documentation>營運業者名稱</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="FerryStationID">
																<xs:annotation>
																	<xs:documentation>航運站ID</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="FerryStationName">
																<xs:annotation>
																	<xs:documentation>航運站名稱</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="TransferTime" type="xs:double" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>轉乘耗時(分鐘為單位)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="FloorLevel" type="xs:string" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>樓層</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="FerryTransferDescription" type="xs:string">
																<xs:annotation>
																	<xs:documentation>相關輔助性文字描述</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="IsOnSiteTransfer" type="xs:boolean" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>站內轉乘與否(0=站外,1=站內)</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=======[軌道路線線型GIS圖資資料 ]======-->
	<xs:complexType name="RailShapeListType">
		<xs:annotation>
			<xs:documentation>軌道線型資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Shapes">
				<xs:annotation>
					<xs:documentation>軌道線型</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Shape" type="RailShapeType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailShapeType">
		<xs:annotation>
			<xs:documentation>軌道線型資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LineID" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>實體路線代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RouteID" type="xs:string">
				<xs:annotation>
					<xs:documentation>營運路線代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Geometry" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation> well-known text，以字串儲存線型資料，資料型態為 LineString ,</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=======[軌道最新消息資料 ]======-->
	<xs:complexType name="RailNewsListType">
		<xs:annotation>
			<xs:documentation>軌道最新消息資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Newses">
				<xs:annotation>
					<xs:documentation>最新消息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="News" type="RailNewsType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailNewsType">
		<xs:annotation>
			<xs:documentation>軌道最新消息資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NewsID" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>最新消息原單位發布代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Title" type="xs:string">
				<xs:annotation>
					<xs:documentation>消息標題</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Language" type="LanguageEnum">
				<xs:annotation>
					<xs:documentation>與系(目前僅高鐵提供)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Department" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>發布單位</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NewsCategory" type="NewsCategoryEnum">
				<xs:annotation>
					<xs:documentation>消息類別</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="xs:string">
				<xs:annotation>
					<xs:documentation>內容描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NewsURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>報導網站超連結</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AttachmentURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>相關附件網站連結</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>開始時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>結束時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PublishTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>消息公告時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=======[營運通阻資料 ]======-->
	<xs:complexType name="RailAlertScopeType">
		<xs:annotation>
			<xs:documentation>軌道通阻範圍資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NetworkList" minOccurs="0">
				<xs:annotation>
					<xs:documentation>網路</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="NetworkID" type="xs:string">
							<xs:annotation>
								<xs:documentation>路網代碼</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="NetworkName" type="NameType">
							<xs:annotation>
								<xs:documentation>路網名稱</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Stations" minOccurs="0">
				<xs:annotation>
					<xs:documentation>車站</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Station" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="StationID" type="xs:string">
										<xs:annotation>
											<xs:documentation>車站代碼</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="StationName" type="NameType">
										<xs:annotation>
											<xs:documentation>車站名稱</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Lines" minOccurs="0">
				<xs:annotation>
					<xs:documentation>實體路線</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Line" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="LineID" type="xs:string">
										<xs:annotation>
											<xs:documentation>實體路線代號</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="LineName" type="NameType">
										<xs:annotation>
											<xs:documentation>實體路線名稱</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Routes" minOccurs="0">
				<xs:annotation>
					<xs:documentation>營運路線</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Route" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="RouteID" type="xs:string">
										<xs:annotation>
											<xs:documentation>營運路線代碼</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="RouteName" type="NameType">
										<xs:annotation>
											<xs:documentation>路線名稱</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Trains" minOccurs="0">
				<xs:annotation>
					<xs:documentation>列車車次</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Train" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="RailTrainInfoType">
										<xs:sequence>
											<xs:element name="TrainNo" type="xs:string">
												<xs:annotation>
													<xs:documentation>車次代碼</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="LineSections" minOccurs="0">
				<xs:annotation>
					<xs:documentation>實體路線區間</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LineSection" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="RailLineSectionType"/>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailLineSectionType">
		<xs:annotation>
			<xs:documentation>軌道受影響的路線區間資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LineID" type="xs:string">
				<xs:annotation>
					<xs:documentation>實體路線對象</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartingStationID" type="xs:string">
				<xs:annotation>
					<xs:documentation>區間起站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartingStationName" type="xs:string">
				<xs:annotation>
					<xs:documentation>區間起站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndingStationID" type="xs:string">
				<xs:annotation>
					<xs:documentation>區間迄站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndingStationName" type="xs:string">
				<xs:annotation>
					<xs:documentation>區間迄站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="xs:string">
				<xs:annotation>
					<xs:documentation>輔助描述</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=======[營運業者資料 ]======-->
	<xs:complexType name="RailOperatorType">
		<xs:annotation>
			<xs:documentation>軌道營運業者資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OperatorCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>營運業者簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatorName" type="NameType">
				<xs:annotation>
					<xs:documentation>營運業者名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatorPhone" type="xs:string">
				<xs:annotation>
					<xs:documentation>營運業者連絡電話</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatorEmail" type="xs:string">
				<xs:annotation>
					<xs:documentation>營運業者電子信箱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatorURL" type="xs:anyURI">
				<xs:annotation>
					<xs:documentation>營運業者網址鏈結</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FareURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>營運業者票價相關網站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReservationURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>營運業者訂票網站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReservationPhone" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>營運業者訂票電話</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatorLogoURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>營運業者Logo網址</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailOperatorListType">
		<xs:annotation>
			<xs:documentation>軌道營運業者資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Operators">
				<xs:annotation>
					<xs:documentation>營運業者</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Operator" type="RailOperatorType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>營運業者</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
