20180306/XSD/Rail/MRT/PTX_MRT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 rel. 3 sp1 (x64) (http://www.altova.com) by YI JIE WU (International Integrated Systems, Inc. (IISI)) -->
<xs:schema xmlns="http://ptx.transportdata.tw/standard/schema/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ptx.transportdata.tw/standard/schema/" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="2.0" id="PTX_Rail_MRT">
	<!--=======[Dependencies]=======-->
	<xs:include schemaLocation="../../PTX_Common.xsd"/>
	<!--=======[3rd Layer Rail MRT Data Type]=======-->
	<xs:include schemaLocation="../PTX_Rail_Codes.xsd"/>
	<xs:complexType name="MRTStationType">
		<xs:annotation>
			<xs:documentation>捷運車站資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StationID" type="xs:string">
				<xs:annotation>
					<xs:documentation>車站代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationName" type="NameType">
				<xs:annotation>
					<xs:documentation>車站名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationPosition" type="PointType">
				<xs:annotation>
					<xs:documentation>車站位置</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationAddress" type="xs:string">
				<xs:annotation>
					<xs:documentation>車站地址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationDescription" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>車站詳細說明描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationPhone">
				<xs:annotation>
					<xs:documentation>車站聯絡電話</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0][0-9]{1,2}-[0-9]{6,8}#?([0-9]*)?"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BikeAllowOnHoliday" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>假日自行車進出與否</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationURL" type="xs:anyURI">
				<xs:annotation>
					<xs:documentation>車站相關資訊網址</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTLineType">
		<xs:annotation>
			<xs:documentation>捷運實體路線資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LineNo" type="xs:int">
				<xs:annotation>
					<xs:documentation>實體路線編號</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LineID" type="xs:string">
				<xs:annotation>
					<xs:documentation>實體路線代號</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LineName" type="NameType">
				<xs:annotation>
					<xs:documentation>實體路線名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LineSectionName" type="NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>實體路線起迄區間清單</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LineColor" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>實體路線代表顏色(以RGB色碼描述)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsBranch" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>是否為支線</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LineGroup" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>路線群組</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LineURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>路線資訊說明網址</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTRouteType">
		<xs:annotation>
			<xs:documentation>捷運路線資料別型</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RouteID" type="xs:string">
				<xs:annotation>
					<xs:documentation>營運路線代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Operator" type="OperatorType">
				<xs:annotation>
					<xs:documentation>營運業者資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RouteName" type="NameType">
				<xs:annotation>
					<xs:documentation>路線名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RouteType" type="RailRouteTypeEnum">
				<xs:annotation>
					<xs:documentation>路線類別代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Line" type="MRTLineType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>營運路線所屬之實體路線</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Direction" type="DirectionEnum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>方向性描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartStation" type="RailStationType">
				<xs:annotation>
					<xs:documentation>起點車站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndStation" type="RailStationType">
				<xs:annotation>
					<xs:documentation>迄點車站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TravelTime" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>營運路線運行時間，以分鐘為單位</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RouteDistance" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>營運路線長度距離，以公里為單位</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTStationLiveBoardType">
		<xs:annotation>
			<xs:documentation>捷運站別即時到離站資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Station" type="MRTStationType">
				<xs:annotation>
					<xs:documentation>車站資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Route" type="MRTRouteType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>營運路線資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Line" type="MRTLineType">
				<xs:annotation>
					<xs:documentation>實體路線資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TripHeadSign" type="xs:string">
				<xs:annotation>
					<xs:documentation>預設為最近列車終點站描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Platform" minOccurs="0">
				<xs:annotation>
					<xs:documentation>月台描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndingStation" type="MRTStationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>終點站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EstimateTime" type="xs:int">
				<xs:annotation>
					<xs:documentation>抵達時間預估</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTODFareType">
		<xs:annotation>
			<xs:documentation>捷運起迄站收費資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OriginStation" type="RailStationType">
				<xs:annotation>
					<xs:documentation>起點車站資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DestinationStation" type="RailStationType">
				<xs:annotation>
					<xs:documentation>迄點車站資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainType" type="xs:string">
				<xs:annotation>
					<xs:documentation>列車種類</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Fares">
				<xs:annotation>
					<xs:documentation>票價收費資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Fare" type="FareType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TravelTime" type="xs:int">
				<xs:annotation>
					<xs:documentation>起迄站間乘車時間(分)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TravelDistance" type="xs:double">
				<xs:annotation>
					<xs:documentation>起迄站間乘車距離(公里到小數第三位)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTFrequencyType">
		<xs:annotation>
			<xs:documentation>捷運發車頻率資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Route" type="MRTRouteType">
				<xs:annotation>
					<xs:documentation>營運路線</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Line" type="MRTLineType">
				<xs:annotation>
					<xs:documentation>實體路線</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="ServiceDay" type="ServiceDayType">
					<xs:annotation>
						<xs:documentation>週內營運日</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SpecialDays">
					<xs:annotation>
						<xs:documentation>例外營運日</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SpacialDay" type="SpecialDayType" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element name="OperationTime">
				<xs:annotation>
					<xs:documentation>營運時間</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StartTime" type="xs:string">
							<xs:annotation>
								<xs:documentation>起始時間HH:mm</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="EndTime" type="xs:string">
							<xs:annotation>
								<xs:documentation>結束時間HH:mm</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Headways">
				<xs:annotation>
					<xs:documentation>發車班距</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Headway" type="HeadwayType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>發車班距</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTS2STravelTimeType">
		<xs:annotation>
			<xs:documentation>捷運站間旅行時間資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Line" type="MRTLineType">
				<xs:annotation>
					<xs:documentation>實體路線</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainType" type="RailTrainTypeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>車種描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TravelTimes">
				<xs:annotation>
					<xs:documentation>旅行時間</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TravelTime" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Sequence" type="xs:int">
										<xs:annotation>
											<xs:documentation>序號，由1開始，整數遞增</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FromStation" type="RailStationType">
										<xs:annotation>
											<xs:documentation>運行(起)之車站</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ToStation" type="RailStationType">
										<xs:annotation>
											<xs:documentation>運行(迄)之車站</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="RunTime" type="xs:double">
										<xs:annotation>
											<xs:documentation>站間行駛時間(分鐘)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="StopTime" type="xs:double">
										<xs:annotation>
											<xs:documentation>起站停靠時間(分鐘)</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTFirstLastTimeTableType">
		<xs:annotation>
			<xs:documentation>捷運首末班車資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Line" type="MRTLineType">
				<xs:annotation>
					<xs:documentation>實體路線</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Station" type="MRTStationType">
				<xs:annotation>
					<xs:documentation>查詢車站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TripHeadSign" type="xs:string">
				<xs:annotation>
					<xs:documentation>首末班車次之
目的地方向描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DestinationStaion" type="MRTStationType">
				<xs:annotation>
					<xs:documentation>目的地車站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainType" type="xs:string">
				<xs:annotation>
					<xs:documentation>列車種類</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FirstTrainTime" type="xs:string">
				<xs:annotation>
					<xs:documentation>首班車時間HH:mm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastTrainTime" type="xs:string">
				<xs:annotation>
					<xs:documentation>末班車時間HH:mm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="ServiceDay" type="ServiceDayType">
					<xs:annotation>
						<xs:documentation>服務日</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SpecialDays">
					<xs:annotation>
						<xs:documentation>例外營運日</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SpacialDay" type="SpecialDayType" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<!--=======[ MRT Extension 2nd layer Data Type]=======-->
	<xs:complexType name="MRTStationExitType">
		<xs:annotation>
			<xs:documentation>捷運車站出入口資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Station" type="MRTStationType">
				<xs:annotation>
					<xs:documentation>所屬車站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Exits">
				<xs:annotation>
					<xs:documentation>出入口資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Exit" block="extension" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="RailExitType">
										<xs:sequence>
											<xs:element name="ExitMapURLs">
												<xs:annotation>
													<xs:documentation>車站出入口簡圖網址連結資訊
</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="ExitMapURL" maxOccurs="unbounded">
															<xs:annotation>
																<xs:documentation>車站出入口簡圖網址連結資訊
</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="MapName" type="NameType">
																		<xs:annotation>
																			<xs:documentation>車站出入口簡圖名稱
</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="MapURL" type="xs:string">
																		<xs:annotation>
																			<xs:documentation>車站出入口簡圖網址
</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="FloodLevel" type="xs:string">
																		<xs:annotation>
																			<xs:documentation>樓層
</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTStationOfLineType">
		<xs:annotation>
			<xs:documentation>捷運實體路線站序資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Line" type="MRTLineType">
				<xs:annotation>
					<xs:documentation>實體路線</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Stations" type="MRTStationSequenceListType">
				<xs:annotation>
					<xs:documentation>實體路線站序</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTStationSequenceType">
		<xs:annotation>
			<xs:documentation>捷運站序描述資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Sequence" type="xs:int">
				<xs:annotation>
					<xs:documentation>站序描述(從1開始，整數遞增)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Station" type="MRTStationType">
				<xs:annotation>
					<xs:documentation>車站資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CumulativeDistance" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>累積距離(由首站累積，單位為公里)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTTrainTypeType">
		<xs:annotation>
			<xs:documentation>捷運列車種類資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TrainTypeID" type="xs:string">
				<xs:annotation>
					<xs:documentation>車種代號</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainTypeCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>車種代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainTypeName" type="NameType">
				<xs:annotation>
					<xs:documentation>車種名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTStopTimeType">
		<xs:annotation>
			<xs:documentation>捷運停靠元素資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StopSequence" type="xs:integer">
				<xs:annotation>
					<xs:documentation>停靠站序(由1開始)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Station" type="MRTStationType">
				<xs:annotation>
					<xs:documentation>車站資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArrivalTime" type="xs:string">
				<xs:annotation>
					<xs:documentation>到站時間HH:mm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepartureTime" type="xs:string">
				<xs:annotation>
					<xs:documentation>離站時間HH:mm</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTLineTransferType">
		<xs:annotation>
			<xs:documentation>捷運內部路線轉乘資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FromLine" type="MRTLineType">
				<xs:annotation>
					<xs:documentation>路線間轉乘(起)之實體路線</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FromStation" type="MRTStationType">
				<xs:annotation>
					<xs:documentation>路線間轉乘(起)之車站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ToLine" type="MRTLineType">
				<xs:annotation>
					<xs:documentation>路線間轉乘(迄)之實體路線</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ToStation" type="MRTStationType">
				<xs:annotation>
					<xs:documentation>路線間轉乘(迄)之車站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsOnSiteTransfer" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>是否為站內或站外轉乘0=站外；1=站內</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MinTransferTime" type="xs:double">
				<xs:annotation>
					<xs:documentation>最小轉乘耗時，以分鐘為單位</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransferDescription" type="xs:string">
				<xs:annotation>
					<xs:documentation>轉乘方式文字描述</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTStationOfRouteType">
		<xs:annotation>
			<xs:documentation>捷運營運路線站序資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Line" type="MRTLineType">
				<xs:annotation>
					<xs:documentation>實體路線</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Route" type="MRTRouteType">
				<xs:annotation>
					<xs:documentation>營運路線</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Direction" type="DirectionEnum">
				<xs:annotation>
					<xs:documentation>營運路線方向</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Stations" type="MRTStationSequenceListType">
				<xs:annotation>
					<xs:documentation>營運路線站序</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTTrainInfoType">
		<xs:annotation>
			<xs:documentation>捷運車次資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TrainNo" type="xs:string">
				<xs:annotation>
					<xs:documentation>車次代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Route" type="MRTRouteType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>行駛之經營路線</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Direction" type="DirectionEnum">
				<xs:annotation>
					<xs:documentation>方向性描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TripHeadsign" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>車次車頭文字描述(通用以"往"+ 迄站中文站名")</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartingStation" type="MRTStationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>起點車站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndingStation" type="MRTStationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>終點車站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainType" type="RailTrainTypeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>列車種類</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StoppingPattern" type="RailStoppingPatternType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>車次跑法樣態</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Note" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>附註說明</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTGeneralTrainTimeTableType">
		<xs:annotation>
			<xs:documentation>捷運定期車次時刻表資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TrainInfo" type="MRTTrainInfoType">
				<xs:annotation>
					<xs:documentation>車次資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StopTimes" type="MRTStopTimeListType">
				<xs:annotation>
					<xs:documentation>停靠元素</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServiceDay" type="ServiceDayType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>週內營運日</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTSpecificTrainTimeTableType">
		<xs:annotation>
			<xs:documentation>捷運特殊車次時刻表資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TrainInfo" type="MRTTrainInfoType">
				<xs:annotation>
					<xs:documentation>車次資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StopTimes" type="MRTStopTimeListType">
				<xs:annotation>
					<xs:documentation>停靠元素</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpecialDays" minOccurs="0">
				<xs:annotation>
					<xs:documentation>例外營運日</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SpacialDay" type="SpecialDayType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTGeneralStationTimeTableType">
		<xs:annotation>
			<xs:documentation>捷運定期站別時刻表資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Line" type="RailLineType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>實體路線</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Route" type="RailRouteType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>營運路線</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Station" type="MRTStationType">
				<xs:annotation>
					<xs:documentation>查詢車站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Direction" type="DirectionEnum">
				<xs:annotation>
					<xs:documentation>營運路線方向描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DestinationStaion" type="MRTStationType">
				<xs:annotation>
					<xs:documentation>目的地車站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Timetables">
				<xs:annotation>
					<xs:documentation>車站時刻資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Timetable" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Sequence" type="xs:int">
										<xs:annotation>
											<xs:documentation>發車順序</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="TrainInfo" type="MRTTrainInfoType">
										<xs:annotation>
											<xs:documentation>車次資料</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ArrivalTime" type="xs:string">
										<xs:annotation>
											<xs:documentation>到站時刻HH:mm</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DepartureTime" type="xs:string">
										<xs:annotation>
											<xs:documentation>發車時刻HH:mm</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ServiceDays" type="ServiceDayType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>週內營運日</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTNewsType">
		<xs:annotation>
			<xs:documentation>捷運最新消息資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NewsID" type="xs:string">
				<xs:annotation>
					<xs:documentation>最新消息原單位發布代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Language" type="LanguageEnum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>語系(目前僅高鐵提供)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Department" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>發布單位</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Title" type="xs:string">
				<xs:annotation>
					<xs:documentation>消息標題</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NewsCategory" type="NewsCategoryEnum">
				<xs:annotation>
					<xs:documentation>消息類別</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="xs:string">
				<xs:annotation>
					<xs:documentation>內容描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NewsURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>報導網站超連結</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AttachmentURL" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>相關附件網站連結</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>消息有效開始時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>消息有效結束時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PublishTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>消息公告時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTTrainLiveBoardType">
		<xs:annotation>
			<xs:documentation>捷運列車即時到離站資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TrainInfo" type="MRTTrainInfoType">
				<xs:annotation>
					<xs:documentation>車次資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Station" type="MRTStationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>車站資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainStationStatus" type="TrainStationStatusEnum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>列車目前所在之車站狀態(0:進站中; 1:在站上; 2:已離站)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DelayTime" type="xs:int">
				<xs:annotation>
					<xs:documentation>延誤分鐘</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTStationTransferType">
		<xs:annotation>
			<xs:documentation>捷運車站跨運具轉乘資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Station" type="MRTStationType">
				<xs:annotation>
					<xs:documentation>車站資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransferDescription" type="xs:string">
				<xs:annotation>
					<xs:documentation>文字性轉乘描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InteriorMapURLs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>車站內部地圖簡圖連結</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="InteriorMapURL" type="MapURLType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ExteriorMapURLs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>車站外部地圖簡圖連結</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ExteriorMapURL" type="MapURLType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Transfers">
				<xs:annotation>
					<xs:documentation>跨運具轉乘</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Transfer" type="ModeTransferType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTShapeType">
		<xs:annotation>
			<xs:documentation>捷運線型資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Line" type="MRTLineType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>軌道實體路線</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Route" type="MRTRouteType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>軌道營運路線</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Grometry" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation> well-known text，以字串儲存線型資料，資料型態為 LineString </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTNetworkType">
		<xs:annotation>
			<xs:documentation>捷運路網資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NetworkID" type="xs:string">
				<xs:annotation>
					<xs:documentation>路網代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetworkName" type="NameType">
				<xs:annotation>
					<xs:documentation>路網名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Operator" type="OperatorType">
				<xs:annotation>
					<xs:documentation>營運業者</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetworkMapURL" type="NetworkMapURLType">
				<xs:annotation>
					<xs:documentation>路網圖網址URL</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Lines">
				<xs:annotation>
					<xs:documentation>實體路線</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Line" type="MRTLineType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=======[ MRT Data List Type]=======-->
	<xs:complexType name="MRTStationExitListType">
		<xs:annotation>
			<xs:documentation>捷運車站出入口資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationExits">
				<xs:annotation>
					<xs:documentation>車站資料資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StationExit" type="MRTStationExitType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTStationFacilityListType">
		<xs:annotation>
			<xs:documentation>捷運車站設施資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Stations">
				<xs:annotation>
					<xs:documentation>車站資料資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Station" type="RailStationFacilityType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTStationListType">
		<xs:annotation>
			<xs:documentation>捷運車站資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Stations">
				<xs:annotation>
					<xs:documentation>車站資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Station" type="MRTStationType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTTrainInfoListType">
		<xs:annotation>
			<xs:documentation>捷運車次資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TrainInfo" type="MRTTrainInfoType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTODFareListType">
		<xs:annotation>
			<xs:documentation>捷運起訖站票價資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffectiveDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>有效日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpireDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>結束日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Version" type="xs:string">
				<xs:annotation>
					<xs:documentation>資料版本</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ODFares">
				<xs:annotation>
					<xs:documentation>起訖站票價資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ODFare" type="MRTODFareType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTTrainLiveBoardListType">
		<xs:annotation>
			<xs:documentation>捷運列車即時到離站資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainLiveBoards">
				<xs:annotation>
					<xs:documentation>列車角度</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TrainLiveBoard" type="MRTTrainLiveBoardType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTStationLiveBoardListType">
		<xs:annotation>
			<xs:documentation>捷運車站即時到離站資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationLiveBoards">
				<xs:annotation>
					<xs:documentation>站別角度</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StationLiveBoard" type="MRTStationLiveBoardType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTStationSequenceListType">
		<xs:annotation>
			<xs:documentation>捷運站序資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Station" type="MRTStationSequenceType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>站序資料</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTStopTimeListType">
		<xs:annotation>
			<xs:documentation>捷運停靠元素資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StopTime" type="MRTStopTimeType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>停靠元素資料</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTStationOfLineListType">
		<xs:annotation>
			<xs:documentation>捷運實體路線站序資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationOfLines">
				<xs:annotation>
					<xs:documentation>實體路線站序</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StationOfLine" type="MRTStationOfLineType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTStationOfRouteListType">
		<xs:annotation>
			<xs:documentation>捷運營運路線站序資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationOfRoutes">
				<xs:annotation>
					<xs:documentation>營運路線站序</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StationOfRoute" type="MRTStationOfRouteType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTStationTransferListType">
		<xs:annotation>
			<xs:documentation>捷運車站跨運具轉乘資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationTransfers">
				<xs:annotation>
					<xs:documentation>車站跨運具轉乘</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StationTransfer" type="MRTStationTransferType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTRouteListType">
		<xs:annotation>
			<xs:documentation>捷運營運路線資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Routes">
				<xs:annotation>
					<xs:documentation>營運路線</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Route" type="MRTRouteType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTTrainTypeListType">
		<xs:annotation>
			<xs:documentation>捷運列車種類資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainTypes">
				<xs:annotation>
					<xs:documentation>列車種類</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TrainType" type="MRTTrainTypeType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTLineTransferListType">
		<xs:annotation>
			<xs:documentation>捷運內部路線轉乘資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LineTransfers">
				<xs:annotation>
					<xs:documentation>內部路線轉乘</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LineTransfer" type="MRTLineTransferType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTGeneralTrainTimeTableListType">
		<xs:annotation>
			<xs:documentation>捷運定期車次時刻表資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffectiveDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>有效日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpireDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>結束日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimeTableName" type="NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>車次時刻表名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValidityDesciption" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>時刻表適用情形說明</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Version" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>資料版本</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainTimeTables">
				<xs:annotation>
					<xs:documentation>車次時刻表資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TrainTimeTable" type="MRTGeneralTrainTimeTableType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTGeneralStationTimeTableListType">
		<xs:annotation>
			<xs:documentation>捷運定期站別時刻表資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffectiveDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>有效日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpireDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>結束日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimeTableName" type="NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>站別時刻表名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValidityDesciption" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>時刻表適用情形說明</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Version" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>資料版本</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationTimeTables">
				<xs:annotation>
					<xs:documentation>站別時刻表資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StationTimeTable" type="MRTGeneralStationTimeTableType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTSpecificTrainTimeTableListType">
		<xs:annotation>
			<xs:documentation>捷運特殊車次時刻表資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffectiveDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>有效日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpireDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>結束日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimeTableName" type="NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>車次時刻表名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValidityDesciption" type="xs:string">
				<xs:annotation>
					<xs:documentation>時刻表適用情形說明</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Version" type="xs:string">
				<xs:annotation>
					<xs:documentation>資料版本</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainTimeTables">
				<xs:annotation>
					<xs:documentation>車次時刻表資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TrainTimeTable" type="MRTSpecificTrainTimeTableType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTShapeListType">
		<xs:annotation>
			<xs:documentation>捷運線型資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Shapes">
				<xs:annotation>
					<xs:documentation>軌道線型</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Shape" type="MRTShapeType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTAlertListType">
		<xs:annotation>
			<xs:documentation>捷運通阻事件資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Alerts">
				<xs:annotation>
					<xs:documentation>通阻事件</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Alert" type="RailAlertType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTNewsListType">
		<xs:annotation>
			<xs:documentation>捷運最新消息資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Newses">
				<xs:annotation>
					<xs:documentation>最新消息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="News" type="MRTNewsType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTFrequencyListType">
		<xs:annotation>
			<xs:documentation>捷運發車頻率資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffectiveDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>有效日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpireDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>結束日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FrequencyName" type="NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>車次時刻表名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValidityDesciption" type="xs:string">
				<xs:annotation>
					<xs:documentation>時刻表適用情形說明</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Version" type="xs:string">
				<xs:annotation>
					<xs:documentation>資料版本</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Frequencies">
				<xs:annotation>
					<xs:documentation>路線發車頻率</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Frequency" type="MRTFrequencyType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTFirstLastTimeTableListType">
		<xs:annotation>
			<xs:documentation>捷運首末班車資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FirstLastTimetables">
				<xs:annotation>
					<xs:documentation>路線首末班車</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FirstLastTimetable" type="MRTFirstLastTimeTableType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTNetworkListType">
		<xs:annotation>
			<xs:documentation>捷運網路資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Network" type="MRTNetworkType">
				<xs:annotation>
					<xs:documentation>網路</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTLineListType">
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Lines">
				<xs:annotation>
					<xs:documentation>實體路線資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Line" type="MRTLineType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MRTS2STravelTimeListType">
		<xs:annotation>
			<xs:documentation>捷運站間旅行時間資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S2STravelTimes">
				<xs:annotation>
					<xs:documentation>站間旅行時間</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="S2STravelTime" type="MRTS2STravelTimeType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=======[ ALLData Element Group]=======-->
	<xs:element name="MRTAllDataList">
		<xs:annotation>
			<xs:documentation>捷運運具資料集清單</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NetworkList" type="MRTNetworkListType">
					<xs:annotation>
						<xs:documentation>網路資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="StationList" type="MRTStationListType">
					<xs:annotation>
						<xs:documentation>車站資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="StationExitList" type="MRTStationExitListType">
					<xs:annotation>
						<xs:documentation>車站出入口資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="StationFacilityList" type="MRTStationFacilityListType">
					<xs:annotation>
						<xs:documentation>車站設施資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="LineList" type="MRTLineListType">
					<xs:annotation>
						<xs:documentation>實體路線資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RouteList" type="MRTRouteListType">
					<xs:annotation>
						<xs:documentation>營運路線資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="StationOfLineList" type="MRTStationOfLineListType">
					<xs:annotation>
						<xs:documentation>實體路線站序資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="StationOfRouteList" type="MRTStationOfRouteListType">
					<xs:annotation>
						<xs:documentation>營運路線站序資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TrainTypeList" type="MRTTrainTypeListType">
					<xs:annotation>
						<xs:documentation>車種類型資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ODFareList" type="MRTODFareListType">
					<xs:annotation>
						<xs:documentation>起迄站收費資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="GeneralTrainTimeTableList" type="MRTGeneralTrainTimeTableListType">
					<xs:annotation>
						<xs:documentation>通用性車次時刻表資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="GeneralStationTimeTableList" type="MRTGeneralStationTimeTableListType">
					<xs:annotation>
						<xs:documentation>通用性站別時刻表資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SpecificTrainTimeTableList" type="MRTSpecificTrainTimeTableListType">
					<xs:annotation>
						<xs:documentation>特殊車次時刻表資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="FirstLastTimeTableList" type="MRTFirstLastTimeTableListType">
					<xs:annotation>
						<xs:documentation>首末班資訊資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="StationLiveBoardList" type="MRTStationLiveBoardListType">
					<xs:annotation>
						<xs:documentation>車站即時到離站資訊資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TrainLiveBoardList" type="MRTTrainLiveBoardListType">
					<xs:annotation>
						<xs:documentation>列車即時到離站資訊資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="LineTransferList" type="MRTLineTransferListType">
					<xs:annotation>
						<xs:documentation>內部路線轉乘資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="StationTransferList" type="MRTStationTransferListType">
					<xs:annotation>
						<xs:documentation>車站跨運具轉乘資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="FrequencyList" type="MRTFrequencyListType">
					<xs:annotation>
						<xs:documentation>發車頻率資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="S2STravelTimeList" type="MRTS2STravelTimeListType">
					<xs:annotation>
						<xs:documentation>站間旅行時間資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ShapeList" type="MRTShapeListType">
					<xs:annotation>
						<xs:documentation>空間線型資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="NewsList" type="MRTNewsListType">
					<xs:annotation>
						<xs:documentation>最新消息資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="AlertList" type="MRTAlertListType">
					<xs:annotation>
						<xs:documentation>營運通阻資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="StoppingPatternList" type="RailStoppingPatternListType">
					<xs:annotation>
						<xs:documentation>停站模式資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="LineNetworkList" type="RailLineNetworkListType">
					<xs:annotation>
						<xs:documentation>路線網路拓撲資料</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="OperatorList" type="RailOperatorListType">
					<xs:annotation>
						<xs:documentation>營運業者資料</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="FeedInfo" type="FeedInfoType">
					<xs:annotation>
						<xs:documentation>資料版本說明</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
