20180306/XSD/Ferry/Ferry.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 rel. 3 sp1 (x64) (http://www.altova.com) by YI JIE WU (International Integrated Systems, Inc. (IISI)) -->
<xs:schema xmlns="http://ptx.transportdata.tw/standard/schema/" xmlns:editix="http://ptx.transportdata.tw/standards/schema/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ptx.transportdata.tw/standard/schema/" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="2.0" id="PTX_Ferry">
	<!--=======[Dependencies]=======-->
	<xs:include schemaLocation="../PTX_Common.xsd"/>
	<xs:include schemaLocation="PTX_Ferry_Code.xsd"/>
	<!--=======[2nd Layer FerryData Type]=======-->
	<xs:complexType name="PortType">
		<xs:annotation>
			<xs:documentation>航運港口資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PortID" type="xs:string">
				<xs:annotation>
					<xs:documentation>港口代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PortCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>港口簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PortName" type="NameType">
				<xs:annotation>
					<xs:documentation>港口名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PortPosition" type="PointType">
				<xs:annotation>
					<xs:documentation>港口位置</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PortAddress" type="xs:string">
				<xs:annotation>
					<xs:documentation>港口地址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PortPhone" type="xs:string">
				<xs:annotation>
					<xs:documentation>港口電話</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="City" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>港口所屬城市</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Country" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>港口所國家</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PortURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>港口官網網址</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FerryOperatorType">
		<xs:annotation>
			<xs:documentation>航運營運業者資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OperatorID" type="xs:string">
				<xs:annotation>
					<xs:documentation>營運業者代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatorName" type="NameType">
				<xs:annotation>
					<xs:documentation>營運業者名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatorPhone">
				<xs:annotation>
					<xs:documentation>營運業者連絡電話</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0][0-9]{1,2}-[0-9]{6,8}#?([0-9]*)?"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OperatorEmail">
				<xs:annotation>
					<xs:documentation>營運業者電子信箱</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value=".*@.*[.].*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OperatorURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>營運業者網址鏈結</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FareURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>營運業者票價網址連結</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReservationURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>營運業者訂票網站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReservationPhone" minOccurs="0">
				<xs:annotation>
					<xs:documentation>營運業者訂票電話</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0][0-9]{1,2}-[0-9]{6,8}#?([0-9]*)?"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OperatorLogoURL" minOccurs="0">
				<xs:annotation>
					<xs:documentation>營運業者Logo網址</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:anyURI">
						<xs:pattern value="[0][0-9]{1,2}-[0-9]{6,8}#?([0-9]*)?"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FerryRouteType">
		<xs:annotation>
			<xs:documentation>航運航線資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RouteID" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>航線代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RouteName" type="NameType">
				<xs:annotation>
					<xs:documentation>航線名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="xs:string">
				<xs:annotation>
					<xs:documentation>航線描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Operator" type="OperatorType">
				<xs:annotation>
					<xs:documentation>航運業者資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartPort" type="PortType">
				<xs:annotation>
					<xs:documentation>航線起點港口資訊</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndPort" type="PortType">
				<xs:annotation>
					<xs:documentation>航線迄點港口資訊</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TicketPriceDescription" type="NameType">
				<xs:annotation>
					<xs:documentation>票價描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RouteType" type="FerryRouteTypeEnum">
				<xs:annotation>
					<xs:documentation>航線種類1:國際; 2:國內; 3:兩岸; 4:遊輪; 5:其他</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RouteMapURL" type="xs:anyURI">
				<xs:annotation>
					<xs:documentation>航運路線簡圖網址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RouteDistance" type="xs:double">
				<xs:annotation>
					<xs:documentation>航線哩程</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FerryLegOfRouteType">
		<xs:annotation>
			<xs:documentation>航運航線航段資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FerryRouteLegID" type="xs:string">
				<xs:annotation>
					<xs:documentation>航線航段代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FerryRouteLegName" type="NameType">
				<xs:annotation>
					<xs:documentation>航線航段</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FromPort" type="PortType">
				<xs:annotation>
					<xs:documentation>航線航段起點港口資訊</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ToPort" type="PortType">
				<xs:annotation>
					<xs:documentation>航線航段迄點港口資訊</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FerryRouteDistance" type="xs:double">
				<xs:annotation>
					<xs:documentation>航線航段行駛哩程</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VesselType">
		<xs:annotation>
			<xs:documentation>航運船舶資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="VesselID" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>船舶編號</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VesselName" type="NameType">
				<xs:annotation>
					<xs:documentation>船舶名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nationality" type="xs:string">
				<xs:annotation>
					<xs:documentation>船舶所屬國籍</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Operator" type="FerryOperatorType">
				<xs:annotation>
					<xs:documentation>營運業者</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FerryRouteFareType">
		<xs:annotation>
			<xs:documentation>航運票價資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Route" type="FerryRouteType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>船舶編號</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FareID" type="xs:string">
				<xs:annotation>
					<xs:documentation>票價代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginPort" type="PortType">
				<xs:annotation>
					<xs:documentation>起始港口資訊</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DestinationPort" type="PortType">
				<xs:annotation>
					<xs:documentation>迄點港口資訊</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Fares">
				<xs:annotation>
					<xs:documentation>票價內容</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Fare" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="FareName" type="xs:string">
										<xs:annotation>
											<xs:documentation>票種名稱</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="TicketType" type="TicketTypeEnum">
										<xs:annotation>
											<xs:documentation>票種類型(例如:一般票、來回票、電子票證、回數票、定期票、早鳥票等)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FareClass" type="FareClassEnum">
										<xs:annotation>
											<xs:documentation>費率等級(例如:成人、學生、孩童、敬老等)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CabinClass" type="xs:integer">
										<xs:annotation>
											<xs:documentation>艙等1.標準座車廂
2.商務座車廂
3.自由座車廂</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Price" type="xs:integer">
										<xs:annotation>
											<xs:documentation>計費價格(新台幣)</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeneralFerryScheduleType">
		<xs:annotation>
			<xs:documentation>航運定期班表資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ScheduleStartDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>班表開始日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScheduleEndDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>班表結束日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Operator" type="OperatorType">
				<xs:annotation>
					<xs:documentation>航運業者資訊</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Vessel" type="VesselType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>船舶號碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeparturePort" type="PortType">
				<xs:annotation>
					<xs:documentation>離港港口</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepartureTime" type="xs:time">
				<xs:annotation>
					<xs:documentation>離港時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransitPorts" minOccurs="0">
				<xs:annotation>
					<xs:documentation>中繼港口資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TransitPort">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="FerryTransitType"/>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ArrivalPort" type="PortType">
				<xs:annotation>
					<xs:documentation>進港港口</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArrivalTime" type="xs:time">
				<xs:annotation>
					<xs:documentation>進港時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Monday" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>週一航駛與否</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tuesday" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>週二航駛與否</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Wednesday" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>週三航駛與否</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Thursday" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>週四航駛與否</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Friday" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>週五航駛與否</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Saturday" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>週六航駛與否</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sunday" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>週日航駛與否</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RouteType" type="FerryRouteTypeEnum">
				<xs:annotation>
					<xs:documentation>航線種類  1:國際; 2:國內; 3:兩岸; 4:遊輪; 5:其他</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MonthlyFerryScheduleType">
		<xs:annotation>
			<xs:documentation>航運月航行班表資料型別</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="GeneralFerryScheduleType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WeeklyFerryScheduleType">
		<xs:annotation>
			<xs:documentation>航運週航行班表資料型別</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="GeneralFerryScheduleType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DailyFerryScheduleType">
		<xs:annotation>
			<xs:documentation>航運日航行班表資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Operator" type="OperatorType">
				<xs:annotation>
					<xs:documentation>航運業者資訊</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Vessel" type="VesselType">
				<xs:annotation>
					<xs:documentation>船舶資訊</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeparturePort" type="PortType">
				<xs:annotation>
					<xs:documentation>離港港口</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepartureTime" type="xs:time">
				<xs:annotation>
					<xs:documentation>離港時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransitPorts" minOccurs="0">
				<xs:annotation>
					<xs:documentation>中繼港口資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TransitPort" type="FerryTransitType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ArrivalPort" type="PortType">
				<xs:annotation>
					<xs:documentation>進港港口</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArrivelTime" type="xs:time">
				<xs:annotation>
					<xs:documentation>進港時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RouteType" type="FerryRouteTypeEnum">
				<xs:annotation>
					<xs:documentation>航線種類  (1:國際; 2:國內; 3:兩岸; 4:遊輪; 5:其他)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FerryTransitType">
		<xs:annotation>
			<xs:documentation>航運中繼資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TransitSequence" type="xs:int">
				<xs:annotation>
					<xs:documentation>中繼資料次序(由1開此)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransitPort" type="PortType">
				<xs:annotation>
					<xs:documentation>中繼港口</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransitCause" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>中繼原因</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArrivalTime" type="xs:time">
				<xs:annotation>
					<xs:documentation>中繼港口離港時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepartureTime" type="xs:time">
				<xs:annotation>
					<xs:documentation>中繼港口進港時間</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FerryNewsType">
		<xs:annotation>
			<xs:documentation>航運最新消息資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NewsID" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>最新消息元單位發布代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Language" type="LanguageEnum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>語系</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Department" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>發布單位</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Title" type="xs:string">
				<xs:annotation>
					<xs:documentation>通阻標題</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NewsCategory" type="NewsCategoryEnum">
				<xs:annotation>
					<xs:documentation>消息標題</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="xs:string">
				<xs:annotation>
					<xs:documentation>內容描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NewsURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>相關連結網址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AttachmentURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>相關附件網址連結</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PublishTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>發布時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>開始時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>結束時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>消息更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FerryAlertType">
		<xs:annotation>
			<xs:documentation>航運營運通阻資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AlertUID" type="xs:string">
				<xs:annotation>
					<xs:documentation>通阻事件統一代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlertID" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>通阻事件源單位發布代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Title" type="xs:string">
				<xs:annotation>
					<xs:documentation>通阻標題</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="xs:string">
				<xs:annotation>
					<xs:documentation>內容描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="xs:string">
				<xs:annotation>
					<xs:documentation>營運狀況</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Scope" type="FerryAlertScopeType">
				<xs:annotation>
					<xs:documentation>通阻影響範圍</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Level" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>影響等級程度</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Effect" type="xs:string">
				<xs:annotation>
					<xs:documentation>影響說明</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Reason" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>影響原因</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlertURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>相關網站連結URL</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PublishTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>通阻發布時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>開始時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>結束時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>消息更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FerryAlertScopeType">
		<xs:annotation>
			<xs:documentation>航運營運通阻範圍資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Ports" minOccurs="0">
				<xs:annotation>
					<xs:documentation>港口資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Port" type="PortType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FerryRoutes" minOccurs="0">
				<xs:annotation>
					<xs:documentation>航線資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FerryRoute" type="FerryRouteType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Operators" minOccurs="0">
				<xs:annotation>
					<xs:documentation>營運業者資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Operator" type="OperatorType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Vessels" minOccurs="0">
				<xs:annotation>
					<xs:documentation>船舶資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Vessel" type="VesselType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=======[Ferry Data List Type]=======-->
	<xs:complexType name="PortListType">
		<xs:annotation>
			<xs:documentation>航運港口資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ports">
				<xs:annotation>
					<xs:documentation>港口資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Port" type="PortType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FerryOperatorListType">
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新日期時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Operators">
				<xs:annotation>
					<xs:documentation>營運業者</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Operator" type="FerryOperatorType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FerryRouteListType">
		<xs:annotation>
			<xs:documentation>航運航線資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffectiveDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>有效日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpireDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>結束日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Routes">
				<xs:annotation>
					<xs:documentation>航運航線</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Route" type="FerryRouteType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FerryRouteNetworkListType">
		<xs:annotation>
			<xs:documentation>航運航線網路拓撲資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>XML更新日期時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FerryRouteNetworks">
				<xs:annotation>
					<xs:documentation>航線網路拓撲資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FerryRouteNetwork" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="FerryRoute" type="FerryRouteType">
										<xs:annotation>
											<xs:documentation>航運航線</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FerryLegOfRoutes">
										<xs:annotation>
											<xs:documentation>航線航段資料</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="FerryLegOfRoute" type="FerryLegOfRouteType" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation>航線航段資料</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VesselListType">
		<xs:annotation>
			<xs:documentation>航運船舶資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>XML更新日期時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Vessels">
				<xs:annotation>
					<xs:documentation>船舶資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Vessel" type="VesselType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FerryRouteFareListType">
		<xs:annotation>
			<xs:documentation>航運票價資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>XML更新日期時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RouteFares">
				<xs:annotation>
					<xs:documentation>船舶資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RouteFare" type="FerryRouteFareType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeneralFerryScheduleListType">
		<xs:annotation>
			<xs:documentation>航運定期班表資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffectiveDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>有效日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpireDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>結束日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GeneralFerrySchedules">
				<xs:annotation>
					<xs:documentation>航運定期班表資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="GeneralFerrySchedule" type="GeneralFerryScheduleType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MonthlyFerryScheduleListType">
		<xs:annotation>
			<xs:documentation>航運月航行班表資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffectiveDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>有效日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpireDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>結束日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MonthlyFerrySchedules">
				<xs:annotation>
					<xs:documentation>航運月航行班表資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="MonthlyFerrySchedule" type="MonthlyFerryScheduleType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WeeklyFerryScheduleListType">
		<xs:annotation>
			<xs:documentation>航運週航行班表資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffectiveDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>有效日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpireDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>結束日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WeeklyFerrySchedules">
				<xs:annotation>
					<xs:documentation>航運週航行班表資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="WeeklyFerrySchedule" type="WeeklyFerryScheduleType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DailyFerryScheduleListType">
		<xs:annotation>
			<xs:documentation>航運日航行班表資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Date" type="xs:date">
				<xs:annotation>
					<xs:documentation>適用日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DailyFerrySchedules">
				<xs:annotation>
					<xs:documentation>航運日航行班表資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DailyFerrySchedule" type="DailyFerryScheduleType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NewsListType">
		<xs:annotation>
			<xs:documentation>航運最新消息資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Newses">
				<xs:annotation>
					<xs:documentation>最新消息資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="News" type="FerryNewsType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AlertListType">
		<xs:annotation>
			<xs:documentation>航運營運通阻資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Alerts">
				<xs:annotation>
					<xs:documentation>營運通阻資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Alert" type="FerryAlertType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=======[ Element Group]=======-->
	<xs:element name="FerryAllDataList">
		<xs:annotation>
			<xs:documentation>航運運具資料集清單</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PortList" type="PortListType">
					<xs:annotation>
						<xs:documentation>航運港口資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="OperatorList" type="FerryOperatorListType">
					<xs:annotation>
						<xs:documentation>營運業者資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RouteList" type="FerryRouteListType">
					<xs:annotation>
						<xs:documentation>航運航線資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="VesselList" type="VesselListType">
					<xs:annotation>
						<xs:documentation>航運船舶資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RouteFareList" type="FerryRouteFareListType">
					<xs:annotation>
						<xs:documentation>航運票價資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="GeneralFerryScheduleList" type="GeneralFerryScheduleListType">
					<xs:annotation>
						<xs:documentation>航運定期班表資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DailyFerryScheduleList" type="DailyFerryScheduleListType">
					<xs:annotation>
						<xs:documentation>航運日航行班表資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="NewsList" type="NewsListType">
					<xs:annotation>
						<xs:documentation>航運最新消息資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="FeedInfo" type="FeedInfoType">
					<xs:annotation>
						<xs:documentation>資料版本說明</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
