20180306/XSD/Rail/THSR/PTX_THSR.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 rel. 3 sp1 (x64) (http://www.altova.com) by YI JIE WU (International Integrated Systems, Inc. (IISI)) -->
<xs:schema xmlns="http://ptx.transportdata.tw/standard/schema/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ptx.transportdata.tw/standard/schema/" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="2.0" id="PTX_Rail_THSR">
	<!-- ===Dependencies ======================================= -->
	<xs:include schemaLocation="../PTX_Rail.xsd"/>
	<xs:include schemaLocation="PTX_THSR_codes.xsd"/>
	<!--=======[3rd Layer Rail THSR Data Type]=======-->
	<!--=======[3rd Layer THSR Exclusive Dynamic Data Type]=======-->
	<xs:complexType name="RailAvailableSeatStatusType_THSR">
		<xs:annotation>
			<xs:documentation>高鐵對號座位狀態看板資料型別(Station-Based)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TrainInfo" type="RailTrainInfoType">
				<xs:annotation>
					<xs:documentation>車次資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Direction" type="DirectionEnum">
				<xs:annotation>
					<xs:documentation>方向描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Station" type="RailStationType">
				<xs:annotation>
					<xs:documentation>查詢車站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepartureTime" type="xs:time">
				<xs:annotation>
					<xs:documentation>發車時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndingStation" type="RailStationType">
				<xs:annotation>
					<xs:documentation>終點車站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StopStations">
				<xs:annotation>
					<xs:documentation>停靠站間組合</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StopStation" type="RailStopStationType_THSR" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RecTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>來源端平台接收時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>訊息更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailStopStationType_THSR">
		<xs:annotation>
			<xs:documentation>高鐵停靠車站對號座位資料型別(Station-Based)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Station" type="RailStationType">
				<xs:annotation>
					<xs:documentation>停靠車站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StandardSeatStatus" type="xs:string">
				<xs:annotation>
					<xs:documentation>標準席剩餘座位狀態</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BusinessSeatStatus" type="xs:string">
				<xs:annotation>
					<xs:documentation>商務席剩餘座位狀態</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailAlertType_THSR">
		<xs:annotation>
			<xs:documentation>高鐵通阻事件資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AlertUID" type="xs:string">
				<xs:annotation>
					<xs:documentation>通阻事件統一代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlertID" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>通阻事件原單位發布代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Title" type="xs:string">
				<xs:annotation>
					<xs:documentation>通阻標題</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="xs:string">
				<xs:annotation>
					<xs:documentation>營運狀況</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Scope" type="RailAlertScopeType">
				<xs:annotation>
					<xs:documentation>影響範圍</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Direction" type="DirectionEnum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>影響方向</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Effect" type="AlertLevelEnum">
				<xs:annotation>
					<xs:documentation>影響說明</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="xs:string">
				<xs:annotation>
					<xs:documentation>事件簡易描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlertURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>詳細描述網站超連結</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PublishTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>消息公告時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>開始時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>結束時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新日期時間</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailFareType_THSR">
		<xs:annotation>
			<xs:documentation>高鐵收費描述資料型別</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="FareType">
				<xs:sequence>
					<xs:element name="CabinClass" type="RailCabinClassEnum_THSR">
						<xs:annotation>
							<xs:documentation>高鐵艙等</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RailODFareType_THSR">
		<xs:annotation>
			<xs:documentation>高鐵起迄站收費資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OriginStation" type="RailStationType">
				<xs:annotation>
					<xs:documentation>起點車站資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DestinationStation" type="RailStationType">
				<xs:annotation>
					<xs:documentation>迄點車站資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Direction" type="DirectionEnum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>方向性描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Fares">
				<xs:annotation>
					<xs:documentation>票價收費資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Fare" type="RailFareType_THSR" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=======[THSR Data List Type]=======-->
	<xs:complexType name="RailAvailableSeatStatusListType_THSR">
		<xs:annotation>
			<xs:documentation>高鐵對號座位狀態看板資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AvailableSeats">
				<xs:annotation>
					<xs:documentation>對號座位狀態</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AvailableSeat" type="RailAvailableSeatStatusType_THSR" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailAlertListType_THSR">
		<xs:annotation>
			<xs:documentation>高鐵通阻事件資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Alerts">
				<xs:annotation>
					<xs:documentation>通阻事件</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Alert" type="RailAlertType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailODFareListType_THSR">
		<xs:annotation>
			<xs:documentation>高鐵起訖站票價資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新頻率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffectiveDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>有效日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpireDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>結束日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ODFares">
				<xs:annotation>
					<xs:documentation>起訖站票價資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ODFare" type="RailODFareType_THSR" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Version" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>資料版本</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=======[ ALLData Element Group]=======-->
	<xs:element name="THSRAllDataList">
		<xs:annotation>
			<xs:documentation>高鐵運具資料集清單</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NetworkList" type="RailNetworkListType">
					<xs:annotation>
						<xs:documentation>網路資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="StationList" type="RailStationListType">
					<xs:annotation>
						<xs:documentation>車站資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="StationExitList" type="RailStationExitListType">
					<xs:annotation>
						<xs:documentation>車站出入口資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="StationFacilityList" type="RailStationFacilityListType">
					<xs:annotation>
						<xs:documentation>車站設施資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="LineList" type="RailLineListType">
					<xs:annotation>
						<xs:documentation>實體路線資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RouteList" type="RailRouteListType">
					<xs:annotation>
						<xs:documentation>營運路線資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="StationOfLineList" type="RailStationOfLineListType">
					<xs:annotation>
						<xs:documentation>實體路線站序資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="StationOfRouteList" type="RailStationOfRouteListType">
					<xs:annotation>
						<xs:documentation>營運路線站序資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ODFareList" type="RailODFareListType_THSR">
					<xs:annotation>
						<xs:documentation>起迄站收費資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="GeneralTrainTimeTableList" type="RailGeneralTrainTimeTableListType">
					<xs:annotation>
						<xs:documentation>通用性車次時刻表資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="GeneralStationTimeTableList" type="RailGeneralStationTimeTableListType">
					<xs:annotation>
						<xs:documentation>通用性站別時刻表資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SpecificTrainTimeTableList" type="RailSpecificTrainTimeTableListType">
					<xs:annotation>
						<xs:documentation>特殊車次時刻表資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DailyTrainTimeTableList" type="RailDailyTrainTimeTableListType">
					<xs:annotation>
						<xs:documentation>每日車次時刻表資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DailyStationTimeTableList" type="RailDailyStationTimeTableListType">
					<xs:annotation>
						<xs:documentation>每日站別時刻表資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="StationLiveBoardList" type="RailStationLiveBoardListType">
					<xs:annotation>
						<xs:documentation>列車即時到離站資訊資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TrainLiveBoardList" type="RailTrainLiveBoardListType">
					<xs:annotation>
						<xs:documentation>列車即時到離站資訊資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="StationTransferList" type="RailStationTransferListType">
					<xs:annotation>
						<xs:documentation>車站跨運具轉乘資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ShapeList" type="RailShapeListType">
					<xs:annotation>
						<xs:documentation>空間線型資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="NewsList" type="RailNewsListType">
					<xs:annotation>
						<xs:documentation>最新消息資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="AlertList" type="RailAlertListType_THSR">
					<xs:annotation>
						<xs:documentation>營運通阻資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="AvailableSeatStatusList" type="RailAvailableSeatStatusListType_THSR">
					<xs:annotation>
						<xs:documentation>對號座位狀態看板資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="StoppingPatternList" type="RailStoppingPatternListType">
					<xs:annotation>
						<xs:documentation>車次跑法資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="LineNetworkList" type="RailLineNetworkListType">
					<xs:annotation>
						<xs:documentation>路線網路拓撲資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="OperatorList" type="RailOperatorListType">
					<xs:annotation>
						<xs:documentation>營運業者資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="FeedInfo" type="FeedInfoType">
					<xs:annotation>
						<xs:documentation>資料版本說明</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
