20180306/XSD/Rail/TRA/PTX_TRA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 rel. 3 sp1 (x64) (http://www.altova.com) by YI JIE WU (International Integrated Systems, Inc. (IISI)) -->
<xs:schema xmlns="http://ptx.transportdata.tw/standard/schema/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ptx.transportdata.tw/standard/schema/" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="2.0" id="PTX_Rail_TRA">
	<!--=======[Dependencies]=======-->
	<xs:include schemaLocation="PTX_TRA_Codes.xsd"/>
	<xs:include schemaLocation="../PTX_Rail.xsd"/>
	<xs:include schemaLocation="../PTX_Rail_Codes.xsd"/>
	<!--=======[3rd Layer TRA Exclusive Data Type]=======-->
	<xs:complexType name="RailStationType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵車站資料型別 </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RailStationType">
				<xs:sequence>
					<xs:element name="StationClass" type="StationClassCodeEnum_TRA">
						<xs:annotation>
							<xs:documentation>車站等級</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RailTrainInfoType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵車次資料型別 </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RailTrainInfoType">
				<xs:sequence>
					<xs:element name="OverNightStationID" type="RailStationIDEnum_TRA">
						<xs:annotation>
							<xs:documentation>跨夜車站代碼</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TripLine" type="xs:string">
						<xs:annotation>
							<xs:documentation>山海線類型</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="WheelChairFlag" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>是否設身障旅客專用座位車</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PackageServiceFlag" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>是否提供行李服務</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DiningFlag" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>是否提供餐車服務</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BreastFeedingFlag" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>是否設有哺乳室</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BikeFlag" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>是否人車同行班次(置於攜車袋之自行車各級列車均可乘車)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CarFlag" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>是否提供小客車上車服務</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DailyFlag" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>是否每日行駛</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExtraTrainFlag" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>是否為加班車</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Note" type="xs:string">
						<xs:annotation>
							<xs:documentation>附註說明</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RailFareType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵收費描述資料型別</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="FareType">
				<xs:sequence>
					<xs:element name="TrainType" type="RailTrainTypeType">
						<xs:annotation>
							<xs:documentation>列車種類</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RailODFareType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵起迄站收費資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OriginStation" type="RailStationType_TRA">
				<xs:annotation>
					<xs:documentation>起點車站資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DestinationStation" type="RailStationType_TRA">
				<xs:annotation>
					<xs:documentation>迄點車站資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainType" type="RailTrainTypeCodeEnum_TRA"/>
			<xs:element name="Direction" type="DirectionEnum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>方向性描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Fares">
				<xs:annotation>
					<xs:documentation>票價收費資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Fare" type="RailFareType_TRA" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TravelDistance" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>站間旅行參考距離(公里)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=======[3rd Layer TRA Exclusive Dynamic Data Type ]=======-->
	<xs:complexType name="RailStationLiveBoardType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵站別即時到離站資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="Station" type="RailStationType_TRA">
				<xs:annotation>
					<xs:documentation>車站資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainInfo" type="RailTrainInfoType_TRA">
				<xs:annotation>
					<xs:documentation>車次資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndingStation" type="RailStationType_TRA">
				<xs:annotation>
					<xs:documentation>終點車站資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TripLine" type="xs:string">
				<xs:annotation>
					<xs:documentation>山海線類型</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Platform" type="xs:string">
				<xs:annotation>
					<xs:documentation>停靠月台</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScheduledArrivalTime" type="xs:string">
				<xs:annotation>
					<xs:documentation>表訂到站時刻HH:mm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScheduledDepartureTime" type="xs:string">
				<xs:annotation>
					<xs:documentation>表訂離站時刻HH:mm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DelayTime" type="xs:integer">
				<xs:annotation>
					<xs:documentation>延誤分鐘</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RunningStatus" type="RailRunningStatusEnum">
				<xs:annotation>
					<xs:documentation>列車狀態</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>訊息更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailTrainLiveBoardType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵列車即時到離站資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TrainInfo" type="RailTrainInfoType_TRA">
				<xs:annotation>
					<xs:documentation>車次資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Station" type="RailStationType_TRA" minOccurs="0">
				<xs:annotation>
					<xs:documentation>車站資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TripLine" type="xs:string">
				<xs:annotation>
					<xs:documentation>山海線類型</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainStationStatus" type="TrainStationStatusEnum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>列車目前所在之車站狀態(0:進站中; 1:在站上; 2:已離站)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DelayTime" type="xs:int">
				<xs:annotation>
					<xs:documentation>延誤分鐘</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=======[ TRA Extension 2nd layer Data Type]=======-->
	<xs:complexType name="RailStationExitType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵車站出入口資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Station" type="RailStationType_TRA">
				<xs:annotation>
					<xs:documentation>所屬車站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Exits">
				<xs:annotation>
					<xs:documentation>出入口資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Exit" block="extension" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="RailExitType">
										<xs:sequence>
											<xs:element name="ExitMapURLs">
												<xs:annotation>
													<xs:documentation>車站出入口簡圖網址連結資訊
</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="ExitMapURL" type="MapURLType" maxOccurs="unbounded">
															<xs:annotation>
																<xs:documentation>車站出入口簡圖網址連結資訊
</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailStationFacilityType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵車站設施資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Station" type="RailStationType_TRA">
				<xs:annotation>
					<xs:documentation>所屬車站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FacilityMapURLs">
				<xs:annotation>
					<xs:documentation>車站設施簡圖網址連結資訊
</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FacilityMapURL" type="BusRouteFareType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>車站設施簡圖網址連結資訊
</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Elevators" minOccurs="0">
				<xs:annotation>
					<xs:documentation>電梯資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Elevator" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Description">
										<xs:annotation>
											<xs:documentation>文字描述</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FloorLevel">
										<xs:annotation>
											<xs:documentation>所在樓層(一樓以上以1F,2F,…,#F；地下一樓以下者以“B”+數字，例如：B1,B2,…,B#)</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Toilets" minOccurs="0">
				<xs:annotation>
					<xs:documentation>廁所資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Toilet" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Description">
										<xs:annotation>
											<xs:documentation>文字描述</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FloorLevel">
										<xs:annotation>
											<xs:documentation>所在樓層(一樓以上以1F,2F,…,#F；地下一樓以下者以“B”+數字，例如：B1,B2,…,B#)</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DrinkingFountains" minOccurs="0">
				<xs:annotation>
					<xs:documentation>飲水機資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DrinkingFountain" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Description">
										<xs:annotation>
											<xs:documentation>文字描述</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FloorLevel">
										<xs:annotation>
											<xs:documentation>所在樓層(一樓以上以1F,2F,…,#F；地下一樓以下者以“B”+數字，例如：B1,B2,…,B#)</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="InfomationSpots" minOccurs="0">
				<xs:annotation>
					<xs:documentation>諮詢站資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="InfomationSpot" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Description">
										<xs:annotation>
											<xs:documentation>文字描述</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FloorLevel">
										<xs:annotation>
											<xs:documentation>所在樓層(一樓以上以1F,2F,…,#F；地下一樓以下者以“B”+數字，例如：B1,B2,…,B#)</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="LockerSpots" minOccurs="0">
				<xs:annotation>
					<xs:documentation>寄物櫃資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LockerSpot" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Description">
										<xs:annotation>
											<xs:documentation>文字描述</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FloorLevel">
										<xs:annotation>
											<xs:documentation>所在樓層(一樓以上以1F,2F,…,#F；地下一樓以下者以“B”+數字，例如：B1,B2,…,B#)</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="NursingRoomSpots" minOccurs="0">
				<xs:annotation>
					<xs:documentation>哺乳室資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="NursingRoomSpot" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Description">
										<xs:annotation>
											<xs:documentation>文字描述</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FloorLevel">
										<xs:annotation>
											<xs:documentation>所在樓層(一樓以上以1F,2F,…,#F；地下一樓以下者以“B”+數字，例如：B1,B2,…,B#)</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailStationOfLineType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵實體路線站序資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Line" type="RailLineType">
				<xs:annotation>
					<xs:documentation>實體路線</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Stations" type="RailStationSequenceListType_TRA">
				<xs:annotation>
					<xs:documentation>實體路線站序</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailRouteType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵營運路線資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Line" type="RailLineType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>營運路線所屬之實體路線</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RouteID" type="xs:string">
				<xs:annotation>
					<xs:documentation>營運路線代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Operator" type="OperatorType">
				<xs:annotation>
					<xs:documentation>營運業者資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RouteName" type="NameType">
				<xs:annotation>
					<xs:documentation>路線名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RouteType" type="RailRouteTypeEnum">
				<xs:annotation>
					<xs:documentation>路線類別代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RouteMapImageUrl" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>路線簡圖網址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Direction" type="DirectionEnum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>方向性描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartStation" type="RailStationType_TRA">
				<xs:annotation>
					<xs:documentation>起點車站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndStation" type="RailStationType_TRA">
				<xs:annotation>
					<xs:documentation>迄點車站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TravelTime" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>營運路線運行時間，以分鐘為單位</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RouteURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>路線資訊說明網址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RouteDistance" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>營運路線長度距離，以公里為單位</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailStationSequenceType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵站序描述資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Sequence" type="xs:int">
				<xs:annotation>
					<xs:documentation>站序描述(從1開始，整數遞增)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Station" type="RailStationType_TRA">
				<xs:annotation>
					<xs:documentation>車站資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CumulativeDistance" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>累積距離(由首站累積，單位為公里)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailStopTimeType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵停靠元素資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StopSequence" type="xs:integer">
				<xs:annotation>
					<xs:documentation>停靠站序(由1開始)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Station" type="RailStationType_TRA">
				<xs:annotation>
					<xs:documentation>車站資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArrivalTime" type="xs:string">
				<xs:annotation>
					<xs:documentation>到站時間HH:mm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepartureTime" type="xs:string">
				<xs:annotation>
					<xs:documentation>離站時間HH:mm</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailLineTransferType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵內部路線轉乘資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FromLine" type="RailLineType">
				<xs:annotation>
					<xs:documentation>路線間轉乘(起)之實體路線</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FromStation" type="RailStationType_TRA">
				<xs:annotation>
					<xs:documentation>路線間轉乘(起)之車站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ToLine" type="RailLineType">
				<xs:annotation>
					<xs:documentation>路線間轉乘(迄)之實體路線</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ToStation" type="RailStationType_TRA">
				<xs:annotation>
					<xs:documentation>路線間轉乘(迄)之車站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransferTime" type="xs:double">
				<xs:annotation>
					<xs:documentation>轉乘耗時，以分鐘為單位</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransferDescription" type="xs:string">
				<xs:annotation>
					<xs:documentation>轉乘方式文字描述</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailStationOfRouteType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵營運路線站序資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Line" type="RailLineType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>實體路線</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Route" type="RailRouteType_TRA">
				<xs:annotation>
					<xs:documentation>營運路線</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Direction" type="DirectionEnum">
				<xs:annotation>
					<xs:documentation>營運路線方向</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Stations" type="RailStationSequenceListType_TRA">
				<xs:annotation>
					<xs:documentation>營運路線站序</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailGeneralTrainTimeTableType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵定期車次時刻表資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TrainInfo" type="RailTrainInfoType_TRA">
				<xs:annotation>
					<xs:documentation>車次資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StopTimes" type="RailStopTimeListType_TRA">
				<xs:annotation>
					<xs:documentation>停靠元素</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServiceDay" type="ServiceDayType">
				<xs:annotation>
					<xs:documentation>週內營運日</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailSpecificTrainTimeTableType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵特殊時刻表資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TrainInfo" type="RailTrainInfoType_TRA">
				<xs:annotation>
					<xs:documentation>車次資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StopTimes" type="RailStopTimeListType_TRA">
				<xs:annotation>
					<xs:documentation>停靠元素</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpecialDays" minOccurs="0">
				<xs:annotation>
					<xs:documentation>例外營運日</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SpecialDay" type="SpecialDayType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailDailyTrainTimeTableType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵每日車次時刻表資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TrainInfo" type="RailTrainInfoType_TRA">
				<xs:annotation>
					<xs:documentation>車次資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StopTimes" type="RailStopTimeListType_TRA">
				<xs:annotation>
					<xs:documentation>停靠元素</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailGeneralStationTimeTableType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵定期站別時刻表資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Route" type="RailRouteType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>營運路線</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Station" type="RailStationType_TRA">
				<xs:annotation>
					<xs:documentation>查詢車站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Direction" type="DirectionEnum">
				<xs:annotation>
					<xs:documentation>行駛方向</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DestinationStaion" type="RailStationType_TRA">
				<xs:annotation>
					<xs:documentation>目的地車站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Timetables">
				<xs:annotation>
					<xs:documentation>車站時刻資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Timetable" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Sequence">
										<xs:annotation>
											<xs:documentation>發車順序</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="TrainInfo" type="RailTrainInfoType_TRA">
										<xs:annotation>
											<xs:documentation>車次資料</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ArrivalTime" type="xs:string">
										<xs:annotation>
											<xs:documentation>到站時刻HH:mm</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DepartureTime" type="xs:string">
										<xs:annotation>
											<xs:documentation>發車時刻HH:mm</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ServiceDay" type="ServiceDayType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>週內營運日</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailDailyStationTimeTableType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵每日站別時刻表資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Route" type="RailRouteType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>營運路線</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Station" type="RailStationType_TRA">
				<xs:annotation>
					<xs:documentation>查詢車站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Direction" type="DirectionEnum">
				<xs:annotation>
					<xs:documentation>行駛方向</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DestinationStaion" type="RailStationType_TRA">
				<xs:annotation>
					<xs:documentation>目的地車站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Timetables">
				<xs:annotation>
					<xs:documentation>車站時刻資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Timetable" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Sequence" type="xs:int">
										<xs:annotation>
											<xs:documentation>發車順序</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="TrainInfo" type="RailTrainInfoType_TRA">
										<xs:annotation>
											<xs:documentation>車次資料</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ArrivalTime" type="xs:string">
										<xs:annotation>
											<xs:documentation>到站時刻HH:mm</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DepartureTime" type="xs:string">
										<xs:annotation>
											<xs:documentation>發車時刻HH:mm</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailShapeType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵線型資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Line" type="RailLineType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>軌道實體路線</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Route" type="RailRouteType_TRA" minOccurs="0">
				<xs:annotation>
					<xs:documentation>軌道營運路線</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Grometry" type="xs:string">
				<xs:annotation>
					<xs:documentation> well-known text，以字串儲存線型資料，資料型態為 LineString ,</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailAlertType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵通阻事件資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AlertUID" type="xs:string">
				<xs:annotation>
					<xs:documentation>通阻事件統一代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlertID" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>通阻事件原單位發布代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Scope" type="RailAlertScopeType">
				<xs:annotation>
					<xs:documentation>影響範圍</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Direction" type="DirectionEnum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>影響方向</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Title" type="xs:string">
				<xs:annotation>
					<xs:documentation>通阻標題</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Level" type="AlertLevelEnum">
				<xs:annotation>
					<xs:documentation>事件影響等級</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="xs:string">
				<xs:annotation>
					<xs:documentation>事件簡易描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="RailAlertStatusEnum">
				<xs:annotation>
					<xs:documentation>營運狀況</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Reason" type="xs:string">
				<xs:annotation>
					<xs:documentation>影響原因</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlertURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>事件詳細描述網站超連結</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PublishTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>消息公告時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>開始時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>結束時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新日期時間</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailAlertScopeType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵通阻範圍資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Network" type="RailNetworkType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>路網</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Station" type="RailStationType_TRA" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>車站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Line" type="RailLineType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>實體路線</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Route" type="RailRouteType_TRA" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>營運路線</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Train" type="RailTrainInfoType_TRA" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>列車車次</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LineScetion" type="RailLineScetionType_TRA" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>實體路線區間</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailLineScetionType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵實體路線區間資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Line" type="RailLineType">
				<xs:annotation>
					<xs:documentation>實體路線對象</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartStation" type="RailStationType_TRA">
				<xs:annotation>
					<xs:documentation>區間起站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndStation" type="RailStationType_TRA">
				<xs:annotation>
					<xs:documentation>區間迄站</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="NameType">
				<xs:annotation>
					<xs:documentation>輔助描述</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailStationTransferType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵車站跨運具轉乘資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Station" type="RailStationType_TRA">
				<xs:annotation>
					<xs:documentation>車站資料</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransferDescription" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>文字性轉乘描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InteriorMapURLs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>車站內部地圖簡圖連結</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="InteriorMapURL" type="MapURLType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ExteriorMapURLs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>車站外部地圖簡圖連結</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ExteriorMapURL" type="MapURLType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Transfers">
				<xs:annotation>
					<xs:documentation>跨運具轉乘</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Transfer" type="ModeTransferType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=======[ TRA Data List Type]=======-->
	<xs:complexType name="RailStationListType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵車站資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Stations">
				<xs:annotation>
					<xs:documentation>車站資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Station" type="RailStationType_TRA" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailTrainInfoListType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵車次資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TrainInfo" type="RailTrainInfoType_TRA" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>車次資料</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailStationExitListType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵車站出入口資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationExits">
				<xs:annotation>
					<xs:documentation>車站出入口</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StationExit" type="RailStationExitType_TRA" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailStationFacilityListType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵出入口資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Stations">
				<xs:annotation>
					<xs:documentation>車站資料資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Station" type="RailStationFacilityType_TRA" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailODFareListType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵起訖站票價資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffectiveDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>有效日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpireDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>結束日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ODFares">
				<xs:annotation>
					<xs:documentation>起訖站票價資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ODFare" type="RailODFareType_TRA" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Version" type="xs:string">
				<xs:annotation>
					<xs:documentation>資料版本</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailTrainLiveBoardListType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵列車即時到離站資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainLiveBoards">
				<xs:annotation>
					<xs:documentation>列車角度</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TrainLiveBoard" type="RailTrainLiveBoardType_TRA" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailStationLiveBoardListType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵車站即時到離站資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationLiveBoards">
				<xs:annotation>
					<xs:documentation>站別角度</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StationLiveBoard" type="RailStationLiveBoardType_TRA" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailStationSequenceListType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵站序資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Station" type="RailStationSequenceType_TRA" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>站序資料</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailStopTimeListType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵停靠元素資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StopTime" type="RailStopTimeType_TRA" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailStationOfLineListType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵實體路線站序資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationOfLines">
				<xs:annotation>
					<xs:documentation>實體路線站序</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StationOfLine" type="RailStationOfLineType_TRA" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailStationOfRouteListType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵營運路線站序資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationOfRoutes">
				<xs:annotation>
					<xs:documentation>營運路線站序</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StationOfRoute" type="RailStationOfRouteType_TRA" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailStationTransferListType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵車站跨運具轉乘資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationTransfers">
				<xs:annotation>
					<xs:documentation>車站跨運具轉乘</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StationTransfer" type="RailStationTransferType_TRA" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailLineListType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵實體路線資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Lines">
				<xs:annotation>
					<xs:documentation>實體路線</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Line" type="RailLineType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailRouteListType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵營運路線資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Routes">
				<xs:annotation>
					<xs:documentation>營運路線</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Route" type="RailRouteType_TRA" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailTrainTypeListType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵列車種類資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainTypes">
				<xs:annotation>
					<xs:documentation>列車種類</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TrainType" type="RailTrainTypeType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailLineTransferListType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵內部路線轉乘資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LineTransfers">
				<xs:annotation>
					<xs:documentation>內部路線轉乘資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LineTransfer" type="RailLineTransferType_TRA" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailGeneralTrainTimeTableListType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵定期車次時刻表資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffectiveDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>有效日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpireDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>結束日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimeTableName" type="NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>時刻表名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainTimeTables">
				<xs:annotation>
					<xs:documentation>車次時刻表資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TrainTimeTable" type="RailGeneralTrainTimeTableType_TRA" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Version" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>資料版本</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValidityDesciption" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>時刻表適用情形說明</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailSpecificTrainTimeTableListType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵定特殊車次時刻表資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffectiveDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>有效日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpireDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>結束日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimeTableName" type="NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>時刻表名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainTimeTables">
				<xs:annotation>
					<xs:documentation>車次時刻表資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TrainTimeTable" type="RailSpecificTrainTimeTableType_TRA" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ValidityDesciption" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>時刻表適用情形說明</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Version" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>資料版本</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailGeneralStationTimeTableListType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵定期站別時刻表資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffectiveDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>有效日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpireDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>結束日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimeTableName" type="NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>時刻表名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationTimeTables">
				<xs:annotation>
					<xs:documentation>站別時刻表資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StationTimeTable" type="RailGeneralStationTimeTableType_TRA" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Version" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>資料版本</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValidityDesciption" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>時刻表適用情形說明</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailDailyTrainTimeTableListType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵每日車次時刻表資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>營運日說明</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainTimeTables">
				<xs:annotation>
					<xs:documentation>列車角度</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TrainTimeTable" type="RailDailyTrainTimeTableType_TRA" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailDailyStationTimeTableListType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵每日站別時刻表資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>營運日說明</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationTimeTables">
				<xs:annotation>
					<xs:documentation>站別時刻表資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StationTimeTable" type="RailDailyStationTimeTableType_TRA" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailAlertListType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵通阻事件資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Alerts">
				<xs:annotation>
					<xs:documentation>通阻事件</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Alert" type="RailAlertType_TRA" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailShapeListType_TRA">
		<xs:annotation>
			<xs:documentation>台鐵線型資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Shapes">
				<xs:annotation>
					<xs:documentation>軌道線型</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Shape" type="RailShapeType_TRA" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=======[ ALLData Element Group]=======-->
	<xs:element name="TRAAllDataList">
		<xs:annotation>
			<xs:documentation>台鐵運具資料集清單</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NetworkList" type="RailNetworkListType">
					<xs:annotation>
						<xs:documentation>網路資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="StationList" type="RailStationListType_TRA">
					<xs:annotation>
						<xs:documentation>車站資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="StationExitList" type="RailStationExitListType_TRA">
					<xs:annotation>
						<xs:documentation>車站出入口資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="StationFacilityList" type="RailStationFacilityListType_TRA">
					<xs:annotation>
						<xs:documentation>車站設施資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="LineList" type="RailLineListType_TRA">
					<xs:annotation>
						<xs:documentation>實體路線資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RouteList" type="RailRouteListType_TRA">
					<xs:annotation>
						<xs:documentation>營運路線資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="StationOfLineList" type="RailStationOfLineListType_TRA">
					<xs:annotation>
						<xs:documentation>實體路線站序資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="StationOfRouteList" type="RailStationOfRouteListType_TRA">
					<xs:annotation>
						<xs:documentation>營運路線站序資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TrainTypeList" type="RailTrainTypeListType_TRA">
					<xs:annotation>
						<xs:documentation>車種類型資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ODFareList" type="RailODFareListType_TRA">
					<xs:annotation>
						<xs:documentation>起迄站收費資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="GeneralTrainTimeTableList" type="RailGeneralTrainTimeTableListType_TRA">
					<xs:annotation>
						<xs:documentation>通用性車次時刻表資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="GeneralStationTimeTableList" type="RailGeneralStationTimeTableListType_TRA">
					<xs:annotation>
						<xs:documentation>通用性站別時刻表資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SpecificTrainTimeTableList" type="RailSpecificTrainTimeTableListType_TRA">
					<xs:annotation>
						<xs:documentation>特殊車次時刻表資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DailyTrainTimeTableList" type="RailDailyTrainTimeTableListType_TRA">
					<xs:annotation>
						<xs:documentation>每日車次時刻表資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DailyStationTimeTableList" type="RailDailyStationTimeTableListType_TRA">
					<xs:annotation>
						<xs:documentation>每日站別時刻表資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="StationLiveBoardList" type="RailStationLiveBoardListType_TRA">
					<xs:annotation>
						<xs:documentation>車站即時到離站資訊資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TrainLiveBoardList" type="RailTrainLiveBoardListType_TRA">
					<xs:annotation>
						<xs:documentation>列車即時到離站資訊資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="LineTransferList" type="RailLineTransferListType_TRA">
					<xs:annotation>
						<xs:documentation>內部路線轉乘資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="StationTransferList" type="RailStationTransferListType_TRA">
					<xs:annotation>
						<xs:documentation>車站跨運具轉乘資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ShapeList" type="RailShapeListType">
					<xs:annotation>
						<xs:documentation>空間線型資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="NewsList" type="RailNewsListType">
					<xs:annotation>
						<xs:documentation>最新消息資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="AlertList" type="RailAlertListType_TRA">
					<xs:annotation>
						<xs:documentation>營運通阻資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="LineNetworkList" type="RailLineNetworkListType">
					<xs:annotation>
						<xs:documentation>路線網路拓撲資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="OperatorList" type="RailOperatorListType">
					<xs:annotation>
						<xs:documentation>營運業者資料清單</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="FeedInfo" type="FeedInfoType">
					<xs:annotation>
						<xs:documentation>資料版本說明</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
