20180306/XSD_Inbound/Rail/THSR/PTX_THSR.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 rel. 3 sp1 (x64) (http://www.altova.com) by YI JIE WU (International Integrated Systems, Inc. (IISI)) -->
<xs:schema xmlns="http://ptx.transportdata.tw/standard/schema/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ptx.transportdata.tw/standard/schema/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="PTX_Rail_THSR">
	<!-- ===Dependencies ======================================= -->
	<xs:include schemaLocation="../PTX_Rail.xsd"/>
	<xs:include schemaLocation="PTX_THSR_Codes.xsd"/>
	<xs:complexType name="THSRStationListType">
		<xs:annotation>
			<xs:documentation>高鐵車站資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Stations">
				<xs:annotation>
					<xs:documentation>車站資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Station" type="THSRStationType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="THSRStationType">
		<xs:annotation>
			<xs:documentation>高鐵車站資料型別 </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StationID" type="xs:string">
				<xs:annotation>
					<xs:documentation>車站代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReservationCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>訂票車站代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationName" type="NameType">
				<xs:annotation>
					<xs:documentation>車站名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationPosition" type="PointType">
				<xs:annotation>
					<xs:documentation>車站位置</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationAddress" type="xs:string">
				<xs:annotation>
					<xs:documentation>車站地址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationPhone">
				<xs:annotation>
					<xs:documentation>車站連絡電話</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0][0-9]{1,2}-[0-9]{6,8}#?([0-9]*)?"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="StationURL">
				<xs:annotation>
					<xs:documentation>車站相關資訊網址</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:anyURI">
						<xs:pattern value="[0][0-9]{1,2}-[0-9]{6,8}#?([0-9]*)?"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="THSRLineListType">
		<xs:annotation>
			<xs:documentation>高鐵實體路線資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Lines">
				<xs:annotation>
					<xs:documentation>實體路線</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Line" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="LineNo" type="xs:int" minOccurs="0">
										<xs:annotation>
											<xs:documentation>實體路線編號</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="LineID" type="xs:string">
										<xs:annotation>
											<xs:documentation>實體路線代號</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="LineName" type="NameType">
										<xs:annotation>
											<xs:documentation>實體路線名稱</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="LineSectionName" type="NameType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>實體路線起迄區間</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="LineColor" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>實體路線代表顏色(以RGB色碼描述)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="IsBranch" type="BooleanType">
										<xs:annotation>
											<xs:documentation>是否為支線</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="LineURL" type="xs:anyURI" minOccurs="0">
										<xs:annotation>
											<xs:documentation>路線相關網站</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="THSRAvailableSeatStatusListType">
		<xs:annotation>
			<xs:documentation>高鐵對號座位狀態看板資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AvailableSeats">
				<xs:annotation>
					<xs:documentation>對號座位狀態</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AvailableSeat" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="TrainNo" type="RailTrainInfoType">
										<xs:annotation>
											<xs:documentation>車次資料</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Direction" type="DirectionEnum">
										<xs:annotation>
											<xs:documentation>方向描述</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="StationID" type="xs:string">
										<xs:annotation>
											<xs:documentation>查詢車站</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="StationName" type="NameType">
										<xs:annotation>
											<xs:documentation>查詢車站</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DepartureTime" type="xs:time">
										<xs:annotation>
											<xs:documentation>發車時間</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="EndingStationID" type="xs:string">
										<xs:annotation>
											<xs:documentation>終點車站</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="EndingStationName" type="NameType">
										<xs:annotation>
											<xs:documentation>終點車站</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="StopStations">
										<xs:annotation>
											<xs:documentation>停靠站間組合</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="StopStation" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="StationID" type="xs:string">
																<xs:annotation>
																	<xs:documentation>停靠車站</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="StationName" type="NameType">
																<xs:annotation>
																	<xs:documentation>停靠車站</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="StandardSeatStatus" type="xs:string">
																<xs:annotation>
																	<xs:documentation>標準席剩餘座位狀態</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="BusinessSeatStatus" type="xs:string">
																<xs:annotation>
																	<xs:documentation>商務席剩餘座位狀態</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="RecTime" type="xs:dateTime">
										<xs:annotation>
											<xs:documentation>來源端平台接收時間</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="UpdateTime" type="xs:dateTime">
										<xs:annotation>
											<xs:documentation>訊息更新時間</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="THSRStationTransferListType">
		<xs:annotation>
			<xs:documentation>高鐵車站跨運具轉乘資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationTransfers">
				<xs:annotation>
					<xs:documentation>車站跨運具轉乘</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StationTransfer" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="StationID" type="xs:string">
										<xs:annotation>
											<xs:documentation>車站代碼</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="StationName" type="NameType">
										<xs:annotation>
											<xs:documentation>車站名稱</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="TransferDescription" type="xs:string">
										<xs:annotation>
											<xs:documentation>文字性轉乘描述</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="InteriorMapURLs" minOccurs="0">
										<xs:annotation>
											<xs:documentation>車站內部地圖簡圖連結</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="InteriorMapURL" minOccurs="0" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="MapName" type="NameType">
																<xs:annotation>
																	<xs:documentation>地圖名稱</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="MapURL" type="xs:anyURI">
																<xs:annotation>
																	<xs:documentation>連結網址</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="FloorLevel" type="xs:string">
																<xs:annotation>
																	<xs:documentation>樓層說明</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ExteriorMapURLs" minOccurs="0">
										<xs:annotation>
											<xs:documentation>車站外部地圖簡圖連結</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ExteriorMapURL" minOccurs="0" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="MapName" type="NameType">
																<xs:annotation>
																	<xs:documentation>地圖名稱</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="MapURL" type="xs:anyURI">
																<xs:annotation>
																	<xs:documentation>連結網址</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="FloorLevel" type="xs:string">
																<xs:annotation>
																	<xs:documentation>樓層說明</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Transfers">
										<xs:annotation>
											<xs:documentation>跨運具轉乘</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Transfer">
													<xs:annotation>
														<xs:documentation>跨運具轉乘資訊</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ExitID" type="xs:string">
																<xs:annotation>
																	<xs:documentation>出口代號</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ExitName" type="NameType">
																<xs:annotation>
																	<xs:documentation>出口名稱</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="RailTransfers">
																<xs:annotation>
																	<xs:documentation>軌道跨運具轉乘</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="RailTransfer" minOccurs="0" maxOccurs="unbounded">
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="Mode" type="ModeEnum">
																						<xs:annotation>
																							<xs:documentation>轉乘運具種類</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="OperatorCode" type="xs:string">
																						<xs:annotation>
																							<xs:documentation>營運業者代碼</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="OperatorName" type="NameType">
																						<xs:annotation>
																							<xs:documentation>營運業者名稱</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="StationID" type="xs:string">
																						<xs:annotation>
																							<xs:documentation>車站代碼</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="StationName" type="NameType">
																						<xs:annotation>
																							<xs:documentation>車站名稱</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="TransferTime" type="xs:double" minOccurs="0">
																						<xs:annotation>
																							<xs:documentation>轉乘耗時(分鐘為單位)</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="FloorLevel" type="xs:string" minOccurs="0">
																						<xs:annotation>
																							<xs:documentation>樓層</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="Description" type="xs:string">
																						<xs:annotation>
																							<xs:documentation>相關輔助性文字描述</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="IsOnSiteTransfer" type="BooleanType" minOccurs="0">
																						<xs:annotation>
																							<xs:documentation>站內轉乘與否(0=站外,1=站內)</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="BusTransfers">
																<xs:annotation>
																	<xs:documentation>公車跨運具轉乘</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="BusTransfer" minOccurs="0" maxOccurs="unbounded">
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="Mode" type="ModeEnum">
																						<xs:annotation>
																							<xs:documentation>轉乘運具種類</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="OperatorCode" type="xs:string">
																						<xs:annotation>
																							<xs:documentation>營運業者代碼</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="OperatorName" type="NameType">
																						<xs:annotation>
																							<xs:documentation>營運業者名稱</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="RouteID" type="xs:string">
																						<xs:annotation>
																							<xs:documentation>公車站線代碼</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="RouteName" type="NameType">
																						<xs:annotation>
																							<xs:documentation>公車站線名稱</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="StopID" type="xs:string" minOccurs="0">
																						<xs:annotation>
																							<xs:documentation>公車站牌代碼</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="StopName" type="NameType">
																						<xs:annotation>
																							<xs:documentation>公車站牌名稱</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="Platform" minOccurs="0">
																						<xs:annotation>
																							<xs:documentation>月台</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="TransferTime" type="xs:double" minOccurs="0">
																						<xs:annotation>
																							<xs:documentation>轉乘耗時(分鐘為單位)</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="FloorLevel" type="xs:string" minOccurs="0">
																						<xs:annotation>
																							<xs:documentation>樓層</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="Description" type="xs:string">
																						<xs:annotation>
																							<xs:documentation>相關輔助性文字描述</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="IsOnSiteTransfer" type="BooleanType" minOccurs="0">
																						<xs:annotation>
																							<xs:documentation>站內轉乘與否(0=站外,1=站內)</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="AirportTransfers">
																<xs:annotation>
																	<xs:documentation>機場跨運具轉乘</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="AirportTransfer" minOccurs="0" maxOccurs="unbounded">
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="Mode" type="ModeEnum">
																						<xs:annotation>
																							<xs:documentation>轉乘運具種類</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="OperatorCode" type="xs:string">
																						<xs:annotation>
																							<xs:documentation>營運業者代碼</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="OperatorName" type="NameType">
																						<xs:annotation>
																							<xs:documentation>營運業者名稱</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="AirportID" type="xs:string">
																						<xs:annotation>
																							<xs:documentation>機場代碼</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="AirportName" type="NameType">
																						<xs:annotation>
																							<xs:documentation>車站名稱</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="TransferTime" type="xs:double" minOccurs="0">
																						<xs:annotation>
																							<xs:documentation>轉乘耗時(分鐘為單位)</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="FloorLevel" type="xs:string" minOccurs="0">
																						<xs:annotation>
																							<xs:documentation>樓層</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="Description" type="xs:string">
																						<xs:annotation>
																							<xs:documentation>相關輔助性文字描述</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="IsOnSiteTransfer" type="BooleanType" minOccurs="0">
																						<xs:annotation>
																							<xs:documentation>站內轉乘與否(0=站外,1=站內)</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="BikeTransfers">
																<xs:annotation>
																	<xs:documentation>自行車跨運具轉乘</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="BikeTransfer" minOccurs="0" maxOccurs="unbounded">
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="Mode" type="ModeEnum">
																						<xs:annotation>
																							<xs:documentation>轉乘運具種類</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="OperatorCode" type="xs:string">
																						<xs:annotation>
																							<xs:documentation>營運業者代碼</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="OperatorName" type="NameType">
																						<xs:annotation>
																							<xs:documentation>營運業者名稱</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="StationID" type="xs:string">
																						<xs:annotation>
																							<xs:documentation>車站代碼</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="StationName" type="NameType">
																						<xs:annotation>
																							<xs:documentation>車站名稱</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="TransferTime" type="xs:double" minOccurs="0">
																						<xs:annotation>
																							<xs:documentation>轉乘耗時(分鐘為單位)</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="FloorLevel" type="xs:string" minOccurs="0">
																						<xs:annotation>
																							<xs:documentation>樓層</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="Description" type="xs:string">
																						<xs:annotation>
																							<xs:documentation>相關輔助性文字描述</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="IsOnSiteTransfer" type="BooleanType" minOccurs="0">
																						<xs:annotation>
																							<xs:documentation>站內轉乘與否(0=站外,1=站內)</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="ParkingTransfers">
																<xs:annotation>
																	<xs:documentation>停車場跨運具轉乘</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="ParkingTransfer" minOccurs="0" maxOccurs="unbounded">
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="Mode" type="ModeEnum">
																						<xs:annotation>
																							<xs:documentation>轉乘運具種類</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="CarParkID" type="xs:string">
																						<xs:annotation>
																							<xs:documentation>營運業者代碼</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="CarParkName" type="NameType">
																						<xs:annotation>
																							<xs:documentation>營運業者名稱</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="CarParkDescription" type="xs:string">
																						<xs:annotation>
																							<xs:documentation>相關輔助性文字描述</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="TransferTime" type="xs:double" minOccurs="0">
																						<xs:annotation>
																							<xs:documentation>轉乘耗時(分鐘為單位)</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="FloorLevel" type="xs:string" minOccurs="0">
																						<xs:annotation>
																							<xs:documentation>樓層</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="Description" type="xs:string">
																						<xs:annotation>
																							<xs:documentation>相關輔助性文字描述</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="IsOnSiteTransfer" type="BooleanType" minOccurs="0">
																						<xs:annotation>
																							<xs:documentation>站內轉乘與否(0=站外,1=站內)</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="TaxiTransfers">
																<xs:annotation>
																	<xs:documentation>計程車跨運具轉乘</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="TaxiTransfer" minOccurs="0" maxOccurs="unbounded">
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="Mode" type="ModeEnum">
																						<xs:annotation>
																							<xs:documentation>轉乘運具種類</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="TaxiStopID" type="xs:string">
																						<xs:annotation>
																							<xs:documentation>營運業者代碼</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="TaxiStopName" type="NameType">
																						<xs:annotation>
																							<xs:documentation>營運業者名稱</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="TaxiStopDescription" type="xs:string" minOccurs="0">
																						<xs:annotation>
																							<xs:documentation>相關輔助性文字描述</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="TransferTime" type="xs:double" minOccurs="0">
																						<xs:annotation>
																							<xs:documentation>轉乘耗時(分鐘為單位)</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="FloorLevel" type="xs:string" minOccurs="0">
																						<xs:annotation>
																							<xs:documentation>樓層</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="Description" type="xs:string">
																						<xs:annotation>
																							<xs:documentation>相關輔助性文字描述</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="IsOnSiteTransfer" type="BooleanType" minOccurs="0">
																						<xs:annotation>
																							<xs:documentation>站內轉乘與否(0=站外,1=站內)</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="FerryTransfers">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="FerryTransfer" minOccurs="0">
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="Mode" type="ModeEnum">
																						<xs:annotation>
																							<xs:documentation>轉乘運具種類</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="OperatorCode" type="xs:string">
																						<xs:annotation>
																							<xs:documentation>營運業者代碼</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="OperatorName" type="NameType">
																						<xs:annotation>
																							<xs:documentation>營運業者名稱</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="FerryStationID">
																						<xs:annotation>
																							<xs:documentation>航運站ID</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="FerryStationName">
																						<xs:annotation>
																							<xs:documentation>航運站名稱</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="TransferTime" type="xs:double" minOccurs="0">
																						<xs:annotation>
																							<xs:documentation>轉乘耗時(分鐘為單位)</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="FloorLevel" type="xs:string" minOccurs="0">
																						<xs:annotation>
																							<xs:documentation>樓層</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="Description" type="xs:string">
																						<xs:annotation>
																							<xs:documentation>相關輔助性文字描述</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="IsOnSiteTransfer" type="BooleanType" minOccurs="0">
																						<xs:annotation>
																							<xs:documentation>站內轉乘與否(0=站外,1=站內)</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="THSRAlertListType">
		<xs:annotation>
			<xs:documentation>高鐵通阻事件資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Alerts">
				<xs:annotation>
					<xs:documentation>通阻事件</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Alert" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="AlertID" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>通阻事件原單位發布代碼</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Title" type="xs:string">
										<xs:annotation>
											<xs:documentation>通阻標題</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Description" type="xs:string">
										<xs:annotation>
											<xs:documentation>事件簡易描述</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Status" type="RailAlertStatusEnum">
										<xs:annotation>
											<xs:documentation>營運狀況</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Scope" type="RailAlertScopeType">
										<xs:annotation>
											<xs:documentation>影響範圍</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Direction" type="DirectionEnum" minOccurs="0">
										<xs:annotation>
											<xs:documentation>影響方向</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Level" type="AlertLevelEnum" minOccurs="0">
										<xs:annotation>
											<xs:documentation>事件影響等級</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Effect" type="xs:string">
										<xs:annotation>
											<xs:documentation>影響說明</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Reason" type="xs:string">
										<xs:annotation>
											<xs:documentation>影響原因</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="AlertURL" type="xs:anyURI" minOccurs="0">
										<xs:annotation>
											<xs:documentation>事件詳細描述網站超連結</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="StartTime" type="xs:dateTime" minOccurs="0">
										<xs:annotation>
											<xs:documentation>開始時間</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="EndTime" type="xs:dateTime" minOccurs="0">
										<xs:annotation>
											<xs:documentation>結束時間</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="PublishTime" type="xs:dateTime" minOccurs="0">
										<xs:annotation>
											<xs:documentation>消息公告時間</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="UpdateTime" type="xs:dateTime">
										<xs:annotation>
											<xs:documentation>資料更新日期時間</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="THSRAlertType">
		<xs:annotation>
			<xs:documentation>高鐵通阻事件資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AlertUID" type="xs:string">
				<xs:annotation>
					<xs:documentation>通阻事件統一代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlertID" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>通阻事件原單位發布代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Title" type="xs:string">
				<xs:annotation>
					<xs:documentation>通阻標題</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="xs:string">
				<xs:annotation>
					<xs:documentation>營運狀況</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Scope" type="RailAlertScopeType">
				<xs:annotation>
					<xs:documentation>影響範圍</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Direction" type="DirectionEnum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>影響方向</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Effect" type="AlertLevelEnum">
				<xs:annotation>
					<xs:documentation>影響說明</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="xs:string">
				<xs:annotation>
					<xs:documentation>事件簡易描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlertURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>詳細描述網站超連結</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PublishTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>消息公告時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>開始時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>結束時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateTime">
				<xs:annotation>
					<xs:documentation>資料更新日期時間</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="THSRStoppingPatternListType">
		<xs:annotation>
			<xs:documentation>高鐵對號座位狀態資料</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:string">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StoppingPatterns">
				<xs:annotation>
					<xs:documentation>車次跑法</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StoppingPattern" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="StoppingPatternID" type="xs:string">
										<xs:annotation>
											<xs:documentation>停站模式代碼</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="StoppingPatternName" type="NameType">
										<xs:annotation>
											<xs:documentation>停站模式名稱</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="RouteID" type="xs:string">
										<xs:annotation>
											<xs:documentation>營運路線代碼</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Stations">
										<xs:annotation>
											<xs:documentation>停站資訊</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Station">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Sequence" type="xs:int">
																<xs:annotation>
																	<xs:documentation>站序描述(從1開始，整數遞增)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="TravelTime" type="xs:int" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>以秒為單位</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="CumulativeDistance" type="xs:double" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>累積距離(由首站累積，單位為公里)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="StationID" type="xs:string">
																<xs:annotation>
																	<xs:documentation>車站代碼</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="StationName" type="NameType">
																<xs:annotation>
																	<xs:documentation>車站名稱</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=======[ ALLData Element Group]=======-->
	<xs:element name="THSRAllDataList">
		<xs:annotation>
			<xs:documentation>高鐵運具資料集清單</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="THSRNetworkList"/>
				<xs:element ref="THSRStationList"/>
				<xs:element ref="THSRStationFacilityList"/>
				<xs:element ref="THSRStationExitList"/>
				<xs:element ref="THSRLineList"/>
				<xs:element ref="THSRStationOfLineList"/>
				<xs:element ref="THSRRouteList"/>
				<xs:element ref="THSRStationOfRouteList"/>
				<xs:element ref="THSRStationTransferList"/>
				<xs:element ref="THSRODFareList"/>
				<xs:element ref="THSRGeneralTrainTimeTableList"/>
				<xs:element ref="THSRGeneralStationTimeTableList"/>
				<xs:element ref="THSRSpecificTrainTimeTableList"/>
				<xs:element ref="THSRDailyTrainTimeTableList"/>
				<xs:element ref="THSRDailyStationTimeTableList"/>
				<xs:element ref="THSRAlertList"/>
				<xs:element ref="THSRNewsList"/>
				<xs:element ref="THSRAvailableSeatStatusList"/>
				<xs:element ref="THSRShapeList"/>
				<xs:element ref="THSRTrainLiveBoardList"/>
				<xs:element ref="THSRStationLiveBoardList"/>
				<xs:element ref="THSRStoppingPatternList"/>
				<xs:element ref="THSRLineNetworkList"/>
				<xs:element ref="THSROperatorList"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="THSRNetworkList" type="RailNetworkListType">
		<xs:annotation>
			<xs:documentation>網路資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="THSRStationList" type="THSRStationListType">
		<xs:annotation>
			<xs:documentation>車站資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="THSRStationFacilityList" type="RailStationFacilityListType">
		<xs:annotation>
			<xs:documentation>車站設施資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="THSRStationExitList" type="RailStationExitListType">
		<xs:annotation>
			<xs:documentation>車站出入口資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="THSRLineList" type="THSRLineListType">
		<xs:annotation>
			<xs:documentation>實體路線資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="THSRStationOfLineList" type="RailStationOfLineListType">
		<xs:annotation>
			<xs:documentation>實體路線站序資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="THSRRouteList" type="RailRouteListType">
		<xs:annotation>
			<xs:documentation>營運路線資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="THSRStationOfRouteList" type="RailStationOfRouteListType">
		<xs:annotation>
			<xs:documentation>營運路線站序資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="THSRStationTransferList" type="THSRStationTransferListType">
		<xs:annotation>
			<xs:documentation>車站跨運具轉乘資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="THSRODFareList" type="RailODFareListType">
		<xs:annotation>
			<xs:documentation>起迄站收費資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="THSRGeneralTrainTimeTableList" type="RailGeneralTrainTimeTableListType">
		<xs:annotation>
			<xs:documentation>定期車次時刻表資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="THSRGeneralStationTimeTableList" type="RailGeneralStationTimeTableListType">
		<xs:annotation>
			<xs:documentation>定期站別時刻表資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="THSRSpecificTrainTimeTableList" type="RailSpecificTrainTimeTableListType">
		<xs:annotation>
			<xs:documentation>情車次時刻表資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="THSRDailyTrainTimeTableList" type="RailDailyTrainTimeTableListType">
		<xs:annotation>
			<xs:documentation>每日車次時刻表資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="THSRDailyStationTimeTableList" type="RailDailyStationTimeTableListType">
		<xs:annotation>
			<xs:documentation>每日站別時刻表資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="THSRAlertList" type="THSRAlertListType">
		<xs:annotation>
			<xs:documentation>營運通阻資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="THSRNewsList" type="RailNewsListType">
		<xs:annotation>
			<xs:documentation>最新消息資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="THSRAvailableSeatStatusList" type="THSRAvailableSeatStatusListType">
		<xs:annotation>
			<xs:documentation>對號座位狀態看板資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="THSRShapeList" type="RailShapeListType">
		<xs:annotation>
			<xs:documentation>空間線型資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="THSRTrainLiveBoardList" type="RailTrainLiveBoardListType">
		<xs:annotation>
			<xs:documentation>列車即時到離站資訊資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="THSRStationLiveBoardList" type="RailStationLiveBoardListType">
		<xs:annotation>
			<xs:documentation>車站即時到離站資訊資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="THSRStoppingPatternList" type="THSRStoppingPatternListType">
		<xs:annotation>
			<xs:documentation>車次跑法資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="THSRLineNetworkList" type="RailLineNetworkListType">
		<xs:annotation>
			<xs:documentation>路線支線資料</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="THSROperatorList" type="RailOperatorListType">
		<xs:annotation>
			<xs:documentation>營運業者資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
