20180306/XSD_Inbound/Rail/TRA/PTX_TRA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 rel. 3 sp1 (x64) (http://www.altova.com) by YI JIE WU (International Integrated Systems, Inc. (IISI)) -->
<xs:schema xmlns="http://ptx.transportdata.tw/standard/schema/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ptx.transportdata.tw/standard/schema/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="PTX_Rail_TRA">
	<!--=======[Dependencies]=======-->
	<xs:include schemaLocation="PTX_TRA_Codes.xsd"/>
	<xs:include schemaLocation="../PTX_Rail.xsd"/>
	<xs:include schemaLocation="../PTX_Rail_Codes.xsd"/>
	<xs:complexType name="TRAStationType">
		<xs:annotation>
			<xs:documentation>台鐵車站資料型別 </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StationID" type="xs:string">
				<xs:annotation>
					<xs:documentation>車站代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReservationCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>訂票車站代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationName" type="NameType">
				<xs:annotation>
					<xs:documentation>車站名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationPosition" type="PointType">
				<xs:annotation>
					<xs:documentation>車站位置</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationAddress" type="xs:string">
				<xs:annotation>
					<xs:documentation>車站地址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationPhone">
				<xs:annotation>
					<xs:documentation>車站連絡電話</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0][0-9]{1,2}-[0-9]{6,8}#?([0-9]*)?"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="StationClass" type="RailRunningStatusEnum">
				<xs:annotation>
					<xs:documentation>車站等級</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationURL" type="xs:anyURI">
				<xs:annotation>
					<xs:documentation>車站相關資訊網址</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TRAODFareType">
		<xs:annotation>
			<xs:documentation>台鐵起訖站票價資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OriginStationID" type="xs:string">
				<xs:annotation>
					<xs:documentation>車站代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginStationName" type="NameType">
				<xs:annotation>
					<xs:documentation>車站名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DestinationStationID" type="xs:string">
				<xs:annotation>
					<xs:documentation>車站代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DestinationStationName" type="NameType">
				<xs:annotation>
					<xs:documentation>車站名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Direction" type="DirectionEnum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>方向性描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainType" type="RailTrainTypeCodeEnum_TRA">
				<xs:annotation>
					<xs:documentation>車種類型</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Fares">
				<xs:annotation>
					<xs:documentation>票價收費資訊</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Fare" type="RailFareType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TravelDistance" minOccurs="0">
				<xs:annotation>
					<xs:documentation>站間旅行參考距離(公里)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TRATrainInfoType">
		<xs:annotation>
			<xs:documentation>台鐵車次資料型別 </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TrainNo" type="xs:string">
				<xs:annotation>
					<xs:documentation>車次代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RouteID" type="xs:string">
				<xs:annotation>
					<xs:documentation>營運路線代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Direction" type="DirectionEnum">
				<xs:annotation>
					<xs:documentation>方向性描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TripHeadsign" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>車次車頭文字描述(通用以"往"+ 迄站中文站名")</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartingStaionID" type="xs:string">
				<xs:annotation>
					<xs:documentation>車站代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartingStaionName" type="NameType">
				<xs:annotation>
					<xs:documentation>車站名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndingStaionID" type="xs:string">
				<xs:annotation>
					<xs:documentation>車站代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndingStaionIDName" type="NameType">
				<xs:annotation>
					<xs:documentation>車站名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OverNightStationID" type="RailStationIDEnum_TRA">
				<xs:annotation>
					<xs:documentation>跨夜車站代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TripLine" type="xs:string">
				<xs:annotation>
					<xs:documentation>山海線類型</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WheelChairFlag" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>是否設身障旅客專用座位車</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PackageServiceFlag" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>是否提供行李服務</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DiningFlag" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>是否提供餐車服務</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BreastFeedFlag" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>是否設有哺乳室</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BikeFlag" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>是否人車同行班次(置於攜車袋之自行車各級列車均可乘車)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CarFlag" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>是否提供小客車上車服務</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DailyFlag" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>是否每日行駛</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtraTrainFlag" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>是否為加班車</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Note" type="xs:string">
				<xs:annotation>
					<xs:documentation>附註說明</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TRAStopTimeType">
		<xs:annotation>
			<xs:documentation>台鐵停靠元素資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StopSequence" type="xs:integer">
				<xs:annotation>
					<xs:documentation>停靠站序(由1開始)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationID" type="xs:string">
				<xs:annotation>
					<xs:documentation>車站代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationName" type="NameType">
				<xs:annotation>
					<xs:documentation>車站名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArrivalTime" type="xs:string">
				<xs:annotation>
					<xs:documentation>到站時間HH:mm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepartureTime" type="xs:string">
				<xs:annotation>
					<xs:documentation>離站時間HH:mm</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TRAGeneralTrainTimeTableType">
		<xs:annotation>
			<xs:documentation>台鐵定期車次時刻表資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TrainTimeTable" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TrainInfo" type="TRATrainInfoType">
							<xs:annotation>
								<xs:documentation>車次資料</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="StopTimes" type="RailStopTimeListType">
							<xs:annotation>
								<xs:documentation>停靠元素</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ServiceDays" type="ServiceDayType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>週內營運日</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TRAGeneralStationTimeTableType">
		<xs:annotation>
			<xs:documentation>台鐵站別時刻表資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StationTimeTable" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RouteID" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>營運路線</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="StationID" type="xs:string">
							<xs:annotation>
								<xs:documentation>查詢車站</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="StationName" type="NameType">
							<xs:annotation>
								<xs:documentation>查詢車站</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Direction" type="DirectionEnum">
							<xs:annotation>
								<xs:documentation>方向性描述</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DestinationStaionID" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>目的地車站</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DestinationStationName" type="NameType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>目的地車站</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Timetables">
							<xs:annotation>
								<xs:documentation>車站發車時刻資訊</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Timetable" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Sequence" type="xs:int">
													<xs:annotation>
														<xs:documentation>發車順序</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="TrainNo">
													<xs:annotation>
														<xs:documentation>車次資料</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ArrivalTime" type="xs:string">
													<xs:annotation>
														<xs:documentation>到站時刻HH:mm</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="DepartureTime" type="xs:string">
													<xs:annotation>
														<xs:documentation>發車時刻HH:mm</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ServiceDay" type="ServiceDayType">
							<xs:annotation>
								<xs:documentation>車站發車時刻資訊</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TRASpecificTrainTimeTableType">
		<xs:annotation>
			<xs:documentation>台鐵特殊車次時刻表資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TrainTimeTable" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TrainInfo" type="TRATrainInfoType">
							<xs:annotation>
								<xs:documentation>車次資料</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="StopTimes" type="RailStopTimeListType">
							<xs:annotation>
								<xs:documentation>停靠元素</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SpecialDays" minOccurs="0">
							<xs:annotation>
								<xs:documentation>例外營運日</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SpecialDay" type="SpecialDayType" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TRADailyTrainTimeTableType">
		<xs:annotation>
			<xs:documentation>台鐵每日車次時刻表資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DailyTrainTimeTable" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TrainInfo" type="TRATrainInfoType">
							<xs:annotation>
								<xs:documentation>車次資料</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="StopTimes" type="RailStopTimeListType">
							<xs:annotation>
								<xs:documentation>停靠元素</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TRADailyStationTimeTableType">
		<xs:annotation>
			<xs:documentation>台鐵每日站別時刻表資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StationTimeTable" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RouteID" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>營運路線</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="StationID" type="xs:string">
							<xs:annotation>
								<xs:documentation>查詢車站</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="StationName" type="NameType">
							<xs:annotation>
								<xs:documentation>查詢車站</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Direction" type="DirectionEnum" minOccurs="0">
							<xs:annotation>
								<xs:documentation>方向性描述</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DestinationStaionID" type="xs:string">
							<xs:annotation>
								<xs:documentation>目的地車站</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DestinationStationName" type="NameType">
							<xs:annotation>
								<xs:documentation>目的地車站</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Timetables">
							<xs:annotation>
								<xs:documentation>車站發車時刻資訊</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Timetable" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Sequence" type="xs:int">
													<xs:annotation>
														<xs:documentation>發車順序</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="TrainNo">
													<xs:annotation>
														<xs:documentation>車次資料</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ArrivalTime" type="xs:string">
													<xs:annotation>
														<xs:documentation>到站時刻HH:mm</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="DepartureTime" type="xs:string">
													<xs:annotation>
														<xs:documentation>發車時刻HH:mm</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TRATrainLiveBoardType">
		<xs:annotation>
			<xs:documentation>軌道列車即時到離站資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TrainLiveBoard" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="UpdateTime" type="xs:dateTime">
							<xs:annotation>
								<xs:documentation>資料更新時間</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DelayTime" type="xs:int">
							<xs:annotation>
								<xs:documentation>延誤分鐘</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="StationName" type="NameType">
							<xs:annotation>
								<xs:documentation>車站名稱</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="StationID" type="xs:string">
							<xs:annotation>
								<xs:documentation>車站代碼</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TrainNo" type="xs:string">
							<xs:annotation>
								<xs:documentation>車次代碼</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TRAAlertType">
		<xs:annotation>
			<xs:documentation>台鐵通阻事件資料型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AlertID" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>通阻事件原單位發布代碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Title" type="xs:string">
				<xs:annotation>
					<xs:documentation>通阻標題</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>事件簡易描述</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="RailAlertStatusEnum">
				<xs:annotation>
					<xs:documentation>營運狀況</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Scope" type="RailAlertScopeType">
				<xs:annotation>
					<xs:documentation>影響範圍</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Direction" type="DirectionEnum">
				<xs:annotation>
					<xs:documentation>影響方向</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Level" type="AlertLevelEnum">
				<xs:annotation>
					<xs:documentation>事件影響等級</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Effect" type="xs:string">
				<xs:annotation>
					<xs:documentation>影響說明</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Reason" type="xs:string">
				<xs:annotation>
					<xs:documentation>影響原因</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlertURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>事件詳細描述網站超連結</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>開始時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>結束時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PublishTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>消息公告時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新日期時間</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=======[TRA Data List Type]=======-->
	<xs:complexType name="TRAStationListType">
		<xs:annotation>
			<xs:documentation>台鐵車站資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Stations">
				<xs:annotation>
					<xs:documentation>車站資料</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Station" type="TRAStationType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TRALineListType">
		<xs:annotation>
			<xs:documentation>台鐵實體路線資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Lines">
				<xs:annotation>
					<xs:documentation>實體路線</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Line" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="LineNo" type="xs:int" minOccurs="0">
										<xs:annotation>
											<xs:documentation>實體路線編號</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="LineID" type="xs:string">
										<xs:annotation>
											<xs:documentation>實體路線代號</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="LineName" type="NameType">
										<xs:annotation>
											<xs:documentation>實體路線名稱</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="LineSectionName" type="NameType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>實體路線起迄區間</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="LineColor" type="xs:string">
										<xs:annotation>
											<xs:documentation>實體路線代表顏色(以RGB色碼描述)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="IsBranch" type="xs:boolean">
										<xs:annotation>
											<xs:documentation>是否為支線</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="LineGroup" type="xs:string">
										<xs:annotation>
											<xs:documentation>路線群組</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="LineURL" type="xs:anyURI" minOccurs="0">
										<xs:annotation>
											<xs:documentation>路線相關網站連結</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TRAODFareListType">
		<xs:annotation>
			<xs:documentation>台鐵起訖站票價資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpireDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>結束日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffectiveDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>有效日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Version" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>資料版本</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ODFares">
				<xs:annotation>
					<xs:documentation>資料版本</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ODFare" type="TRAODFareType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TRAStopTimeListType">
		<xs:annotation>
			<xs:documentation>台鐵停靠元素資料清單型別(不放更新時間)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StopTime" type="TRAStopTimeType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TRAGeneralTrainTimeTableListType">
		<xs:annotation>
			<xs:documentation>台鐵定期車次時刻表資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffectiveDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>有效日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpireDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>結束日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimeTableName" type="NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>定期車次時刻表名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValidityDesciption" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>時刻表適用情形說明</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Version" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>資料版本</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainTimeTables" type="TRAGeneralTrainTimeTableType">
				<xs:annotation>
					<xs:documentation>定期車次時刻表資訊</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TRAGeneralStationTimeTableListType">
		<xs:annotation>
			<xs:documentation>台鐵定期站別時刻表資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffectiveDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>有效日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpireDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>結束日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimeTableName" type="NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>定期站別時刻表</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValidityDesciption" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>時刻表適用情形說明</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Version" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>資料版本</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationTimeTables" type="TRAGeneralStationTimeTableType">
				<xs:annotation>
					<xs:documentation>站別時刻表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TRASpecificTrainTimeTableListType">
		<xs:annotation>
			<xs:documentation>台鐵特殊車次時刻表資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffectiveDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>有效日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpireDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>結束日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimeTableName" type="NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>特殊車次時刻表名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValidityDesciption" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>時刻表適用情形說明</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Version" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>資料版本</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainTimeTables" type="TRASpecificTrainTimeTableType">
				<xs:annotation>
					<xs:documentation>特殊車次時刻表名稱</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TRADailyTrainTimeTableListType">
		<xs:annotation>
			<xs:documentation>台鐵每日車次時刻表資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>營運日說明</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainTimeTables" type="TRADailyTrainTimeTableType">
				<xs:annotation>
					<xs:documentation>列車角度</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TRADailyStationTimeTableListType">
		<xs:annotation>
			<xs:documentation>台鐵每日站別時刻表資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>營運日說明</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationTimeTables" type="TRADailyStationTimeTableType">
				<xs:annotation>
					<xs:documentation>站別時刻表資訊</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TRAStationLiveBoardListType">
		<xs:annotation>
			<xs:documentation>台鐵車站即時到離站資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationLiveBoards">
				<xs:annotation>
					<xs:documentation>站別角度</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StationLiveBoard" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="StationID" type="xs:string">
										<xs:annotation>
											<xs:documentation>車站資料</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="StationName" type="NameType">
										<xs:annotation>
											<xs:documentation>車站資料</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="TrainNo" type="xs:string">
										<xs:annotation>
											<xs:documentation>車次代碼</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Direction" type="DirectionEnum">
										<xs:annotation>
											<xs:documentation>方向性描述</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="EndingStationID" type="xs:string">
										<xs:annotation>
											<xs:documentation>終點車站資料</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="EndingStationName" type="NameType">
										<xs:annotation>
											<xs:documentation>終點車站資料</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="TripLine" type="xs:string">
										<xs:annotation>
											<xs:documentation>山海線類型</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Platform" type="xs:string">
										<xs:annotation>
											<xs:documentation>停靠月台</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="TrainTypeID" type="xs:string">
										<xs:annotation>
											<xs:documentation>列車種類</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="TrainTypeName" type="NameType">
										<xs:annotation>
											<xs:documentation>車種名稱</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ScheduledArrivalTime" type="xs:string">
										<xs:annotation>
											<xs:documentation>表訂到站時刻HH:mm</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ScheduledDepartureTime" type="xs:string">
										<xs:annotation>
											<xs:documentation>表訂離站時刻HH:mm</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DelayTime" type="xs:integer">
										<xs:annotation>
											<xs:documentation>延誤分鐘</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="RunningStatus" type="RailRunningStatusEnum">
										<xs:annotation>
											<xs:documentation>列車狀態</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="UpdateTime" type="xs:dateTime">
										<xs:annotation>
											<xs:documentation>訊息更新時間</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TRATrainLiveBoardListType">
		<xs:annotation>
			<xs:documentation>軌道列車即時到離站資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainLiveBoards" type="TRATrainLiveBoardType">
				<xs:annotation>
					<xs:documentation>列車角度</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TRAAlertListType">
		<xs:annotation>
			<xs:documentation>台鐵通阻事件資料清單型別</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpdateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>資料更新時間</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateInterval" type="xs:int">
				<xs:annotation>
					<xs:documentation>資料更新週期(秒)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorityCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>業管機關簡碼</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Alerts">
				<xs:annotation>
					<xs:documentation>通阻事件</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Alert" type="TRAAlertType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=======[ ALLData Element Group]=======-->
	<xs:element name="TRAAllDataList">
		<xs:annotation>
			<xs:documentation>台鐵運具資料集清單</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TRANetworkList"/>
				<xs:element ref="TRAStationList"/>
				<xs:element ref="TRAStationExitList"/>
				<xs:element ref="TRAStationFacilityList"/>
				<xs:element ref="TRALineList"/>
				<xs:element ref="TRARouteList"/>
				<xs:element ref="TRAStationOfLineList"/>
				<xs:element ref="TRAStationOfRouteList"/>
				<xs:element ref="TRATrainTypeList"/>
				<xs:element ref="TRAODFareList"/>
				<xs:element ref="TRAGeneralTrainTimeTableList"/>
				<xs:element ref="TRAGeneralStationTimeTableList"/>
				<xs:element ref="TRASpecificTrainTimeTableList"/>
				<xs:element ref="TRADailyTrainTimeTableList"/>
				<xs:element ref="TRADailyStationTimeTableList"/>
				<xs:element ref="TRAStationLiveBoardList"/>
				<xs:element ref="TRATrainLiveBoardList"/>
				<xs:element ref="TRALineTransferList"/>
				<xs:element ref="TRAStationTransferList"/>
				<xs:element ref="TRAShapeList"/>
				<xs:element ref="TRANewsList"/>
				<xs:element ref="TRAAlertList"/>
				<xs:element ref="TRALineNetworkList"/>
				<xs:element ref="TRAOperatorList"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TRANetworkList" type="RailNetworkListType">
		<xs:annotation>
			<xs:documentation>網路資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TRAStationList" type="TRAStationListType">
		<xs:annotation>
			<xs:documentation>車站資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TRAStationExitList" type="RailStationExitListType">
		<xs:annotation>
			<xs:documentation>車站出入口資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TRAStationFacilityList" type="RailStationFacilityListType">
		<xs:annotation>
			<xs:documentation>車站設施資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TRALineList" type="TRALineListType">
		<xs:annotation>
			<xs:documentation>實體路線資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TRARouteList" type="RailRouteListType">
		<xs:annotation>
			<xs:documentation>營運路線資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TRAStationOfLineList" type="RailStationOfLineListType">
		<xs:annotation>
			<xs:documentation>實體路線站序資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TRAStationOfRouteList" type="RailStationOfRouteListType">
		<xs:annotation>
			<xs:documentation>營運路線站序資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TRATrainTypeList" type="RailTrainTypeListType">
		<xs:annotation>
			<xs:documentation>車種類型資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TRAODFareList" type="TRAODFareListType">
		<xs:annotation>
			<xs:documentation>起迄站收費資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TRAGeneralTrainTimeTableList" type="TRAGeneralTrainTimeTableListType">
		<xs:annotation>
			<xs:documentation>定期車次時刻表資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TRAGeneralStationTimeTableList" type="TRAGeneralStationTimeTableListType">
		<xs:annotation>
			<xs:documentation>定期站別時刻表資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TRASpecificTrainTimeTableList" type="TRASpecificTrainTimeTableListType">
		<xs:annotation>
			<xs:documentation>特殊車次時刻表資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TRADailyTrainTimeTableList" type="TRADailyTrainTimeTableListType">
		<xs:annotation>
			<xs:documentation>每日車次時刻表資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TRADailyStationTimeTableList" type="TRADailyStationTimeTableListType">
		<xs:annotation>
			<xs:documentation>每日站別時刻表資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TRAStationLiveBoardList" type="TRAStationLiveBoardListType">
		<xs:annotation>
			<xs:documentation>車站即時到離站資訊資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TRATrainLiveBoardList" type="RailTrainLiveBoardListType">
		<xs:annotation>
			<xs:documentation>列車即時到離站資訊資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TRALineTransferList" type="RailLineTransferListType">
		<xs:annotation>
			<xs:documentation>內部路線轉乘資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TRAStationTransferList" type="RailStationTransferListType">
		<xs:annotation>
			<xs:documentation>車站跨運具轉乘資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TRAShapeList" type="RailShapeListType">
		<xs:annotation>
			<xs:documentation>空間線型資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TRANewsList" type="RailNewsListType">
		<xs:annotation>
			<xs:documentation>最新消息資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TRAAlertList" type="TRAAlertListType">
		<xs:annotation>
			<xs:documentation>營運通阻資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TRALineNetworkList" type="RailLineNetworkListType">
		<xs:annotation>
			<xs:documentation>路線支線清單</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TRAOperatorList" type="RailOperatorListType">
		<xs:annotation>
			<xs:documentation>營運業者資料清單</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
